In [2]:
import pandas as pd

In [3]:
period = 'AM'

trial = 0

In [4]:
node_data = pd.read_csv(period + '/' + str(trial) + '/od_travel_times-' + period + '-' + str(trial) + '.csv')

In [6]:
node_data[node_data['cutoff_time']<90]

,origin,destination,o_node,d_node,base_time,buffer_length,cutoff_time,arrival_time,arrival_hour,arrival_minute,constrained_node
0,1001,1018,1001-0-7-1,1018-0-99-99,38.0,6.333333,53.0,54.0,7,54.0,1018-9999-7-54
1,1001,1035,1001-0-7-1,1035-0-99-99,43.0,7.166667,58.0,59.0,7,59.0,1035-9999-7-59
2,1001,1057,1001-0-7-1,1057-0-99-99,48.0,8.000000,63.0,64.0,8,4.0,1057-9999-8-4
3,1001,1068,1001-0-7-1,1068-0-99-99,54.0,9.000000,69.0,70.0,8,10.0,1068-9999-8-10
5,1001,1275,1001-0-7-1,1275-0-99-99,35.0,5.833333,50.0,51.0,7,51.0,1275-9999-7-51
...,...,...,...,...,...,...,...,...,...,...,...
7439,1621,1623,1621-0-7-1,1623-0-99-99,21.0,5.000000,36.0,37.0,7,37.0,1623-9999-7-37
7444,1622,1493,1622-0-7-1,1493-0-99-99,43.0,7.166667,58.0,59.0,7,59.0,1493-9999-7-59
7445,1622,1502,1622-0-7-1,1502-0-99-99,67.0,11.166667,82.0,83.0,8,23.0,1502-9999-8-23
7446,1622,1620,1622-0-7-1,1620-0-99-99,20.0,5.000000,35.0,36.0,7,36.0,1620-9999-7-36
7454,1624,1493,1624-0-7-1,1493-0-99-99,44.0,7.333333,59.0,60.0,8,0.0,1493-9999-8-0

In [7]:
node_data[node_data['cutoff_time']<80]

,origin,destination,o_node,d_node,base_time,buffer_length,cutoff_time,arrival_time,arrival_hour,arrival_minute,constrained_node
0,1001,1018,1001-0-7-1,1018-0-99-99,38.0,6.333333,53.0,54.0,7,54.0,1018-9999-7-54
1,1001,1035,1001-0-7-1,1035-0-99-99,43.0,7.166667,58.0,59.0,7,59.0,1035-9999-7-59
2,1001,1057,1001-0-7-1,1057-0-99-99,48.0,8.000000,63.0,64.0,8,4.0,1057-9999-8-4
3,1001,1068,1001-0-7-1,1068-0-99-99,54.0,9.000000,69.0,70.0,8,10.0,1068-9999-8-10
5,1001,1275,1001-0-7-1,1275-0-99-99,35.0,5.833333,50.0,51.0,7,51.0,1275-9999-7-51
...,...,...,...,...,...,...,...,...,...,...,...
7438,1621,1613,1621-0-7-1,1613-0-99-99,34.0,5.666667,49.0,50.0,7,50.0,1613-9999-7-50
7439,1621,1623,1621-0-7-1,1623-0-99-99,21.0,5.000000,36.0,37.0,7,37.0,1623-9999-7-37
7444,1622,1493,1622-0-7-1,1493-0-99-99,43.0,7.166667,58.0,59.0,7,59.0,1493-9999-7-59
7446,1622,1620,1622-0-7-1,1620-0-99-99,20.0,5.000000,35.0,36.0,7,36.0,1620-9999-7-36
7454,1624,1493,1624-0-7-1,1493-0-99-99,44.0,7.333333,59.0,60.0,8,0.0,1493-9999-8-0

In [8]:
node_data[node_data['cutoff_time']>90]

,origin,destination,o_node,d_node,base_time,buffer_length,cutoff_time,arrival_time,arrival_hour,arrival_minute,constrained_node
6,1001,1566,1001-0-7-1,1566-0-99-99,89.0,14.833333,104.0,105.0,8,45.0,1566-9999-8-45
7,1002,1223,1002-0-7-1,1223-0-99-99,76.0,12.666667,91.0,92.0,8,32.0,1223-9999-8-32
17,1014,1601,1014-0-7-1,1601-0-99-99,93.0,15.000000,108.0,109.0,8,49.0,1601-9999-8-49
48,1016,1409,1016-0-7-1,1409-0-99-99,81.0,13.500000,96.0,97.0,8,37.0,1409-9999-8-37
77,1017,1292,1017-0-7-1,1292-0-99-99,79.0,13.166667,94.0,95.0,8,35.0,1292-9999-8-35
...,...,...,...,...,...,...,...,...,...,...,...
7450,1624,1055,1624-0-7-1,1055-0-99-99,108.0,15.000000,123.0,124.0,9,4.0,1055-9999-9-4
7451,1624,1074,1624-0-7-1,1074-0-99-99,106.0,15.000000,121.0,122.0,9,2.0,1074-9999-9-2
7452,1624,1371,1624-0-7-1,1371-0-99-99,148.0,15.000000,163.0,164.0,9,44.0,1371-9999-9-44
7453,1624,1391,1624-0-7-1,1391-0-99-99,126.0,15.000000,141.0,142.0,9,22.0,1391-9999-9-22
7455,1624,1525,1624-0-7-1,1525-0-99-99,77.0,12.833333,92.0,93.0,8,33.0,1525-9999-8-33

In [1]:
import igraph

In [2]:
period = 'MD'
root = '/Volumes/Data2/RST/notebook/'

G = igraph.Graph.Read_GraphML(f = root + 'networks/' + period + '-TE-16-5-constrained.graphml')

In [3]:
G.vs.select(id_eq = '1300-0-12-0')[0]

igraph.Vertex(<igraph.Graph object at 0x7fa01085a850>, 1630750, {'id': '1300-0-12-0'})

In [5]:
del G

period = 'PM'
root = '/Volumes/Data2/RST/notebook/'

G = igraph.Graph.Read_GraphML(f = root + 'networks/' + period + '-TE-16-5-constrained.graphml')

In [6]:
G.vs.select(id_eq = '1300-0-18-0')[0]

igraph.Vertex(<igraph.Graph object at 0x7fa01085a950>, 1647896, {'id': '1300-0-18-0'})

In [2]:
#del G

period = 'EM'
root = '/Volumes/Data2/RST/notebook/'

G = igraph.Graph.Read_GraphML(f = root + 'networks/' + period + '-TE-16-5-constrained.graphml')

In [3]:
G.vs.select(id_eq = '1300-0-5-0')[0]

igraph.Vertex(<igraph.Graph object at 0x7f959605a850>, 1368324, {'id': '1300-0-5-0'})