In [1]:
import networkx as nx
import pandas as pd
import numpy as np
from scipy import stats
import statistics
import itertools

In [5]:
simplify_dir = '/Volumes/Data2/RST/notebook/GTFS/TTC_2016-10-03/GIS Simplify/'
gtfs_dir = '/Volumes/Data2/RST/notebook/GTFS/TTC_2016-10-03/'

In [6]:
# simplify_dir = 'D:/RST/RST/notebook/GTFS/TTC_2016-10-03/GIS Simplify/'

# gtfs_dir = 'D:/RST/notebook/GTFS/TTC_2016-10-03/'

In [9]:
ward_int = pd.read_csv('/Volumes/Data2/RST/notebook/GIS/int_wards.csv')

#ward_int = pd.read_csv('D:/RST/notebook/GIS/int_wards.csv')

ward_int['INT_ID_STR'] = ward_int['INT_ID'].astype(str)

In [16]:
period = 'EV'
period_hr = 20

In [17]:
# G = nx.read_gexf('D:/RST/notebook/networks/' + period +'-RM-16-singleDi.gexf')
# graph_data = pd.read_csv('D:/RST/notebook/networks/' + period +'-RM-16-singleDi.csv')


G = nx.read_gexf('/Volumes/Data2/RST/notebook/networks/' + period +'-RM-16-singleDi.gexf')
graph_data = pd.read_csv('/Volumes/Data2/RST/notebook/networks/' + period +'-RM-16-singleDi.csv')



stop_times_od = pd.read_csv(gtfs_dir + 'stop_times_full.csv')

In [18]:
route_dir = stop_times_od[stop_times_od['hr_o'] == period_hr]
route_dir = route_dir[['INT_ID_o', 'INT_ID_d', 'route_short_name']].drop_duplicates()
route_dir = route_dir.groupby(['INT_ID_o', 'INT_ID_d'])['route_short_name'].apply(list).reset_index()
route_dir = route_dir.merge(graph_data)

In [19]:
def func(row):

    single_cycle = row.copy()
    single_cycle.append(single_cycle[0])
    single_cycle.append(None)


    cycle_pairs = list(zip(single_cycle [::1], single_cycle [1::1]))[:-1]
    cycle_pairs = [list(map(int, sublist)) for sublist in cycle_pairs]
    cycle_df = route_dir.merge(pd.DataFrame.from_records(cycle_pairs, columns = ['INT_ID_o', 'INT_ID_d']))

    first_route = cycle_df.iloc[0,2]

    #check for cycles where it can be traversed by 1 route, ie eliminate out and back trips
    for route in first_route:
        if len(cycle_df[cycle_df['route_short_name'].apply(lambda x: route in x)]) == len(cycle_df):
            return ward,0,0,1
            break
        else:
            return ward, 1, cycle_df['scaled_freq'].min(), 0

In [ ]:
result_list = []
ward_n = []

ward = 3



G_ward = G.copy()


G_ward.remove_nodes_from(list(ward_int[ward_int['AREA_SHORT_CODE'] != ward]['INT_ID_STR']))

N = G_ward.size()

#find cycles
cycle_list = list(nx.simple_cycles(G_ward))
print('Ward ' + str(ward) + ', Size ' + str(N) + ' Found '+ str(len(cycle_list)) + ' cycles')

temp_list = list(map(func, cycle_list))

result_list.append(temp_list)
ward_n.append([ward, N])

In [10]:
combined = list(itertools.chain.from_iterable(result_list))
result_df = pd.DataFrame.from_records(
    combined, columns = ['ward', 'cycles', 'scaled_cycles', 'removed_cycles']).groupby(
    'ward').sum().reset_index()
result_df = result_df.merge(pd.DataFrame.from_records(ward_n, columns = ['ward', 'N']))
result_df

    ward   cycles  scaled_cycles  removed_cycles    N
0      1   173083    5042.187500             173  384
1      2      108       5.612500             155  324
2      3  1221906   30748.525001             187  417
3      4     3068      85.950000              97  215
4      5   341436   11462.787500             158  368
5      6     6407     213.900000             127  303
6      7     6768     256.587500             118  285
7      8     1288      34.362500             134  275
8      9      263      12.000000              88  187
9     10      198       8.912500              53  134
10    11     4171     121.987500              82  190
11    12       22       0.862500              67  158
12    13     1160      19.237500              62  150
13    14     8642     363.925000             121  269
14    15       42       1.612500             112  251
15    16      725      20.275000              72  197
16    17      265      14.487500              95  207
17    18      268       7.587500              90  209
18    19       73       4.862500              97  238
19    20     2199      98.787500             144  322
20    21     6601     355.000000             128  280
21    22    37292     913.262500             107  228
22    23    63852    1645.512500             116  272
23    24       12       0.762500              64  146
24    25       31       1.937500             103  270

In [11]:
result_df['cycle_availability'] = result_df['scaled_cycles']/(2 * result_df['N'] + 5)

In [12]:
result_df = result_df.merge(ward_int[['AREA_NAME', 'AREA_SHORT_CODE']].drop_duplicates(), left_on = ['ward'], 
                 right_on = ['AREA_SHORT_CODE']).rename(columns = {'AREA_NAME':'ward_name'}).drop(
    columns = ['AREA_SHORT_CODE'])
result_df.sort_values(by = 'cycle_availability', ascending = False)

,ward,cycles,scaled_cycles,removed_cycles,N,cycle_availability,ward_name
2,3,1221906,30748.525001,187,417,36.649017,Etobicoke-Lakeshore
4,5,341436,11462.787500,158,368,15.469349,York South-Weston
0,1,173083,5042.187500,173,384,6.522882,Etobicoke North
22,23,63852,1645.512500,116,272,2.997291,Scarborough North
21,22,37292,913.262500,107,228,1.981047,Scarborough-Agincourt
13,14,8642,363.925000,121,269,0.670212,Toronto-Danforth
20,21,6601,355.000000,128,280,0.628319,Scarborough Centre
6,7,6768,256.587500,118,285,0.446239,Humber River-Black Creek
5,6,6407,213.900000,127,303,0.350082,York Centre
10,11,4171,121.987500,82,190,0.316851,University-Rosedale
3,4,3068,85.950000,97,215,0.197586,Parkdale-High Park
19,20,2199,98.787500,144,322,0.152215,Scarborough Southwest
12,13,1160,19.237500,62,150,0.063074,Toronto Centre
7,8,1288,34.362500,134,275,0.061914,Eglinton-Lawrence
15,16,725,20.275000,72,197,0.050815,Don Valley East
16,17,265,14.487500,95,207,0.034576,Don Valley North
9,10,198,8.912500,53,134,0.032647,Spadina-Fort York
8,9,263,12.000000,88,187,0.031662,Davenport
17,18,268,7.587500,90,209,0.017937,Willowdale
18,19,73,4.862500,97,238,0.010109,Beaches-East York
1,2,108,5.612500,155,324,0.008595,Etobicoke Centre
24,25,31,1.937500,103,270,0.003555,Scarborough-Rouge Park
14,15,42,1.612500,112,251,0.003180,Don Valley West
11,12,22,0.862500,67,158,0.002687,Toronto-St. Paul's
23,24,12,0.762500,64,146,0.002567,Scarborough-Guildwood

In [13]:
result_df.to_csv('cycles-' + period + '.csv', index = False)