In [4]:
import networkx as nx
import pandas as pd
import numpy as np
from scipy import stats
import statistics

In [5]:
simplify_dir = '/Volumes/Data2/RST/notebook/GTFS/TTC_2016-10-03/GIS Simplify/'
gtfs_dir = '/Volumes/Data2/RST/notebook/GTFS/TTC_2016-10-03/'

In [6]:
G = nx.read_gexf('/Volumes/Data2/RST/notebook/networks/EM-RM-16-singleDi.gexf')

In [8]:
graph_data = pd.read_csv('/Volumes/Data2/RST/notebook/networks/EM-RM-16-singleDi.csv')

In [9]:
clustering = nx.algorithms.cluster.clustering(G, weight = 'freq')

cluster_df = pd.DataFrame([[key, value] for key, value in clustering.items()], columns = ['INT_ID', 'cc'])

In [10]:
cluster_df['INT_ID'] = cluster_df['INT_ID'].astype(int)
cluster_df.sort_values(by = 'cc', ascending = False)

        INT_ID        cc
858   13455212  0.064518
1349  13464042  0.064361
764   13453893  0.062500
424   13448244  0.050864
1431  13465263  0.048525
...        ...       ...
630   13451566  0.000000
629   13451553  0.000000
628   13451519  0.000000
627   13451515  0.000000
1750         2  0.000000

[1751 rows x 2 columns]

In [12]:
ward_int = pd.read_csv('/Volumes/Data2/RST/notebook/GIS/int_wards.csv')

In [13]:
ward_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3935 entries, 0 to 3934
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AREA_NAME        3935 non-null   object
 1   AREA_SHORT_CODE  3935 non-null   int64
 2   INT_ID           3935 non-null   int64
dtypes: int64(2), object(1)
memory usage: 92.4+ KB

In [14]:
cluster_df = cluster_df.merge(ward_int)

In [15]:
neighbor_degree = []
for node in list(G.nodes()):
    if len(list(G.neighbors(node))) == 0:
        neighbor_degree.append([int(node),0,0])
    elif (G.degree(node) - 2) > 0:
        neighbor_degree.append([int(node), 
                                statistics.mean([G.degree(n, weight = 'scaled_freq') for n in G.neighbors(node)]),
                                G.degree(node, weight = 'scaled_freq')])
    else:
        neighbor_degree.append([int(node), 
                                statistics.mean([G.degree(n, weight = 'scaled_freq') for n in G.neighbors(node)]),
                               0])

In [16]:
cluster_df = cluster_df.merge(pd.DataFrame.from_records(neighbor_degree, columns = ['INT_ID', 'neighbor_avg',
                                                                                   'transfer_avg']))

In [17]:
cluster_df

,INT_ID,cc,AREA_NAME,AREA_SHORT_CODE,neighbor_avg,transfer_avg
0,100,0.000000,Spadina-Fort York,10,0.475000,0.4125
1,101,0.000000,Toronto Centre,13,0.290625,0.5500
2,102,0.000000,Toronto Centre,13,0.303125,0.5500
3,103,0.009705,University-Rosedale,11,0.350000,0.4625
4,103,0.009705,Toronto Centre,13,0.350000,0.4625
...,...,...,...,...,...,...
2022,13464280,0.000000,Etobicoke Centre,2,0.000000,0.0000
2023,13464483,0.000000,Etobicoke Centre,2,0.000000,0.0000
2024,13467918,0.000000,Etobicoke Centre,2,0.000000,0.0000
2025,13502957,0.000000,Scarborough-Rouge Park,25,0.000000,0.0000
2026,13502957,0.000000,Scarborough-Guildwood,24,0.000000,0.0000

In [18]:
avg_cluster = []
for i  in range(1, 26, 1):
    int_list = list(cluster_df[cluster_df['AREA_SHORT_CODE']==i]['INT_ID'].astype(str))
    G_ward = G.subgraph(int_list).copy()
    avg_cluster.append([i, 2 * G_ward.number_of_edges()/(G_ward.number_of_nodes() ** 2)])

In [19]:
cluster_ward = cluster_df.groupby('AREA_SHORT_CODE').mean()[['cc', 'neighbor_avg', 'transfer_avg']].reset_index().copy()
cluster_ward = cluster_ward.merge(pd.DataFrame.from_records(avg_cluster, columns = ['AREA_SHORT_CODE', 'mean_random']))

In [20]:
cluster_ward['cc_normalized'] = cluster_ward['cc']/cluster_ward['mean_random']

In [21]:
cluster_ward = cluster_ward.merge(ward_int[['AREA_SHORT_CODE', 'AREA_NAME']].drop_duplicates())

In [22]:
cluster_ward.sort_values(by = 'cc_normalized', ascending = False).tail(10)

,AREA_SHORT_CODE,cc,neighbor_avg,transfer_avg,mean_random,cc_normalized,AREA_NAME
9,10,0.001224,0.170235,0.131649,0.078769,0.015535,Spadina-Fort York
6,7,0.000566,0.133310,0.110955,0.038379,0.014758,Humber River-Black Creek
16,17,0.000826,0.121004,0.107377,0.060736,0.013595,Don Valley North
18,19,0.000779,0.147240,0.132917,0.062222,0.012527,Beaches-East York
23,24,0.000676,0.125952,0.119181,0.065993,0.010241,Scarborough-Guildwood
21,22,0.000437,0.121806,0.108167,0.049067,0.008907,Scarborough-Agincourt
13,14,0.000304,0.151724,0.124138,0.044920,0.006771,Toronto-Danforth
2,3,0.000159,0.116307,0.099659,0.031901,0.004987,Etobicoke-Lakeshore
15,16,0.000250,0.128993,0.119792,0.067222,0.003719,Don Valley East
0,1,0.000054,0.096770,0.082946,0.028724,0.001878,Etobicoke North

In [ ]:
cluster_ward.sort_values(by = 'cc', ascending = False).tail(10)

In [ ]:
cluster_ward.sort_values(by = 'neighbor_avg', ascending = False).tail(10)

In [ ]:
cluster_ward.sort_values(by = 'transfer_avg', ascending = False).tail(10)