In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv('avl_2019.tsv', sep='\t', names=['id', 'veh', 'route', 'branch', 'trip', 'direction', 'last_seen-gmt', 'long','lat','sched-time', 'stop_id','neartype'])

In [3]:
df

,id,veh,route,branch,trip,direction,last_seen-gmt,long,lat,sched-time,stop_id,neartype
0,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:00:07,-79.489944,43.613708,2019-11-24 04:01:04,4546,1
1,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:02:07,-79.494522,43.612694,2019-11-24 04:01:40,10215,2
2,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:02:37,-79.496460,43.612366,2019-11-24 04:01:56,7838,1
3,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:03:08,-79.497856,43.615086,2019-11-24 04:02:39,4107,1
4,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:03:37,-79.498688,43.617191,2019-11-24 04:03:07,2092,3
...,...,...,...,...,...,...,...,...,...,...,...,...
77082266,165250795,3362,107,107_0_107,39264294,0,2020-01-04 04:26:20,-79.475182,43.755470,2020-01-04 04:24:12,2042,3
77082267,165250795,3362,107,107_0_107,39264294,0,2020-01-04 04:26:51,-79.471535,43.754833,2020-01-04 04:25:11,2042,2
77082268,165250795,3362,107,107_0_107,39264294,0,2020-01-04 04:27:21,-79.467781,43.752335,2020-01-04 04:26:31,3355,3
77082269,165250795,3362,107,107_0_107,39264294,0,2020-01-04 04:27:50,-79.465363,43.750336,2020-01-04 04:27:27,3355,2
77082270,165250795,3362,107,107_0_107,39264294,0,2020-01-04 04:28:20,-79.462448,43.750446,2020-01-04 04:28:13,14178,3

In [4]:
df[(df['neartype'] == "\\N") & (df['stop_id'] == "\\N")]

,id,veh,route,branch,trip,direction,last_seen-gmt,long,lat,sched-time,stop_id,neartype
243,148762658,4461,510,510_1_510A,39069021,1,2019-11-24 04:01:31,-79.328064,43.641201,\N,\N,\N
3120,148763088,3508,985,985_1_985A,39081859,1,2019-11-24 04:02:37,-79.258347,43.774513,\N,\N,\N
3121,148763088,3508,985,985_1_985A,39081859,1,2019-11-24 04:03:08,-79.257896,43.774513,\N,\N,\N
3122,148763088,3508,985,985_1_985A,39081859,1,2019-11-24 04:03:37,-79.256401,43.774902,\N,\N,\N
3123,148763088,3508,985,985_1_985A,39081859,1,2019-11-24 04:04:08,-79.256966,43.774502,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...
77054926,165245331,3557,985,985_1_985A,39302155,1,2020-01-04 03:36:50,-79.260902,43.773685,\N,\N,\N
77073618,165249234,9064,985,985_1_985A,39302151,1,2020-01-04 03:52:20,-79.257896,43.774513,\N,\N,\N
77073619,165249234,9064,985,985_1_985A,39302151,1,2020-01-04 03:54:50,-79.256676,43.774868,\N,\N,\N
77073620,165249234,9064,985,985_1_985A,39302151,1,2020-01-04 03:55:20,-79.258698,43.774097,\N,\N,\N
77073621,165249234,9064,985,985_1_985A,39302151,1,2020-01-04 03:55:49,-79.260628,43.773773,\N,\N,\N

In [5]:
df[(df['neartype'] == "\\N")]

,id,veh,route,branch,trip,direction,last_seen-gmt,long,lat,sched-time,stop_id,neartype
243,148762658,4461,510,510_1_510A,39069021,1,2019-11-24 04:01:31,-79.328064,43.641201,\N,\N,\N
3120,148763088,3508,985,985_1_985A,39081859,1,2019-11-24 04:02:37,-79.258347,43.774513,\N,\N,\N
3121,148763088,3508,985,985_1_985A,39081859,1,2019-11-24 04:03:08,-79.257896,43.774513,\N,\N,\N
3122,148763088,3508,985,985_1_985A,39081859,1,2019-11-24 04:03:37,-79.256401,43.774902,\N,\N,\N
3123,148763088,3508,985,985_1_985A,39081859,1,2019-11-24 04:04:08,-79.256966,43.774502,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...
77054926,165245331,3557,985,985_1_985A,39302155,1,2020-01-04 03:36:50,-79.260902,43.773685,\N,\N,\N
77073618,165249234,9064,985,985_1_985A,39302151,1,2020-01-04 03:52:20,-79.257896,43.774513,\N,\N,\N
77073619,165249234,9064,985,985_1_985A,39302151,1,2020-01-04 03:54:50,-79.256676,43.774868,\N,\N,\N
77073620,165249234,9064,985,985_1_985A,39302151,1,2020-01-04 03:55:20,-79.258698,43.774097,\N,\N,\N
77073621,165249234,9064,985,985_1_985A,39302151,1,2020-01-04 03:55:49,-79.260628,43.773773,\N,\N,\N

In [6]:
df = df[~(df['neartype'] == "\\N")]

In [7]:
df['stop_id'] = df['stop_id'].str.split('_', expand = True)[0].astype(int)

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_79665/3260432600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['stop_id'] = df['stop_id'].str.split('_', expand = True)[0].astype(int)

In [8]:
df['timestamp'] = pd.to_datetime(df['last_seen-gmt']).dt.tz_localize('GMT').dt.tz_convert('America/Toronto')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_79665/3150416397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['timestamp'] = pd.to_datetime(df['last_seen-gmt']).dt.tz_localize('GMT').dt.tz_convert('America/Toronto')

In [9]:
df['neartype'] = df['neartype'].astype(int)
df['neartype'] = np.where(df['neartype'] == 0, 1.5, df['neartype'])

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_79665/4233400103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['neartype'] = df['neartype'].astype(int)
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_79665/4233400103.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['neartype'] = np.where(df['neartype'] == 0, 1.5, df['neartype'])

In [10]:
df[df['id'] == 148762615]

,id,veh,route,branch,trip,direction,last_seen-gmt,long,lat,sched-time,stop_id,neartype,timestamp
0,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:00:07,-79.489944,43.613708,2019-11-24 04:01:04,4546,1.0,2019-11-23 23:00:07-05:00
1,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:02:07,-79.494522,43.612694,2019-11-24 04:01:40,10215,2.0,2019-11-23 23:02:07-05:00
2,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:02:37,-79.496460,43.612366,2019-11-24 04:01:56,7838,1.0,2019-11-23 23:02:37-05:00
3,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:03:08,-79.497856,43.615086,2019-11-24 04:02:39,4107,1.0,2019-11-23 23:03:08-05:00
4,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:03:37,-79.498688,43.617191,2019-11-24 04:03:07,2092,3.0,2019-11-23 23:03:37-05:00
5,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:04:08,-79.499771,43.619801,2019-11-24 04:03:42,1003,1.0,2019-11-23 23:04:08-05:00
6,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:04:37,-79.500267,43.620705,2019-11-24 04:03:55,5888,3.0,2019-11-23 23:04:37-05:00
7,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:05:08,-79.500450,43.621502,2019-11-24 04:04:05,5888,1.0,2019-11-23 23:05:08-05:00
8,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:05:37,-79.501083,43.622940,2019-11-24 04:04:21,8415,3.0,2019-11-23 23:05:37-05:00
9,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:06:08,-79.502419,43.626049,2019-11-24 04:04:56,4601,1.0,2019-11-23 23:06:08-05:00
10,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:06:38,-79.502907,43.627083,2019-11-24 04:05:09,4716,3.0,2019-11-23 23:06:38-05:00
11,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:07:07,-79.504402,43.630730,2019-11-24 04:05:56,7537,1.0,2019-11-23 23:07:07-05:00
12,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:07:23,-79.505836,43.634129,2019-11-24 04:06:23,6247,4.0,2019-11-23 23:07:23-05:00
13,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:07:38,-79.505836,43.634129,2019-11-24 04:06:40,2586,3.0,2019-11-23 23:07:38-05:00
14,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:08:07,-79.506859,43.636543,2019-11-24 04:07:11,6134,3.0,2019-11-23 23:08:07-05:00
15,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:08:37,-79.507210,43.637451,2019-11-24 04:07:23,6134,1.0,2019-11-23 23:08:37-05:00
16,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:09:07,-79.508522,43.639324,2019-11-24 04:07:48,12887,1.0,2019-11-23 23:09:07-05:00
17,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:09:22,-79.510101,43.644512,2019-11-24 04:08:23,7882,4.0,2019-11-23 23:09:22-05:00
18,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:09:37,-79.510101,43.644512,2019-11-24 04:08:53,3891,1.0,2019-11-23 23:09:37-05:00
19,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:10:07,-79.511093,43.646973,2019-11-24 04:09:25,1001,1.0,2019-11-23 23:10:07-05:00
20,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:10:37,-79.511642,43.648029,2019-11-24 04:09:38,1001,2.0,2019-11-23 23:10:37-05:00
21,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:11:07,-79.511276,43.648155,2019-11-24 04:09:45,14272,3.0,2019-11-23 23:11:07-05:00

In [11]:
df = df.sort_values(by = ['id', 'trip','stop_id', 'neartype'])


    0: near the stop, but not sure if is past or approaching it 
    1: Quite close to the stop 
    2: Past the stop 
    3: Approaching the stop 
    4: Passed by the stop so fast there was no reported location near it,

In [12]:
df = df.drop_duplicates(subset = ['id', 'trip', 'direction', 'stop_id'], keep = 'first')

In [13]:
df = df.sort_values(by = ['id', 'trip', 'timestamp', 'stop_id'])

In [14]:
df[df['id'] == 148762615]

,id,veh,route,branch,trip,direction,last_seen-gmt,long,lat,sched-time,stop_id,neartype,timestamp
0,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:00:07,-79.489944,43.613708,2019-11-24 04:01:04,4546,1.0,2019-11-23 23:00:07-05:00
1,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:02:07,-79.494522,43.612694,2019-11-24 04:01:40,10215,2.0,2019-11-23 23:02:07-05:00
2,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:02:37,-79.496460,43.612366,2019-11-24 04:01:56,7838,1.0,2019-11-23 23:02:37-05:00
3,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:03:08,-79.497856,43.615086,2019-11-24 04:02:39,4107,1.0,2019-11-23 23:03:08-05:00
4,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:03:37,-79.498688,43.617191,2019-11-24 04:03:07,2092,3.0,2019-11-23 23:03:37-05:00
5,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:04:08,-79.499771,43.619801,2019-11-24 04:03:42,1003,1.0,2019-11-23 23:04:08-05:00
7,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:05:08,-79.500450,43.621502,2019-11-24 04:04:05,5888,1.0,2019-11-23 23:05:08-05:00
8,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:05:37,-79.501083,43.622940,2019-11-24 04:04:21,8415,3.0,2019-11-23 23:05:37-05:00
9,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:06:08,-79.502419,43.626049,2019-11-24 04:04:56,4601,1.0,2019-11-23 23:06:08-05:00
10,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:06:38,-79.502907,43.627083,2019-11-24 04:05:09,4716,3.0,2019-11-23 23:06:38-05:00
11,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:07:07,-79.504402,43.630730,2019-11-24 04:05:56,7537,1.0,2019-11-23 23:07:07-05:00
12,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:07:23,-79.505836,43.634129,2019-11-24 04:06:23,6247,4.0,2019-11-23 23:07:23-05:00
13,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:07:38,-79.505836,43.634129,2019-11-24 04:06:40,2586,3.0,2019-11-23 23:07:38-05:00
15,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:08:37,-79.507210,43.637451,2019-11-24 04:07:23,6134,1.0,2019-11-23 23:08:37-05:00
16,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:09:07,-79.508522,43.639324,2019-11-24 04:07:48,12887,1.0,2019-11-23 23:09:07-05:00
17,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:09:22,-79.510101,43.644512,2019-11-24 04:08:23,7882,4.0,2019-11-23 23:09:22-05:00
18,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:09:37,-79.510101,43.644512,2019-11-24 04:08:53,3891,1.0,2019-11-23 23:09:37-05:00
19,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:10:07,-79.511093,43.646973,2019-11-24 04:09:25,1001,1.0,2019-11-23 23:10:07-05:00
21,148762615,8025,76,76_1_76A,39075663,1,2019-11-24 04:11:07,-79.511276,43.648155,2019-11-24 04:09:45,14272,3.0,2019-11-23 23:11:07-05:00

In [15]:
df['weekday'] = df['timestamp'].dt.weekday

In [16]:
df['hour'] = df['timestamp'].dt.hour

In [17]:
df['period'] = None

In [18]:
em_df = df.copy()
em_df['period'] = np.where((em_df['weekday'] < 5) & (em_df['hour'].isin([4,5,6,7,8])), 'EM', em_df['period'])

em_df = em_df[em_df['period'] == 'EM']

In [19]:
am_df = df.copy()
am_df['period'] = np.where((am_df['weekday'] < 5) & (am_df['hour'].isin([7,8,9,10,11])), 'AM', am_df['period'])

am_df = am_df[am_df['period'] == 'AM']

In [20]:
md_df = df.copy()
md_df['period'] = np.where((md_df['weekday'] < 5) & (md_df['hour'].isin([11,12,13,14,15])), 'MD', md_df['period'])

md_df = md_df[md_df['period'] == 'MD']

In [21]:
pm_df = df.copy()
pm_df['period'] = np.where((pm_df['weekday'] < 5) & (pm_df['hour'].isin([17,18,19,20,21])), 'PM', pm_df['period'])

pm_df = pm_df[pm_df['period'] == 'PM']

In [22]:
ev_df = df.copy()

ev_df['period'] = np.where((ev_df['weekday'] < 5) & (ev_df['hour'].isin([20,21,22,23])), 'EV', ev_df['period'])
ev_df['period'] = np.where((ev_df['weekday'].isin([1,2,3,4,5])) & (ev_df['hour'].isin([0])), 'EV', ev_df['period'])

ev_df = ev_df[ev_df['period'] == 'EV']

In [23]:
am_df['date'] = am_df['timestamp'].dt.date.astype(str)
em_df['date'] = em_df['timestamp'].dt.date.astype(str)
pm_df['date'] = pm_df['timestamp'].dt.date.astype(str)
md_df['date'] = md_df['timestamp'].dt.date.astype(str)

In [24]:
ev_df['date'] = np.where(ev_df['hour'] == 0, (ev_df['timestamp'].dt.date - datetime.timedelta(days = 1)).astype(str), ev_df['timestamp'].dt.date.astype(str))

In [25]:
excluded_dates = ['2019-12-24', '2019-12-25', '2019-12-26', '2019-12-31', '2020-01-01']

In [26]:
am_df = am_df[~am_df['date'].isin(excluded_dates)]
pm_df = pm_df[~pm_df['date'].isin(excluded_dates)]
md_df = md_df[~md_df['date'].isin(excluded_dates)]
ev_df = ev_df[~ev_df['date'].isin(excluded_dates)]
em_df = em_df[~em_df['date'].isin(excluded_dates)]

In [27]:
dates = list(am_df['date'].drop_duplicates())

In [28]:
df_list = [em_df, am_df, md_df, pm_df, ev_df]

In [29]:
for df_i in df_list:

    period = df_i['period'].drop_duplicates().iloc[0]
    
    for date in dates:
        temp = df_i[df_i['date'] == date]
        temp[['route', 'trip', 'id', 'veh', 'direction', 'stop_id', 'timestamp', 'period', 'date']].to_csv(
            'cleaned_surface/raw_surface_' + date + '_' + period + '_.csv', index = False)