In [6]:
import pandas as pd
import numpy as np
import datetime

In [7]:
df = pd.read_csv('cleaned_subway/raw_subway_2019-11-29_PM.csv')

In [8]:
df['request_date'] = pd.to_datetime(df['request_date'])

In [9]:
df = df.sort_values(by = 'timint')

In [10]:
df['platformid'] = df['station_char'].str[3]

In [11]:
df

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
115970,738032,34288841325,QUN2,YUS,0.000000,South,196,AtStation,18,1,2019-11-29 20:59:43,10417,2019-11-29 20:59:43.688017-05:00,2019-11-29,20,4,PM,2
42287,687227,34285606344,YIE2,SHEP,0.000000,West,814,Delayed,30,1,2019-11-29 18:28:44,9705,2019-11-29 18:28:43.612801-05:00,2019-11-29,18,4,PM,2
42284,687227,34285606050,SHP1,YUS,0.000000,North,115,AtStation,30,1,2019-11-29 18:28:44,9705,2019-11-29 18:28:43.612801-05:00,2019-11-29,18,4,PM,1
118399,740796,34288146754,OSS1,BD,0.000000,East,222,AtStation,44,2,2019-11-29 20:24:52,10454,2019-11-29 20:24:51.302882-05:00,2019-11-29,20,4,PM,1
131594,750754,34287205166,PAP1,BD,0.000000,East,241,AtStation,55,2,2019-11-29 19:41:49,10592,2019-11-29 19:41:51.291830-05:00,2019-11-29,19,4,PM,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36233,684203,34287938682,KEN1,BD,17.334796,East,206,Arriving,63,2,2019-11-29 20:14:49,9663,2019-11-29 20:14:51.294143-05:00,2019-11-29,20,4,PM,1
15455,668422,34282700263,WIL1,YUS,17.460351,North,158,Arriving,2,1,2019-11-29 16:15:43,9439,2019-11-29 16:15:43.598633-05:00,2019-11-29,16,4,PM,1
115411,737942,34282381405,WIL1,YUS,17.460351,North,152,Arriving,2,1,2019-11-29 16:01:42,10416,2019-11-29 16:01:43.904510-05:00,2019-11-29,16,4,PM,1
38955,685945,34282764416,WIL1,YUS,17.715351,North,159,Arriving,2,1,2019-11-29 16:18:42,9688,2019-11-29 16:18:43.638384-05:00,2019-11-29,16,4,PM,1
36234,684203,34287938683,KEN1,BD,18.301702,East,207,Arriving,63,2,2019-11-29 20:14:49,9663,2019-11-29 20:14:51.294143-05:00,2019-11-29,20,4,PM,1

# Filtering for only the most recent data in a request

Since each request has multiple train arrival times.

We're filtering on `station_char` and `requestid`. This might cause an issue with terminus, but we'll deal with it later.

In [12]:
df_newest = df.drop_duplicates(subset = ['requestid', 'station_char'])

In [13]:
df_newest[df_newest['station_char'] == 'WEL1'].sort_values(by = 'request_date').iloc[70:100]

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
72110,708815,34283914838,WEL1,YUS,0.701638,North,160,Arriving,21,1,2019-11-29 17:10:45,10007,2019-11-29 17:10:43.481672-05:00,2019-11-29,17,4,PM,1
98372,725382,34283935931,WEL1,YUS,0.000000,North,160,AtStation,21,1,2019-11-29 17:11:45,10240,2019-11-29 17:11:43.368520-05:00,2019-11-29,17,4,PM,1
82530,714382,34283959320,WEL1,YUS,0.956638,North,198,Arriving,21,1,2019-11-29 17:12:45,10085,2019-11-29 17:12:43.721495-05:00,2019-11-29,17,4,PM,1
113720,736875,34283979201,WEL1,YUS,0.283285,North,198,Arriving,21,1,2019-11-29 17:13:45,10400,2019-11-29 17:13:43.765881-05:00,2019-11-29,17,4,PM,1
85721,716666,34284000904,WEL1,YUS,0.956638,North,161,Arriving,21,1,2019-11-29 17:14:47,10116,2019-11-29 17:14:43.787848-05:00,2019-11-29,17,4,PM,1
29120,678510,34284022549,WEL1,YUS,0.283285,North,161,Arriving,21,1,2019-11-29 17:15:45,9582,2019-11-29 17:15:43.647795-05:00,2019-11-29,17,4,PM,1
106031,731242,34284045624,WEL1,YUS,0.000000,North,161,AtStation,21,1,2019-11-29 17:16:46,10322,2019-11-29 17:16:43.728473-05:00,2019-11-29,17,4,PM,1
57157,695175,34284068230,WEL1,YUS,0.701638,North,164,Arriving,21,1,2019-11-29 17:17:45,9815,2019-11-29 17:17:43.702496-05:00,2019-11-29,17,4,PM,1
84364,715564,34284088421,WEL1,YUS,0.000000,North,164,AtStation,21,1,2019-11-29 17:18:44,10101,2019-11-29 17:18:43.564446-05:00,2019-11-29,17,4,PM,1
134961,753008,34284109810,WEL1,YUS,0.956638,North,163,Arriving,21,1,2019-11-29 17:19:46,10624,2019-11-29 17:19:43.751385-05:00,2019-11-29,17,4,PM,1
58065,695545,34284132367,WEL1,YUS,0.283285,North,163,Arriving,21,1,2019-11-29 17:20:45,9820,2019-11-29 17:20:43.389930-05:00,2019-11-29,17,4,PM,1
5602,663254,34284154897,WEL1,YUS,0.000000,North,163,AtStation,21,1,2019-11-29 17:21:43,9367,2019-11-29 17:21:43.888279-05:00,2019-11-29,17,4,PM,1
10607,665316,34284178327,WEL1,YUS,0.000000,North,165,AtStation,21,1,2019-11-29 17:22:44,9396,2019-11-29 17:22:43.609700-05:00,2019-11-29,17,4,PM,1
60812,698402,34284200024,WEL1,YUS,0.701638,North,167,Arriving,21,1,2019-11-29 17:23:46,9861,2019-11-29 17:23:44.048420-05:00,2019-11-29,17,4,PM,1
64410,701765,34284220285,WEL1,YUS,0.000000,North,167,AtStation,21,1,2019-11-29 17:24:45,9907,2019-11-29 17:24:43.228986-05:00,2019-11-29,17,4,PM,1
1512,660290,34284243903,WEL1,YUS,0.701638,North,169,Arriving,21,1,2019-11-29 17:25:45,9325,2019-11-29 17:25:43.812168-05:00,2019-11-29,17,4,PM,1
9255,664650,34284266761,WEL1,YUS,0.000000,North,169,AtStation,21,1,2019-11-29 17:26:45,9387,2019-11-29 17:26:43.552576-05:00,2019-11-29,17,4,PM,1
71655,708741,34284290114,WEL1,YUS,0.956638,North,170,Arriving,21,1,2019-11-29 17:27:45,10006,2019-11-29 17:27:44.104228-05:00,2019-11-29,17,4,PM,1
36843,684559,34284311061,WEL1,YUS,0.000000,North,170,AtStation,21,1,2019-11-29 17:28:44,9669,2019-11-29 17:28:43.620413-05:00,2019-11-29,17,4,PM,1
25976,675919,34284332780,WEL1,YUS,0.701638,North,171,Arriving,21,1,2019-11-29 17:29:45,9545,2019-11-29 17:29:43.581056-05:00,2019-11-29,17,4,PM,1
83444,715121,34284354735,WEL1,YUS,0.000000,North,171,AtStation,21,1,2019-11-29 17:30:45,10095,2019-11-29 17:30:43.502806-05:00,2019-11-29,17,4,PM,1
33664,682373,34284375729,WEL1,YUS,0.956638,North,102,Arriving,21,1,2019-11-29 17:31:45,9637,2019-11-29 17:31:43.538518-05:00,2019-11-29,17,4,PM,1
7425,663844,34284396771,WEL1,YUS,0.000000,North,102,AtStation,21,1,2019-11-29 17:32:44,9375,2019-11-29 17:32:43.527916-05:00,2019-11-29,17,4,PM,1
11063,666054,34284418541,WEL1,YUS,1.604487,North,103,Arriving,21,1,2019-11-29 17:33:45,9406,2019-11-29 17:33:43.739115-05:00,2019-11-29,17,4,PM,1
92488,721622,34284439996,WEL1,YUS,0.701638,North,103,Arriving,21,1,2019-11-29 17:34:46,10187,2019-11-29 17:34:43.598790-05:00,2019-11-29,17,4,PM,1
18299,669904,34284462787,WEL1,YUS,0.000000,North,103,AtStation,21,1,2019-11-29 17:35:44,9460,2019-11-29 17:35:43.700624-05:00,2019-11-29,17,4,PM,1
101537,728320,34284485212,WEL1,YUS,1.604487,North,104,Arriving,21,1,2019-11-29 17:36:43,10282,2019-11-29 17:36:43.469561-05:00,2019-11-29,17,4,PM,1
16942,669326,34284529275,WEL1,YUS,0.000000,North,104,AtStation,21,1,2019-11-29 17:38:46,9451,2019-11-29 17:38:43.607810-05:00,2019-11-29,17,4,PM,1
120045,741470,34284549707,WEL1,YUS,0.956638,North,105,Arriving,21,1,2019-11-29 17:39:45,10464,2019-11-29 17:39:43.360920-05:00,2019-11-29,17,4,PM,1
57615,695471,34284572582,WEL1,YUS,0.000000,North,105,AtStation,21,1,2019-11-29 17:40:45,9819,2019-11-29 17:40:43.823409-05:00,2019-11-29,17,4,PM,1

In [14]:
df_newest[df_newest['station_char'] == 'BLO1'].sort_values(by = 'request_date').iloc[140:180]

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
72122,708816,34283914841,BLO1,YUS,0.740485,North,159,Arriving,22,1,2019-11-29 17:10:45,10007,2019-11-29 17:10:43.482014-05:00,2019-11-29,17,4,PM,1
72335,708850,34283917251,BLO1,YUS,0.740485,North,159,Arriving,50,2,2019-11-29 17:10:51,10007,2019-11-29 17:10:50.790827-05:00,2019-11-29,17,4,PM,1
98384,725383,34283935934,BLO1,YUS,0.000000,North,159,AtStation,22,1,2019-11-29 17:11:45,10240,2019-11-29 17:11:43.368861-05:00,2019-11-29,17,4,PM,1
98596,725417,34283938568,BLO1,YUS,0.000000,North,159,AtStation,50,2,2019-11-29 17:11:51,10240,2019-11-29 17:11:50.800685-05:00,2019-11-29,17,4,PM,1
82542,714383,34283959323,BLO1,YUS,0.740485,North,160,Arriving,22,1,2019-11-29 17:12:45,10085,2019-11-29 17:12:43.721837-05:00,2019-11-29,17,4,PM,1
82755,714417,34283961624,BLO1,YUS,0.740485,North,160,Arriving,50,2,2019-11-29 17:12:52,10085,2019-11-29 17:12:50.792500-05:00,2019-11-29,17,4,PM,1
113732,736876,34283979204,BLO1,YUS,0.000000,North,160,AtStation,22,1,2019-11-29 17:13:45,10400,2019-11-29 17:13:43.766344-05:00,2019-11-29,17,4,PM,1
113944,736910,34283982165,BLO1,YUS,0.000000,North,160,AtStation,50,2,2019-11-29 17:13:53,10400,2019-11-29 17:13:51.793657-05:00,2019-11-29,17,4,PM,1
85733,716667,34284000907,BLO1,YUS,0.740485,North,198,Arriving,22,1,2019-11-29 17:14:47,10116,2019-11-29 17:14:43.788206-05:00,2019-11-29,17,4,PM,1
85947,716701,34284002788,BLO1,YUS,0.740485,North,198,Arriving,50,2,2019-11-29 17:14:53,10116,2019-11-29 17:14:51.794105-05:00,2019-11-29,17,4,PM,1
29132,678511,34284022552,BLO1,YUS,0.000000,North,198,AtStation,22,1,2019-11-29 17:15:45,9582,2019-11-29 17:15:43.648135-05:00,2019-11-29,17,4,PM,1
29345,678545,34284024298,BLO1,YUS,0.000000,North,198,AtStation,50,2,2019-11-29 17:15:50,9582,2019-11-29 17:15:50.793817-05:00,2019-11-29,17,4,PM,1
106043,731243,34284045627,BLO1,YUS,0.995485,North,161,Arriving,22,1,2019-11-29 17:16:46,10322,2019-11-29 17:16:43.728818-05:00,2019-11-29,17,4,PM,1
106257,731277,34284048051,BLO1,YUS,0.995485,North,161,Arriving,50,2,2019-11-29 17:16:52,10322,2019-11-29 17:16:50.793942-05:00,2019-11-29,17,4,PM,1
57169,695176,34284068233,BLO1,YUS,0.289859,North,161,Arriving,22,1,2019-11-29 17:17:45,9815,2019-11-29 17:17:43.702870-05:00,2019-11-29,17,4,PM,1
57384,695210,34284070464,BLO1,YUS,0.289859,North,161,Arriving,50,2,2019-11-29 17:17:51,9815,2019-11-29 17:17:50.795825-05:00,2019-11-29,17,4,PM,1
84376,715565,34284088424,BLO1,YUS,0.000000,North,161,AtStation,22,1,2019-11-29 17:18:44,10101,2019-11-29 17:18:43.564786-05:00,2019-11-29,17,4,PM,1
84585,715599,34284090661,BLO1,YUS,0.000000,North,161,AtStation,50,2,2019-11-29 17:18:51,10101,2019-11-29 17:18:50.795979-05:00,2019-11-29,17,4,PM,1
134973,753009,34284109813,BLO1,YUS,0.740485,North,164,Arriving,22,1,2019-11-29 17:19:46,10624,2019-11-29 17:19:43.751740-05:00,2019-11-29,17,4,PM,1
135189,753043,34284110071,BLO1,YUS,0.740485,North,164,Arriving,50,2,2019-11-29 17:19:47,10624,2019-11-29 17:19:43.784654-05:00,2019-11-29,17,4,PM,1
58077,695546,34284132370,BLO1,YUS,0.000000,North,164,AtStation,22,1,2019-11-29 17:20:45,9820,2019-11-29 17:20:43.390281-05:00,2019-11-29,17,4,PM,1
58292,695580,34284134824,BLO1,YUS,0.000000,North,164,AtStation,50,2,2019-11-29 17:20:51,9820,2019-11-29 17:20:50.798353-05:00,2019-11-29,17,4,PM,1
5614,663255,34284154900,BLO1,YUS,0.995485,North,163,Arriving,22,1,2019-11-29 17:21:43,9367,2019-11-29 17:21:43.888639-05:00,2019-11-29,17,4,PM,1
5825,663289,34284158703,BLO1,YUS,0.740485,North,163,Arriving,50,2,2019-11-29 17:21:53,9367,2019-11-29 17:21:51.798757-05:00,2019-11-29,17,4,PM,1
10619,665317,34284178330,BLO1,YUS,0.000000,North,163,AtStation,22,1,2019-11-29 17:22:44,9396,2019-11-29 17:22:43.610072-05:00,2019-11-29,17,4,PM,1
10832,665351,34284181146,BLO1,YUS,0.000000,North,163,AtStation,50,2,2019-11-29 17:22:51,9396,2019-11-29 17:22:50.798647-05:00,2019-11-29,17,4,PM,1
60824,698403,34284200027,BLO1,YUS,0.740485,North,165,Arriving,22,1,2019-11-29 17:23:46,9861,2019-11-29 17:23:44.048761-05:00,2019-11-29,17,4,PM,1
61036,698437,34284202241,BLO1,YUS,0.740485,North,165,Arriving,50,2,2019-11-29 17:23:53,9861,2019-11-29 17:23:51.798822-05:00,2019-11-29,17,4,PM,1
64422,701766,34284220288,BLO1,YUS,0.000000,North,165,AtStation,22,1,2019-11-29 17:24:45,9907,2019-11-29 17:24:43.229331-05:00,2019-11-29,17,4,PM,1
64640,701800,34284222973,BLO1,YUS,0.000000,North,165,AtStation,50,2,2019-11-29 17:24:52,9907,2019-11-29 17:24:50.800249-05:00,2019-11-29,17,4,PM,1
1524,660291,34284243906,BLO1,YUS,0.740485,North,167,Arriving,22,1,2019-11-29 17:25:45,9325,2019-11-29 17:25:43.812533-05:00,2019-11-29,17,4,PM,1
1739,660325,34284246214,BLO1,YUS,0.289859,North,167,Arriving,50,2,2019-11-29 17:25:51,9325,2019-11-29 17:25:51.801419-05:00,2019-11-29,17,4,PM,1
9267,664651,34284266764,BLO1,YUS,0.000000,North,167,AtStation,22,1,2019-11-29 17:26:45,9387,2019-11-29 17:26:43.552956-05:00,2019-11-29,17,4,PM,1
9481,664685,34284269245,BLO1,YUS,0.000000,North,167,AtStation,50,2,2019-11-29 17:26:51,9387,2019-11-29 17:26:50.801345-05:00,2019-11-29,17,4,PM,1
71667,708742,34284290117,BLO1,YUS,0.289859,North,169,Arriving,22,1,2019-11-29 17:27:45,10006,2019-11-29 17:27:44.104574-05:00,2019-11-29,17,4,PM,1
71880,708776,34284292843,BLO1,YUS,0.000000,North,169,AtStation,50,2,2019-11-29 17:27:52,10006,2019-11-29 17:27:51.748396-05:00,2019-11-29,17,4,PM,1
36855,684560,34284311064,BLO1,YUS,0.000000,North,169,AtStation,22,1,2019-11-29 17:28:44,9669,2019-11-29 17:28:43.620755-05:00,2019-11-29,17,4,PM,1
37067,684594,34284314042,BLO1,YUS,0.995485,North,170,Arriving,50,2,2019-11-29 17:28:52,9669,2019-11-29 17:28:50.748859-05:00,2019-11-29,17,4,PM,1
25988,675920,34284332783,BLO1,YUS,0.740485,North,170,Arriving,22,1,2019-11-29 17:29:45,9545,2019-11-29 17:29:43.581399-05:00,2019-11-29,17,4,PM,1
26203,675954,34284335071,BLO1,YUS,0.289859,North,170,Arriving,50,2,2019-11-29 17:29:52,9545,2019-11-29 17:29:50.749515-05:00,2019-11-29,17,4,PM,1

In [15]:
df_newest[['trainid']].drop_duplicates()

        trainid
115970      196
42287       814
42284       115
118399      222
131594      241
...         ...
135090        1
58187         2
46381       945
126531      762
58183        48

[141 rows x 1 columns]

In [16]:
single_train = df_newest[df_newest['trainid'] == 196]

In [17]:
single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_36122/1386873350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

In [18]:
single_train = single_train.sort_values(by = 'request_date')
single_train.tail(20)

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival
108795,733048,34288665987,STC2,YUS,0.387822,South,196,Arriving,25,1,2019-11-29 20:50:45,10347,2019-11-29 20:50:43.687546-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:51:06.956848840-05:00
98854,726018,34288685656,SUM2,YUS,0.907433,South,196,Arriving,24,1,2019-11-29 20:51:46,10249,2019-11-29 20:51:43.548808-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:52:37.994796580-05:00
129129,750124,34288704039,ROS2,YUS,1.040513,South,196,Arriving,23,1,2019-11-29 20:52:45,10584,2019-11-29 20:52:43.444505-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:53:45.875293580-05:00
129135,750125,34288704036,SUM2,YUS,0.000000,South,196,AtStation,24,1,2019-11-29 20:52:45,10584,2019-11-29 20:52:43.444845-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:52:43.444845-05:00
79825,712428,34288723909,ROS2,YUS,0.000000,South,196,AtStation,23,1,2019-11-29 20:53:47,10058,2019-11-29 20:53:43.988218-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:53:43.988218-05:00
80019,712461,34288725206,BLO2,YUS,1.358666,South,196,Arriving,50,2,2019-11-29 20:53:51,10058,2019-11-29 20:53:51.715914-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:55:13.235891160-05:00
119596,741064,34288743374,BLO2,YUS,0.468521,South,196,Arriving,22,1,2019-11-29 20:54:45,10458,2019-11-29 20:54:43.487889-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:55:11.599157580-05:00
119809,741098,34288745611,BLO2,YUS,0.468521,South,196,Arriving,50,2,2019-11-29 20:54:52,10458,2019-11-29 20:54:50.717533-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:55:18.828801580-05:00
47657,690948,34288763628,WEL2,YUS,0.974328,South,196,Arriving,21,1,2019-11-29 20:55:45,9757,2019-11-29 20:55:43.684877-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:56:42.144557-05:00
47660,690949,34288763625,BLO2,YUS,0.000000,South,196,AtStation,22,1,2019-11-29 20:55:45,9757,2019-11-29 20:55:43.685313-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:55:43.685313-05:00
76638,710692,34288783813,COL2,YUS,0.948783,South,196,Arriving,20,1,2019-11-29 20:56:45,10033,2019-11-29 20:56:43.574403-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:57:40.501374420-05:00
76644,710693,34288783810,WEL2,YUS,0.000000,South,196,AtStation,21,1,2019-11-29 20:56:45,10033,2019-11-29 20:56:43.574773-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:56:43.574773-05:00
2881,661443,34288804293,DUN2,YUS,0.884339,South,196,Arriving,19,1,2019-11-29 20:57:44,9341,2019-11-29 20:57:43.345832-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:58:36.406197740-05:00
2887,661444,34288804290,COL2,YUS,0.000000,South,196,AtStation,20,1,2019-11-29 20:57:44,9341,2019-11-29 20:57:43.346175-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:57:43.346175-05:00
28656,678359,34288822739,QUN2,YUS,0.771128,South,196,Arriving,18,1,2019-11-29 20:58:44,9580,2019-11-29 20:58:43.275693-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:59:29.543373-05:00
28662,678360,34288822736,DUN2,YUS,0.000000,South,196,AtStation,19,1,2019-11-29 20:58:44,9580,2019-11-29 20:58:43.276039-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:58:43.276039-05:00
115970,738032,34288841325,QUN2,YUS,0.000000,South,196,AtStation,18,1,2019-11-29 20:59:43,10417,2019-11-29 20:59:43.688017-05:00,2019-11-29,20,4,PM,2,2019-11-29 20:59:43.688017-05:00

## Creating Trip Ids for Each Train

Terminus are not represented in each trip (ie, its not guaranteed Kipling will show up in the trip)

Trip Ids are only used for the purpose of cleaning up the data, not for any analysis/graph building.

Trip Ids will reset when the train changes direction, or there is a gap larger than 30 minutes.

In [19]:
single_train['trip'] = ((single_train['traindirection'] != single_train['traindirection'].shift(1))
                       | ((single_train['request_date'] - single_train['request_date'].shift(1)).dt.seconds > 1800)
                       ).cumsum() - 1

In [20]:
single_train.groupby('trip').count()

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival
trip,,,,,,,,,,,,,,,,,,,
0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17

In [28]:
trip_num = single_train['trip'].max()

In [29]:
single_train[single_train['trip']==0].iloc[20:60]

Empty DataFrame
Columns: [requestid, id, station_char, subwayline, timint, traindirection, trainid, train_message, stationid, lineid, create_date, pollid, request_date, date, hour, dow, period, platformid, estimated_arrival, trip]
Index: []

##### Setting Arrival Times

We're taking the most recent record of the train arriving at a station

API runs once per minute, so the error is limited to minute resolution

In [30]:
def process_trip(single_trip):
    
    single_trip = single_trip[single_trip['timint']<2]
    arrivals = single_trip[['station_char']].drop_duplicates()
    
    arrival_max = single_trip.sort_values(by = 'request_date', ascending = False)
    arrival_max = arrival_max.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]


    arrivals_at_station = single_trip[single_trip['timint']==0]
    arrivals_at_station = arrivals_at_station.sort_values(by = 'estimated_arrival')
    arrivals_at_station  = arrivals_at_station.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]

    arrivals = arrivals.merge(arrival_max, how = 'left')

    arrivals_at_station = arrivals_at_station.rename(columns = {'estimated_arrival':'at_station_time'})
    arrivals = arrivals.merge(arrivals_at_station, how = 'left')
    arrivals['arrival'] = True
    
    arrivals['arrival_time'] = np.where(arrivals['at_station_time'].isna(),
                                        arrivals['estimated_arrival'], arrivals['at_station_time'])



    arrivals = arrivals.sort_values(by = 'estimated_arrival').reset_index(drop = True)
    
    arrivals = arrivals[['station_char', 'arrival', 'arrival_time']].rename(columns =
                                                                        {'arrival_time':'estimated_arrival'})
    if len(arrivals) != 0:
        single_trip = single_trip.merge(arrivals)
    else:
        return -1 # no eligible arrivals, continue to next trip

    single_trip = single_trip.sort_values(by = 'estimated_arrival')
    
    single_trip = single_trip[['station_char', 'subwayline', 'timint','stationid', 'traindirection', 'trip','trainid',
                 'estimated_arrival', 'arrival']]
    
    single_trip = single_trip.reset_index().merge(single_trip.shift(-1).reset_index()[['station_char',
                                                                                       'estimated_arrival','stationid',
                                                                                       'index']], 
                                left_on = 'index', right_on = 'index', suffixes = ['_o', '_d'])
    single_trip = single_trip.dropna()
    return single_trip

In [41]:
arrival_list = []
for i in range(trip_num + 1):
    print(i)
    if i == 0:
        current_arrivals = process_trip(single_train[single_train['trip'] == i])
        if isinstance(current_arrivals, int):
            print('cont')
            continue

    elif isinstance(current_arrivals, int): # when the previous current arrivals does not return a result
        current_arrivals = process_trip(single_train[single_train['trip'] == i])
        if isinstance(current_arrivals, int): # if the successives trip still does not return a result
            print('cont')
            continue
    else:

        if i < trip_num:
            next_arrivals = process_trip(single_train[single_train['trip'] == i + 1])
        try:
            arrival_limit = next_arrivals.head(1)[['estimated_arrival_d']].iloc[0,0] - datetime.timedelta(seconds = 45)

        except: # if the next trip doesn't return a result, then the arrival limit id not used

            if len(current_arrivals['station_char_d']) == 0:
                pass
            else:
                arrival_limit = current_arrivals.tail(1)[['estimated_arrival_d']].iloc[0,0] + datetime.timedelta(seconds = 45)

        if len(current_arrivals['station_char_d']) == 1:
            pass
        elif len(current_arrivals['station_char_d']) == 0:
            pass

        elif i < trip_num:

            current_arrivals = current_arrivals[current_arrivals['estimated_arrival_d'] < arrival_limit]
        else:
            pass
        if i < trip_num:
            past_arrivals = current_arrivals
            current_arrivals = next_arrivals
        else:
            pass
    try:
        arrival_list.append(past_arrivals.copy())
    except:
        arrival_list.append(current_arrivals.copy())

0

In [37]:
arrival_trip = pd.concat(arrival_list)

In [38]:
arrival_trip

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d
0,0,STC2,YUS,0.387822,25,South,0,196,2019-11-29 20:51:06.956848840-05:00,True,SUM2,2019-11-29 20:52:43.444845-05:00,24.0
1,1,SUM2,YUS,0.000000,24,South,0,196,2019-11-29 20:52:43.444845-05:00,True,ROS2,2019-11-29 20:53:43.988218-05:00,23.0
2,2,ROS2,YUS,0.000000,23,South,0,196,2019-11-29 20:53:43.988218-05:00,True,BLO2,2019-11-29 20:55:43.685313-05:00,22.0
3,3,BLO2,YUS,0.000000,22,South,0,196,2019-11-29 20:55:43.685313-05:00,True,WEL2,2019-11-29 20:56:43.574773-05:00,21.0
4,4,WEL2,YUS,0.000000,21,South,0,196,2019-11-29 20:56:43.574773-05:00,True,COL2,2019-11-29 20:57:43.346175-05:00,20.0
5,5,COL2,YUS,0.000000,20,South,0,196,2019-11-29 20:57:43.346175-05:00,True,DUN2,2019-11-29 20:58:43.276039-05:00,19.0
6,6,DUN2,YUS,0.000000,19,South,0,196,2019-11-29 20:58:43.276039-05:00,True,QUN2,2019-11-29 20:59:43.688017-05:00,18.0

In [90]:
if arrival_trip['estimated_arrival_d'].max().hour < 11:
    if arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'BD':
        cutoff = arrival_trip[arrival_trip['stationid_d'] == 55]['estimated_arrival'].max()
        
    elif (arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'YUS') & (arrival_trip.tail(1)['stationid_d'].iloc[0] == 80):
        cutoff = arrival_trip[arrival_trip['stationid_d'] == 80]['estimated_arrival_d'].max()
    
    elif arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'YUS':
        cutoff = arrival_trip[arrival_trip['stationid_d'] == 1]['estimated_arrival_d'].max()
    else:
        cutoff = arrival_trip['estimated_arrival_d'].max()
else:
    cutoff = arrival_trip['estimated_arrival_d'].max()

In [91]:
arrival_trip = arrival_trip[arrival_trip['estimated_arrival_d'] <= cutoff]

In [92]:
arrival_trip = arrival_trip.reset_index(drop = True)

In [93]:
arrival_trip

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d
0,0,GCN2,YUS,0.000000,5,South,0,142,2019-11-28 07:01:43.518375-05:00,True,LWW2,2019-11-28 07:03:43.444287-05:00,4.0
1,1,LWW2,YUS,0.000000,4,South,0,142,2019-11-28 07:03:43.444287-05:00,True,YKD2,2019-11-28 07:05:43.641313-05:00,3.0
2,2,YKD2,YUS,0.000000,3,South,0,142,2019-11-28 07:05:43.641313-05:00,True,WIL2,2019-11-28 07:07:43.642551-05:00,2.0
3,3,WIL2,YUS,0.000000,2,South,0,142,2019-11-28 07:07:43.642551-05:00,True,SHW2,2019-11-28 07:10:43.584999-05:00,1.0
4,4,SHW2,YUS,0.000000,1,South,0,142,2019-11-28 07:10:43.584999-05:00,True,DNP2,2019-11-28 07:12:43.501216-05:00,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,21,LAW1,YUS,0.692204,28,North,3,142,2019-11-28 11:34:25.493961740-05:00,True,YKM1,2019-11-28 11:36:43.359581-05:00,29.0
97,22,YKM1,YUS,0.000000,29,North,3,142,2019-11-28 11:36:43.359581-05:00,True,SHP1,2019-11-28 11:39:43.566502-05:00,30.0
98,23,SHP1,YUS,0.000000,30,North,3,142,2019-11-28 11:39:43.566502-05:00,True,NYC1,2019-11-28 11:42:43.303143-05:00,31.0
99,24,NYC1,YUS,0.000000,31,North,3,142,2019-11-28 11:42:43.303143-05:00,True,FIN1,2019-11-28 11:48:44.106880-05:00,32.0
100,0,NYC2,YUS,0.000000,31,South,4,142,2019-11-28 11:57:43.732007-05:00,True,SHP2,2019-11-28 11:58:43.552736-05:00,30.0

In [94]:
arrival_trip = arrival_trip.rename(columns = {'station_char':'arr_stn_char', 'estimated_arrival':'arr_time'})

In [98]:
stn_lookup = pd.read_csv('train_arrival_stations_lookup.csv')

In [100]:
stn_lookup

,station_char,station_name,traindirection,stationid,lineid,sequence,INT_ID
0,VMC1,Vaughan N,North,80,1,1,171
1,VMC2,Vaughan S,South,80,1,1,171
2,HWY1,Highway 407 N,North,79,1,2,170
3,HWY2,Highway 407 N,South,79,1,2,170
4,PVL1,Pioneer Village N,North,78,1,3,169
...,...,...,...,...,...,...,...
143,BSS2,Bessarion W,West,66,4,72,402
144,LES1,Leslie E,East,67,4,73,403
145,LES2,Leslie W,West,67,4,73,403
146,DML1,Don Mills E,East,68,4,74,404
147,DML2,Don Mills W,West,68,4,74,404

In [104]:
arrival_trip = arrival_trip.merge(stn_lookup[['station_char', 'sequence']], left_on = ['station_char_o'], 
                   right_on = ['station_char']).drop(columns = ['station_char']).rename(
    columns = {'sequence':'sequence_o'})

arrival_trip = arrival_trip.merge(stn_lookup[['station_char', 'sequence']], left_on = ['station_char_d'], 
                   right_on = ['station_char']).drop(columns = ['station_char']).rename(
    columns = {'sequence':'sequence_d'})
arrival_trip

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d,sequence_o,sequence_d
0,0,GCN2,YUS,0.000000,5,South,0,142,2019-11-28 07:01:43.518375-05:00,True,LWW2,2019-11-28 07:03:43.444287-05:00,4.0,11,10
1,24,GCN2,YUS,0.000000,5,South,2,142,2019-11-28 09:45:43.596061-05:00,True,LWW2,2019-11-28 09:47:43.779021-05:00,4.0,11,10
2,1,LWW2,YUS,0.000000,4,South,0,142,2019-11-28 07:03:43.444287-05:00,True,YKD2,2019-11-28 07:05:43.641313-05:00,3.0,10,9
3,25,LWW2,YUS,0.000000,4,South,2,142,2019-11-28 09:47:43.779021-05:00,True,YKD2,2019-11-28 09:49:43.475191-05:00,3.0,10,9
4,2,YKD2,YUS,0.000000,3,South,0,142,2019-11-28 07:05:43.641313-05:00,True,WIL2,2019-11-28 07:07:43.642551-05:00,2.0,9,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,21,LAW1,YUS,0.692204,28,North,3,142,2019-11-28 11:34:25.493961740-05:00,True,YKM1,2019-11-28 11:36:43.359581-05:00,29.0,34,35
93,22,YKM1,YUS,0.000000,29,North,3,142,2019-11-28 11:36:43.359581-05:00,True,SHP1,2019-11-28 11:39:43.566502-05:00,30.0,35,36
94,23,SHP1,YUS,0.000000,30,North,3,142,2019-11-28 11:39:43.566502-05:00,True,NYC1,2019-11-28 11:42:43.303143-05:00,31.0,36,37
95,24,NYC1,YUS,0.000000,31,North,3,142,2019-11-28 11:42:43.303143-05:00,True,FIN1,2019-11-28 11:48:44.106880-05:00,32.0,37,38
96,0,NYC2,YUS,0.000000,31,South,4,142,2019-11-28 11:57:43.732007-05:00,True,SHP2,2019-11-28 11:58:43.552736-05:00,30.0,37,36