In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
requests_nov = pd.read_csv('2019-11/requests.csv')
response_nov = pd.read_csv('2019-11/responses.csv')

In [3]:
response_nov = response_nov.merge(requests_nov)

In [4]:
requests_dec = pd.read_csv('2019-12/requests.csv')
response_dec = pd.read_csv('2019-12/responses.csv')

In [5]:
response_dec = response_dec.merge(requests_dec)

In [6]:
requests_jan = pd.read_csv('2020-01/requests.csv')
response_jan = pd.read_csv('2020-01/responses.csv')

In [7]:
response_jan = response_jan.merge(requests_jan)

In [9]:
response = response_nov.append(response_dec).append(response_jan)

In [10]:
response['date'] = pd.to_datetime(response['create_date']).dt.date

In [11]:
response = response[response['date'] > datetime.datetime(2019,11,27).date()].copy()
response = response[response['date'] < datetime.datetime(2020,1,4).date()].copy()

In [12]:
response['request_date'] = pd.to_datetime(response['request_date'])

In [13]:
response = response.drop(columns = ['system_message_type', 'train_dest', 'data_', 'all_stations'])

In [14]:
response

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date
3745021,658938,34270647320,SHW1,YUS,3.042941,North,124,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
3745022,658938,34270647321,SHW1,YUS,9.459824,North,103,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
3745023,658938,34270647292,SHW2,YUS,0.639745,South,135,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
3745024,658938,34270647293,SHW2,YUS,4.062824,South,137,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
3745025,658938,34270647294,SHW2,YUS,8.076205,South,138,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11988014,2123021,35138494142,LES1,SHEP,2.183859,East,464,Arriving,67,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413893-05:00,2020-01-01
11988015,2123021,35138494146,LES2,SHEP,0.000000,West,462,AtStation,67,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413893-05:00,2020-01-01
11988016,2123022,35138494143,DML1,SHEP,0.000000,East,463,AtStation,68,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413402-05:00,2020-01-01
11988017,2123022,35138494144,DML1,SHEP,5.688523,East,464,Arriving,68,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413402-05:00,2020-01-01
11988018,2123022,35138494145,DML2,SHEP,5.688523,East,464,Arriving,68,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413402-05:00,2020-01-01

In [15]:
response

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date
3745021,658938,34270647320,SHW1,YUS,3.042941,North,124,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
3745022,658938,34270647321,SHW1,YUS,9.459824,North,103,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
3745023,658938,34270647292,SHW2,YUS,0.639745,South,135,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
3745024,658938,34270647293,SHW2,YUS,4.062824,South,137,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
3745025,658938,34270647294,SHW2,YUS,8.076205,South,138,Arriving,1,1,2019-11-29 06:59:43,9307,2019-11-29 06:59:43.572003-05:00,2019-11-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11988014,2123021,35138494142,LES1,SHEP,2.183859,East,464,Arriving,67,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413893-05:00,2020-01-01
11988015,2123021,35138494146,LES2,SHEP,0.000000,West,462,AtStation,67,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413893-05:00,2020-01-01
11988016,2123022,35138494143,DML1,SHEP,0.000000,East,463,AtStation,68,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413402-05:00,2020-01-01
11988017,2123022,35138494144,DML1,SHEP,5.688523,East,464,Arriving,68,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413402-05:00,2020-01-01
11988018,2123022,35138494145,DML2,SHEP,5.688523,East,464,Arriving,68,4,2020-01-01 14:05:33,30372,2020-01-01 14:05:44.413402-05:00,2020-01-01

In [16]:
response['hour'] = response['request_date'].dt.hour

In [17]:
response['date'] = np.where(response['hour'].isin([0,1,2]), (response['request_date'].dt.date - 
                                                   datetime.timedelta(days = 1)).astype(str), 
                       response['request_date'].dt.date.astype(str))

In [18]:
response['dow'] = pd.to_datetime(response['date']).dt.weekday

In [19]:
response = response[~response['date'].isin(['2019-12-24', '2019-12-25', '2019-12-26', '2019-12-31', '2020-01-01'])]

In [20]:
response = response[response['dow'] < 5]

In [21]:
date_list = list(response['date'].drop_duplicates())

In [22]:
date_list

['2019-11-29',
 '2019-11-27',
 '2019-11-28',
 '2019-12-27',
 '2019-12-09',
 '2019-12-05',
 '2019-12-02',
 '2019-12-16',
 '2019-12-04',
 '2019-12-18',
 '2019-12-10',
 '2019-12-17',
 '2019-12-06',
 '2019-12-11',
 '2019-12-03',
 '2019-12-19',
 '2019-12-13',
 '2019-12-23',
 '2019-12-20',
 '2019-12-12',
 '2019-12-30',
 '2020-01-03',
 '2020-01-02']

In [23]:
for date in date_list:
    temp = response[(response['date'] == date) & (response['hour'].isin([7,8,9,10,11]))].copy()
    temp['period'] = 'AM'
    temp.to_csv('cleaned_subway/raw_subway_' + date + '_AM.csv', index = False)
    del temp

In [24]:
for date in date_list:
    temp = response[(response['date'] == date) & (response['hour'].isin([4,5,6,7,8]))].copy()
    temp['period'] = 'EM'
    temp.to_csv('cleaned_subway/raw_subway_' + date + '_EM.csv', index = False)
    del temp

In [25]:
for date in date_list:
    temp = response[(response['date'] == date) & (response['hour'].isin([11,12,13,14,15]))].copy()
    temp['period'] = 'MD'
    temp.to_csv('cleaned_subway/raw_subway_' + date + '_MD.csv', index = False)
    del temp

In [26]:
for date in date_list:
    temp = response[(response['date'] == date) & (response['hour'].isin([16,17,18,19,20]))].copy()
    temp['period'] = 'PM'
    temp.to_csv('cleaned_subway/raw_subway_' + date + '_PM.csv', index = False)
    del temp

In [27]:
for date in date_list:
    temp = response[(response['date'] == date) & (response['hour'].isin([20,21,22,23,0]))].copy()
    temp['period'] = 'EV'
    temp.to_csv('cleaned_subway/raw_subway_' + date + '_EV.csv', index = False)
    del temp