In [25]:
import pandas as pd
import numpy as np
import datetime

In [26]:
df = pd.read_csv('cleaned_subway/raw_subway_2019-11-28_AM.csv')

In [27]:
df['request_date'] = pd.to_datetime(df['request_date'])

In [28]:
df = df.sort_values(by = 'timint')

In [29]:
df['platformid'] = df['station_char'].str[3]

In [30]:
df

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
96041,2305871,34246572163,YIE1,SHEP,0.000000,East,463,AtStation,64,4,2019-11-28 08:25:51,32685,2019-11-28 08:25:51.333503-05:00,2019-11-28,8,3,AM,1
70449,2284190,34250776188,DNW1,BD,0.000000,East,238,AtStation,41,2,2019-11-28 11:47:46,32390,2019-11-28 11:47:43.252615-05:00,2019-11-28,11,3,AM,1
108705,2317542,34249245226,DAV1,YUS,0.000000,North,23,AtStation,26,1,2019-11-28 10:33:44,32845,2019-11-28 10:33:43.807289-05:00,2019-11-28,10,3,AM,1
130034,2331258,34250039928,STP1,YUS,0.000000,North,142,AtStation,13,1,2019-11-28 11:11:43,33032,2019-11-28 11:11:43.844225-05:00,2019-11-28,11,3,AM,1
20763,2253499,34248521900,YNG2,BD,0.000000,West,209,AtStation,22,1,2019-11-28 09:58:44,31970,2019-11-28 09:58:43.613983-05:00,2019-11-28,9,3,AM,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131973,2332904,34246290251,PVL2,YUS,23.830480,South,101,Arriving,78,1,2019-11-28 08:11:46,33054,2019-11-28 08:11:43.647875-05:00,2019-11-28,8,3,AM,2
43569,2267264,34246374797,YUN2,YUS,24.054304,South,102,Arriving,77,1,2019-11-28 08:15:46,32158,2019-11-28 08:15:43.330515-05:00,2019-11-28,8,3,AM,2
80650,2293189,34246332696,HWY2,YUS,24.077273,South,101,Arriving,79,1,2019-11-28 08:13:46,32513,2019-11-28 08:13:43.803495-05:00,2019-11-28,8,3,AM,2
27515,2257777,34246271179,PVL2,YUS,25.284794,South,101,Arriving,78,1,2019-11-28 08:10:55,32029,2019-11-28 08:10:51.335830-05:00,2019-11-28,8,3,AM,2
26169,2257206,34246227351,YUN2,YUS,26.226955,South,101,Arriving,77,1,2019-11-28 08:08:43,32021,2019-11-28 08:08:43.525283-05:00,2019-11-28,8,3,AM,2

# Filtering for only the most recent data in a request

Since each request has multiple train arrival times.

We're filtering on `station_char` and `requestid`. This might cause an issue with terminus, but we'll deal with it later.

In [31]:
df_newest = df.drop_duplicates(subset = ['requestid', 'station_char'])

In [32]:
df_newest[df_newest['station_char'] == 'KIP1'].sort_values(by = 'request_date').head(30)

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
48032,2269017,34244782417,KIP1,BD,0.604911,West,213,Arriving,33,2,2019-11-28 07:00:47,32182,2019-11-28 07:00:43.976162-05:00,2019-11-28,7,3,AM,1
60102,2278021,34244803350,KIP1,BD,0.000000,East,213,AtStation,33,2,2019-11-28 07:01:44,32306,2019-11-28 07:01:43.534795-05:00,2019-11-28,7,3,AM,1
16818,2249606,34244827162,KIP1,BD,0.000000,East,213,AtStation,33,2,2019-11-28 07:02:47,31917,2019-11-28 07:02:43.576920-05:00,2019-11-28,7,3,AM,1
120372,2325106,34244846809,KIP1,BD,1.273126,West,215,Arriving,33,2,2019-11-28 07:03:46,32948,2019-11-28 07:03:43.456933-05:00,2019-11-28,7,3,AM,1
117256,2322606,34244867650,KIP1,BD,0.512303,East,215,Arriving,33,2,2019-11-28 07:04:46,32914,2019-11-28 07:04:43.696777-05:00,2019-11-28,7,3,AM,1
99405,2308182,34244889783,KIP1,BD,0.000000,East,215,AtStation,33,2,2019-11-28 07:05:44,32717,2019-11-28 07:05:43.659269-05:00,2019-11-28,7,3,AM,1
34657,2261607,34244912528,KIP1,BD,0.000000,East,215,AtStation,33,2,2019-11-28 07:06:45,32081,2019-11-28 07:06:43.531235-05:00,2019-11-28,7,3,AM,1
45810,2268129,34244932324,KIP1,BD,0.000000,East,215,AtStation,33,2,2019-11-28 07:07:42,32170,2019-11-28 07:07:43.660882-05:00,2019-11-28,7,3,AM,1
101625,2311184,34244953520,KIP1,BD,0.440788,West,217,Arriving,33,2,2019-11-28 07:08:46,32758,2019-11-28 07:08:43.561103-05:00,2019-11-28,7,3,AM,1
72189,2286092,34244977459,KIP1,BD,0.000000,East,217,AtStation,33,2,2019-11-28 07:09:54,32416,2019-11-28 07:09:51.436780-05:00,2019-11-28,7,3,AM,1
82447,2295327,34244994204,KIP1,BD,0.000000,East,217,AtStation,33,2,2019-11-28 07:10:42,32542,2019-11-28 07:10:43.603287-05:00,2019-11-28,7,3,AM,1
23946,2256545,34245017957,KIP1,BD,0.000000,East,217,AtStation,33,2,2019-11-28 07:11:47,32012,2019-11-28 07:11:43.518989-05:00,2019-11-28,7,3,AM,1
132883,2333351,34245040143,KIP1,BD,0.604911,West,219,Arriving,33,2,2019-11-28 07:12:47,33060,2019-11-28 07:12:43.503487-05:00,2019-11-28,7,3,AM,1
52951,2273419,34245060712,KIP1,BD,0.000000,East,219,AtStation,33,2,2019-11-28 07:13:46,32243,2019-11-28 07:13:43.682453-05:00,2019-11-28,7,3,AM,1
59656,2277606,34245081470,KIP1,BD,0.000000,East,219,AtStation,33,2,2019-11-28 07:14:48,32300,2019-11-28 07:14:43.678859-05:00,2019-11-28,7,3,AM,1
7877,2242570,34245103985,KIP1,BD,1.273126,West,221,Arriving,33,2,2019-11-28 07:15:47,31821,2019-11-28 07:15:43.578453-05:00,2019-11-28,7,3,AM,1
95392,2305692,34245124949,KIP1,BD,0.256149,East,221,Arriving,33,2,2019-11-28 07:16:43,32683,2019-11-28 07:16:43.596174-05:00,2019-11-28,7,3,AM,1
132435,2332981,34245148492,KIP1,BD,0.000000,East,221,AtStation,33,2,2019-11-28 07:17:46,33055,2019-11-28 07:17:43.408500-05:00,2019-11-28,7,3,AM,1
53840,2274355,34245171510,KIP1,BD,0.000000,East,221,AtStation,33,2,2019-11-28 07:18:53,32256,2019-11-28 07:18:51.440586-05:00,2019-11-28,7,3,AM,1
74866,2287408,34245192271,KIP1,BD,0.000000,East,221,AtStation,33,2,2019-11-28 07:19:59,32434,2019-11-28 07:19:59.426707-05:00,2019-11-28,7,3,AM,1
44924,2267760,34245212626,KIP1,BD,2.823427,West,226,Arriving,33,2,2019-11-28 07:20:54,32165,2019-11-28 07:20:51.445349-05:00,2019-11-28,7,3,AM,1
48481,2269461,34245231597,KIP1,BD,2.422204,West,226,Arriving,33,2,2019-11-28 07:21:46,32188,2019-11-28 07:21:43.449989-05:00,2019-11-28,7,3,AM,1
117703,2323263,34245252184,KIP1,BD,1.273126,West,25,Arriving,33,2,2019-11-28 07:22:42,32923,2019-11-28 07:22:43.489851-05:00,2019-11-28,7,3,AM,1
93160,2303952,34245274963,KIP1,BD,0.000000,East,25,AtStation,33,2,2019-11-28 07:23:47,32659,2019-11-28 07:23:44.111042-05:00,2019-11-28,7,3,AM,1
73966,2286743,34245296163,KIP1,BD,1.273126,West,224,Arriving,33,2,2019-11-28 07:24:52,32425,2019-11-28 07:24:51.444872-05:00,2019-11-28,7,3,AM,1
111014,2318801,34245317689,KIP1,BD,0.604911,West,224,Arriving,33,2,2019-11-28 07:25:48,32862,2019-11-28 07:25:43.835381-05:00,2019-11-28,7,3,AM,1
52504,2272904,34245337827,KIP1,BD,1.273126,West,227,Arriving,33,2,2019-11-28 07:26:47,32236,2019-11-28 07:26:43.775705-05:00,2019-11-28,7,3,AM,1
102959,2313006,34245361626,KIP1,BD,0.000000,East,227,AtStation,33,2,2019-11-28 07:27:53,32783,2019-11-28 07:27:50.446513-05:00,2019-11-28,7,3,AM,1
1138,2238290,34245379905,KIP1,BD,0.000000,East,227,AtStation,33,2,2019-11-28 07:28:46,31763,2019-11-28 07:28:43.575102-05:00,2019-11-28,7,3,AM,1
40460,2264987,34245402713,KIP1,BD,0.000000,East,227,AtStation,33,2,2019-11-28 07:29:54,32127,2019-11-28 07:29:51.452551-05:00,2019-11-28,7,3,AM,1

In [33]:
df_newest[['trainid']].drop_duplicates()

        trainid
96041       463
70449       238
108705       23
130034      142
20763       209
...         ...
115229       28
117710       22
8810        762
121716       39
14671       563

[173 rows x 1 columns]

In [34]:
single_train = df_newest[df_newest['trainid'] == 162]

In [35]:
single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_7348/1386873350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

In [36]:
single_train = single_train.sort_values(by = 'request_date')
#single_train.head(20)

## Creating Trip Ids for Each Train

Terminus are not represented in each trip (ie, its not guaranteed Kipling will show up in the trip)

Trip Ids are only used for the purpose of cleaning up the data, not for any analysis/graph building.

In [37]:
single_train['trip'] = ((single_train['traindirection'] != single_train['traindirection'].shift(1))
                       | ((single_train['request_date'] - single_train['request_date'].shift(1)).dt.seconds > 1800)
                       ).cumsum() - 1

In [38]:
single_train.groupby('trip').count()

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival
trip,,,,,,,,,,,,,,,,,,,
0,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
1,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113
2,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
3,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68

In [39]:
single_train

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival,trip
52907,2273410,34245060549,SHP1,YUS,0.000000,North,162,AtStation,30,1,2019-11-28 07:13:45,32243,2019-11-28 07:13:43.679233-05:00,2019-11-28,7,3,AM,1,2019-11-28 07:13:43.679233-05:00,0
53152,2273450,34245061472,SHP1,YUS,0.000000,North,162,AtStation,64,4,2019-11-28 07:13:48,32243,2019-11-28 07:13:51.425931-05:00,2019-11-28,7,3,AM,1,2019-11-28 07:13:51.425931-05:00,0
59618,2277598,34245080909,NYC1,YUS,0.546847,North,162,Arriving,31,1,2019-11-28 07:14:47,32300,2019-11-28 07:14:43.667612-05:00,2019-11-28,7,3,AM,1,2019-11-28 07:15:16.478435540-05:00,0
7839,2242562,34245103303,NYC1,YUS,0.000000,North,162,AtStation,31,1,2019-11-28 07:15:46,31821,2019-11-28 07:15:43.571282-05:00,2019-11-28,7,3,AM,1,2019-11-28 07:15:43.571282-05:00,0
74832,2287401,34245189469,FIN1,YUS,0.559995,North,162,Arriving,32,1,2019-11-28 07:19:47,32434,2019-11-28 07:19:43.567457-05:00,2019-11-28,7,3,AM,1,2019-11-28 07:20:17.167174640-05:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62660,2279745,34248992636,OSG2,YUS,0.464646,South,162,Arriving,14,1,2019-11-28 10:21:43,32330,2019-11-28 10:21:43.412513-05:00,2019-11-28,10,3,AM,2,2019-11-28 10:22:11.291288240-05:00,3
38074,2263279,34249015616,QPK2,YUS,1.718040,South,162,Arriving,12,1,2019-11-28 10:22:44,32104,2019-11-28 10:22:43.643771-05:00,2019-11-28,10,3,AM,2,2019-11-28 10:24:26.726171-05:00,3
38080,2263280,34249015613,STP2,YUS,0.526599,South,162,Arriving,13,1,2019-11-28 10:22:44,32104,2019-11-28 10:22:43.644112-05:00,2019-11-28,10,3,AM,2,2019-11-28 10:23:15.240057280-05:00,3
33163,2260625,34249036029,QPK2,YUS,1.419594,South,162,Arriving,12,1,2019-11-28 10:23:44,32068,2019-11-28 10:23:43.686858-05:00,2019-11-28,10,3,AM,2,2019-11-28 10:25:08.862506220-05:00,3
33169,2260626,34249036026,STP2,YUS,0.228153,South,162,Arriving,13,1,2019-11-28 10:23:44,32068,2019-11-28 10:23:43.687263-05:00,2019-11-28,10,3,AM,2,2019-11-28 10:23:57.376456500-05:00,3

In [40]:
single_train[single_train['trip'] == 1]

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival,trip
93127,2303944,34245274175,NYC2,YUS,2.061882,South,162,Arriving,31,1,2019-11-28 07:23:45,32659,2019-11-28 07:23:44.108157-05:00,2019-11-28,7,3,AM,2,2019-11-28 07:25:47.821098180-05:00,1
73935,2286735,34245294513,NYC2,YUS,0.376518,South,162,Arriving,31,1,2019-11-28 07:24:47,32425,2019-11-28 07:24:43.950040-05:00,2019-11-28,7,3,AM,2,2019-11-28 07:25:06.541098820-05:00,1
110969,2318792,34245317334,SHP2,YUS,1.067398,South,162,Arriving,30,1,2019-11-28 07:25:47,32862,2019-11-28 07:25:43.831368-05:00,2019-11-28,7,3,AM,2,2019-11-28 07:26:47.875226820-05:00,1
111212,2318832,34245318989,SHP2,YUS,1.067398,South,162,Arriving,64,4,2019-11-28 07:25:51,32862,2019-11-28 07:25:51.436107-05:00,2019-11-28,7,3,AM,2,2019-11-28 07:26:55.479965820-05:00,1
52461,2272895,34245337090,SHP2,YUS,0.000000,South,162,AtStation,30,1,2019-11-28 07:26:45,32236,2019-11-28 07:26:43.772277-05:00,2019-11-28,7,3,AM,2,2019-11-28 07:26:43.772277-05:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9193,2243525,34246745816,DNP2,YUS,3.098569,South,162,Arriving,75,1,2019-11-28 08:33:47,31834,2019-11-28 08:33:43.853519-05:00,2019-11-28,8,3,AM,2,2019-11-28 08:36:49.767636620-05:00,1
58731,2277157,34246766054,DNP2,YUS,2.839706,South,162,Arriving,75,1,2019-11-28 08:34:48,32294,2019-11-28 08:34:43.693638-05:00,2019-11-28,8,3,AM,2,2019-11-28 08:37:34.075990920-05:00,1
58736,2277158,34246766057,FIW2,YUS,6.553569,South,162,Arriving,76,1,2019-11-28 08:34:48,32294,2019-11-28 08:34:43.694043-05:00,2019-11-28,8,3,AM,2,2019-11-28 08:41:16.908160620-05:00,1
64563,2280647,34246790305,FIW2,YUS,3.713863,South,162,Arriving,76,1,2019-11-28 08:35:54,32342,2019-11-28 08:35:51.348777-05:00,2019-11-28,8,3,AM,2,2019-11-28 08:39:34.180541700-05:00,1
64558,2280646,34246790302,DNP2,YUS,0.000000,South,162,AtStation,75,1,2019-11-28 08:35:54,32342,2019-11-28 08:35:51.349148-05:00,2019-11-28,8,3,AM,2,2019-11-28 08:35:51.349148-05:00,1

In [41]:
single_train[single_train['trip'] == 2].iloc[0:3]

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival,trip
119430,2324208,34247911062,YKM1,YUS,0.369334,North,162,Arriving,29,1,2019-11-28 09:29:44,32936,2019-11-28 09:29:44.217709-05:00,2019-11-28,9,3,AM,1,2019-11-28 09:30:06.377761120-05:00,2
80163,2293034,34247933076,SHP1,YUS,3.337113,North,162,Arriving,30,1,2019-11-28 09:30:46,32511,2019-11-28 09:30:43.698518-05:00,2019-11-28,9,3,AM,1,2019-11-28 09:34:03.925311500-05:00,2
80404,2293074,34247934858,SHP1,YUS,3.119683,North,162,Arriving,64,4,2019-11-28 09:30:51,32511,2019-11-28 09:30:51.361281-05:00,2019-11-28,9,3,AM,1,2019-11-28 09:33:58.542237360-05:00,2

In [42]:
single_trip = single_train[single_train['trip'] == 1].copy()

## Setting Arrival Times

We're selecting the most recent record where the train is in the station. This means that we will not be attempting to find the departure time. 

API runs once per minute, so the error is limited to minute resolution

In [43]:
single_trip = single_trip[single_trip['timint']<2]

In [44]:
arrivals = single_trip[['station_char']].drop_duplicates()

In [45]:
arrival_max = single_trip.sort_values(by = 'request_date', ascending = False)
arrival_max = arrival_max.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]

In [46]:
arrival_max[arrival_max['station_char'] == 'LWW2']

      station_char                estimated_arrival
33549         LWW2 2019-11-28 08:26:43.354359-05:00

In [47]:
arrivals_at_station = single_trip[single_trip['timint']==0]
arrivals_at_station = arrivals_at_station.sort_values(by = 'estimated_arrival')
arrivals_at_station  = arrivals_at_station.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]

In [48]:
arrivals = arrivals.merge(arrival_max, how = 'left')

In [49]:
arrivals_at_station = arrivals_at_station.rename(columns = {'estimated_arrival':'at_station_time'})
arrivals = arrivals.merge(arrivals_at_station, how = 'left')
arrivals['arrival'] = True
arrivals

,station_char,estimated_arrival,at_station_time,arrival
0,NYC2,2019-11-28 07:25:06.541098820-05:00,NaT,True
1,SHP2,2019-11-28 07:26:51.435127-05:00,2019-11-28 07:26:43.772277-05:00,True
2,YKM2,2019-11-28 07:29:43.499245-05:00,2019-11-28 07:29:43.499245-05:00,True
3,LAW2,2019-11-28 07:35:43.738739-05:00,2019-11-28 07:34:43.881098-05:00,True
4,DAV2,2019-11-28 07:41:43.603958-05:00,2019-11-28 07:41:43.603958-05:00,True
5,EGL2,2019-11-28 07:39:51.460292-05:00,2019-11-28 07:39:51.460292-05:00,True
6,STC2,2019-11-28 07:43:43.839292-05:00,2019-11-28 07:43:43.839292-05:00,True
7,SUM2,2019-11-28 07:44:43.288403-05:00,2019-11-28 07:44:43.288403-05:00,True
8,ROS2,2019-11-28 07:46:43.404346-05:00,2019-11-28 07:46:43.404346-05:00,True
9,BLO2,2019-11-28 07:47:51.454602-05:00,2019-11-28 07:47:43.871283-05:00,True
10,WEL2,2019-11-28 07:49:43.936469-05:00,2019-11-28 07:49:43.936469-05:00,True
11,COL2,2019-11-28 07:50:43.453206-05:00,2019-11-28 07:50:43.453206-05:00,True
12,DUN2,2019-11-28 07:51:53.347782460-05:00,NaT,True
13,QUN2,2019-11-28 07:53:43.950711-05:00,2019-11-28 07:53:43.950711-05:00,True
14,KNG2,2019-11-28 07:58:43.530598-05:00,2019-11-28 07:54:43.511415-05:00,True
15,UNI2,2019-11-28 08:00:43.573495-05:00,2019-11-28 08:00:43.573495-05:00,True
16,STA2,2019-11-28 08:03:43.572139-05:00,2019-11-28 08:03:43.572139-05:00,True
17,OSG2,2019-11-28 08:05:43.873571-05:00,2019-11-28 08:05:43.873571-05:00,True
18,STP2,2019-11-28 08:06:57.215149440-05:00,NaT,True
19,QPK2,2019-11-28 08:08:43.516627-05:00,2019-11-28 08:08:43.516627-05:00,True
20,MUS2,2019-11-28 08:10:15.879484880-05:00,NaT,True
21,SGU2,2019-11-28 08:11:43.659441-05:00,2019-11-28 08:11:43.659441-05:00,True
22,SPA2,2019-11-28 08:13:43.817641-05:00,2019-11-28 08:13:43.793011-05:00,True
23,DUP2,2019-11-28 08:14:43.878136-05:00,2019-11-28 08:14:43.878136-05:00,True
24,SCW2,2019-11-28 08:19:43.417529-05:00,2019-11-28 08:19:43.417529-05:00,True
25,CVL2,2019-11-28 08:23:43.422717-05:00,2019-11-28 08:23:43.422717-05:00,True
26,GCN2,2019-11-28 08:25:17.273808740-05:00,NaT,True
27,LWW2,2019-11-28 08:26:43.354359-05:00,2019-11-28 08:26:43.354359-05:00,True
28,YKD2,2019-11-28 08:28:43.322721-05:00,2019-11-28 08:28:43.322721-05:00,True
29,WIL2,2019-11-28 08:30:43.878997-05:00,2019-11-28 08:30:43.878997-05:00,True
30,SHW2,2019-11-28 08:33:43.832380-05:00,2019-11-28 08:33:43.832380-05:00,True
31,DNP2,2019-11-28 08:35:51.349148-05:00,2019-11-28 08:35:51.349148-05:00,True

In [50]:
arrivals['arrival_time'] = np.where(arrivals['at_station_time'].isna(), arrivals['estimated_arrival'], arrivals['at_station_time'],)

We're choosing the most recent record of the train sitting at the station (`at_station_time`) because in some cases, the estimated arrival is later (and in some cases) earlier than the time the train reaches the station. If no such time exists, we're using the estimated arrival time.

In [51]:
arrivals = arrivals.sort_values(by = 'arrival_time').reset_index(drop = True)

In [52]:
arrivals

,station_char,estimated_arrival,at_station_time,arrival,arrival_time
0,NYC2,2019-11-28 07:25:06.541098820-05:00,NaT,True,2019-11-28 07:25:06.541098820-05:00
1,SHP2,2019-11-28 07:26:51.435127-05:00,2019-11-28 07:26:43.772277-05:00,True,2019-11-28 07:26:43.772277-05:00
2,YKM2,2019-11-28 07:29:43.499245-05:00,2019-11-28 07:29:43.499245-05:00,True,2019-11-28 07:29:43.499245-05:00
3,LAW2,2019-11-28 07:35:43.738739-05:00,2019-11-28 07:34:43.881098-05:00,True,2019-11-28 07:34:43.881098-05:00
4,EGL2,2019-11-28 07:39:51.460292-05:00,2019-11-28 07:39:51.460292-05:00,True,2019-11-28 07:39:51.460292-05:00
5,DAV2,2019-11-28 07:41:43.603958-05:00,2019-11-28 07:41:43.603958-05:00,True,2019-11-28 07:41:43.603958-05:00
6,STC2,2019-11-28 07:43:43.839292-05:00,2019-11-28 07:43:43.839292-05:00,True,2019-11-28 07:43:43.839292-05:00
7,SUM2,2019-11-28 07:44:43.288403-05:00,2019-11-28 07:44:43.288403-05:00,True,2019-11-28 07:44:43.288403-05:00
8,ROS2,2019-11-28 07:46:43.404346-05:00,2019-11-28 07:46:43.404346-05:00,True,2019-11-28 07:46:43.404346-05:00
9,BLO2,2019-11-28 07:47:51.454602-05:00,2019-11-28 07:47:43.871283-05:00,True,2019-11-28 07:47:43.871283-05:00
10,WEL2,2019-11-28 07:49:43.936469-05:00,2019-11-28 07:49:43.936469-05:00,True,2019-11-28 07:49:43.936469-05:00
11,COL2,2019-11-28 07:50:43.453206-05:00,2019-11-28 07:50:43.453206-05:00,True,2019-11-28 07:50:43.453206-05:00
12,DUN2,2019-11-28 07:51:53.347782460-05:00,NaT,True,2019-11-28 07:51:53.347782460-05:00
13,QUN2,2019-11-28 07:53:43.950711-05:00,2019-11-28 07:53:43.950711-05:00,True,2019-11-28 07:53:43.950711-05:00
14,KNG2,2019-11-28 07:58:43.530598-05:00,2019-11-28 07:54:43.511415-05:00,True,2019-11-28 07:54:43.511415-05:00
15,UNI2,2019-11-28 08:00:43.573495-05:00,2019-11-28 08:00:43.573495-05:00,True,2019-11-28 08:00:43.573495-05:00
16,STA2,2019-11-28 08:03:43.572139-05:00,2019-11-28 08:03:43.572139-05:00,True,2019-11-28 08:03:43.572139-05:00
17,OSG2,2019-11-28 08:05:43.873571-05:00,2019-11-28 08:05:43.873571-05:00,True,2019-11-28 08:05:43.873571-05:00
18,STP2,2019-11-28 08:06:57.215149440-05:00,NaT,True,2019-11-28 08:06:57.215149440-05:00
19,QPK2,2019-11-28 08:08:43.516627-05:00,2019-11-28 08:08:43.516627-05:00,True,2019-11-28 08:08:43.516627-05:00
20,MUS2,2019-11-28 08:10:15.879484880-05:00,NaT,True,2019-11-28 08:10:15.879484880-05:00
21,SGU2,2019-11-28 08:11:43.659441-05:00,2019-11-28 08:11:43.659441-05:00,True,2019-11-28 08:11:43.659441-05:00
22,SPA2,2019-11-28 08:13:43.817641-05:00,2019-11-28 08:13:43.793011-05:00,True,2019-11-28 08:13:43.793011-05:00
23,DUP2,2019-11-28 08:14:43.878136-05:00,2019-11-28 08:14:43.878136-05:00,True,2019-11-28 08:14:43.878136-05:00
24,SCW2,2019-11-28 08:19:43.417529-05:00,2019-11-28 08:19:43.417529-05:00,True,2019-11-28 08:19:43.417529-05:00
25,CVL2,2019-11-28 08:23:43.422717-05:00,2019-11-28 08:23:43.422717-05:00,True,2019-11-28 08:23:43.422717-05:00
26,GCN2,2019-11-28 08:25:17.273808740-05:00,NaT,True,2019-11-28 08:25:17.273808740-05:00
27,LWW2,2019-11-28 08:26:43.354359-05:00,2019-11-28 08:26:43.354359-05:00,True,2019-11-28 08:26:43.354359-05:00
28,YKD2,2019-11-28 08:28:43.322721-05:00,2019-11-28 08:28:43.322721-05:00,True,2019-11-28 08:28:43.322721-05:00
29,WIL2,2019-11-28 08:30:43.878997-05:00,2019-11-28 08:30:43.878997-05:00,True,2019-11-28 08:30:43.878997-05:00
30,SHW2,2019-11-28 08:33:43.832380-05:00,2019-11-28 08:33:43.832380-05:00,True,2019-11-28 08:33:43.832380-05:00
31,DNP2,2019-11-28 08:35:51.349148-05:00,2019-11-28 08:35:51.349148-05:00,True,2019-11-28 08:35:51.349148-05:00

Merging back with `single_trip` to regain information from the main df.

In [53]:
arrivals = arrivals[['station_char', 'arrival', 'arrival_time']].rename(columns =
                                                                        {'arrival_time':'estimated_arrival'})

In [54]:
len(arrivals)

32

In [55]:
single_trip = single_trip.merge(arrivals)[['station_char', 'subwayline', 'timint', 'stationid', 'traindirection', 'trainid', 'estimated_arrival', 'trip']]

In [56]:
single_trip = single_trip.reset_index().merge(single_trip.shift(-1).reset_index()[['station_char', 'estimated_arrival', 'index']], 
                                left_on = 'index', right_on = 'index', suffixes = ['_o', '_d'])
single_trip.dropna()

,index,station_char_o,subwayline,timint,stationid,traindirection,trainid,estimated_arrival_o,trip,station_char_d,estimated_arrival_d
0,0,NYC2,YUS,0.376518,31,South,162,2019-11-28 07:25:06.541098820-05:00,1,SHP2,2019-11-28 07:26:43.772277-05:00
1,1,SHP2,YUS,0.000000,30,South,162,2019-11-28 07:26:43.772277-05:00,1,YKM2,2019-11-28 07:29:43.499245-05:00
2,2,YKM2,YUS,0.000000,29,South,162,2019-11-28 07:29:43.499245-05:00,1,LAW2,2019-11-28 07:34:43.881098-05:00
3,3,LAW2,YUS,0.000000,28,South,162,2019-11-28 07:34:43.881098-05:00,1,EGL2,2019-11-28 07:39:51.460292-05:00
4,4,EGL2,YUS,0.000000,27,South,162,2019-11-28 07:39:51.460292-05:00,1,DAV2,2019-11-28 07:41:43.603958-05:00
5,5,DAV2,YUS,0.000000,26,South,162,2019-11-28 07:41:43.603958-05:00,1,STC2,2019-11-28 07:43:43.839292-05:00
6,6,STC2,YUS,0.000000,25,South,162,2019-11-28 07:43:43.839292-05:00,1,SUM2,2019-11-28 07:44:43.288403-05:00
7,7,SUM2,YUS,0.000000,24,South,162,2019-11-28 07:44:43.288403-05:00,1,ROS2,2019-11-28 07:46:43.404346-05:00
8,8,ROS2,YUS,0.000000,23,South,162,2019-11-28 07:46:43.404346-05:00,1,BLO2,2019-11-28 07:47:43.871283-05:00
9,9,BLO2,YUS,0.000000,22,South,162,2019-11-28 07:47:43.871283-05:00,1,WEL2,2019-11-28 07:49:43.936469-05:00
10,10,WEL2,YUS,0.000000,21,South,162,2019-11-28 07:49:43.936469-05:00,1,COL2,2019-11-28 07:50:43.453206-05:00
11,11,COL2,YUS,0.000000,20,South,162,2019-11-28 07:50:43.453206-05:00,1,DUN2,2019-11-28 07:51:53.347782460-05:00
12,12,DUN2,YUS,0.164353,19,South,162,2019-11-28 07:51:53.347782460-05:00,1,QUN2,2019-11-28 07:53:43.950711-05:00
13,13,QUN2,YUS,0.000000,18,South,162,2019-11-28 07:53:43.950711-05:00,1,KNG2,2019-11-28 07:54:43.511415-05:00
14,14,KNG2,YUS,0.000000,17,South,162,2019-11-28 07:54:43.511415-05:00,1,UNI2,2019-11-28 08:00:43.573495-05:00
15,15,UNI2,YUS,0.000000,16,South,162,2019-11-28 08:00:43.573495-05:00,1,STA2,2019-11-28 08:03:43.572139-05:00
16,16,STA2,YUS,0.000000,15,South,162,2019-11-28 08:03:43.572139-05:00,1,OSG2,2019-11-28 08:05:43.873571-05:00
17,17,OSG2,YUS,0.000000,14,South,162,2019-11-28 08:05:43.873571-05:00,1,STP2,2019-11-28 08:06:57.215149440-05:00
18,18,STP2,YUS,0.228899,13,South,162,2019-11-28 08:06:57.215149440-05:00,1,QPK2,2019-11-28 08:08:43.516627-05:00
19,19,QPK2,YUS,0.000000,12,South,162,2019-11-28 08:08:43.516627-05:00,1,MUS2,2019-11-28 08:10:15.879484880-05:00
20,20,MUS2,YUS,0.539745,11,South,162,2019-11-28 08:10:15.879484880-05:00,1,SGU2,2019-11-28 08:11:43.659441-05:00
21,21,SGU2,YUS,0.000000,48,South,162,2019-11-28 08:11:43.659441-05:00,1,SPA2,2019-11-28 08:13:43.793011-05:00
22,22,SPA2,YUS,0.000000,9,South,162,2019-11-28 08:13:43.793011-05:00,1,DUP2,2019-11-28 08:14:43.878136-05:00
23,23,DUP2,YUS,0.000000,8,South,162,2019-11-28 08:14:43.878136-05:00,1,SCW2,2019-11-28 08:19:43.417529-05:00
24,24,SCW2,YUS,0.000000,7,South,162,2019-11-28 08:19:43.417529-05:00,1,CVL2,2019-11-28 08:23:43.422717-05:00
25,25,CVL2,YUS,0.000000,6,South,162,2019-11-28 08:23:43.422717-05:00,1,GCN2,2019-11-28 08:25:17.273808740-05:00
26,26,GCN2,YUS,0.561824,5,South,162,2019-11-28 08:25:17.273808740-05:00,1,LWW2,2019-11-28 08:26:43.354359-05:00
27,27,LWW2,YUS,0.000000,4,South,162,2019-11-28 08:26:43.354359-05:00,1,YKD2,2019-11-28 08:28:43.322721-05:00
28,28,YKD2,YUS,0.000000,3,South,162,2019-11-28 08:28:43.322721-05:00,1,WIL2,2019-11-28 08:30:43.878997-05:00
29,29,WIL2,YUS,0.000000,2,South,162,2019-11-28 08:30:43.878997-05:00,1,SHW2,2019-11-28 08:33:43.832380-05:00
30,30,SHW2,YUS,0.000000,1,South,162,2019-11-28 08:33:43.832380-05:00,1,DNP2,2019-11-28 08:35:51.349148-05:00