In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
def process_trip(single_trip):
    
    single_trip = single_trip[single_trip['timint']<2]
    arrivals = single_trip[['station_char']].drop_duplicates()
    
    arrival_max = single_trip.sort_values(by = 'request_date', ascending = False)
    arrival_max = arrival_max.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]


    arrivals_at_station = single_trip[single_trip['timint']==0]
    arrivals_at_station = arrivals_at_station.sort_values(by = 'estimated_arrival')
    arrivals_at_station  = arrivals_at_station.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]

    arrivals = arrivals.merge(arrival_max, how = 'left')

    arrivals_at_station = arrivals_at_station.rename(columns = {'estimated_arrival':'at_station_time'})
    arrivals = arrivals.merge(arrivals_at_station, how = 'left')
    arrivals['arrival'] = True
    
    arrivals['arrival_time'] = np.where(arrivals['at_station_time'].isna(),
                                        arrivals['estimated_arrival'], arrivals['at_station_time'])



    arrivals = arrivals.sort_values(by = 'estimated_arrival').reset_index(drop = True)
    
    arrivals = arrivals[['station_char', 'arrival', 'arrival_time']].rename(columns =
                                                                        {'arrival_time':'estimated_arrival'})
    if len(arrivals) != 0:
        single_trip = single_trip.merge(arrivals)
    else:
        return -1 # no eligible arrivals, continue to next trip

    single_trip = single_trip.sort_values(by = 'estimated_arrival')
    
    single_trip = single_trip[['station_char', 'subwayline', 'timint','stationid', 'traindirection', 'trip','trainid',
                 'estimated_arrival', 'arrival']]
    
    single_trip = single_trip.reset_index().merge(single_trip.shift(-1).reset_index()[['station_char',
                                                                                       'estimated_arrival','stationid',
                                                                                       'index']], 
                                left_on = 'index', right_on = 'index', suffixes = ['_o', '_d'])
    single_trip = single_trip.dropna()
    return single_trip

In [11]:
df = pd.read_csv('cleaned_subway/raw_subway_2019-11-29_PM.csv')

In [12]:
df['request_date'] = pd.to_datetime(df['request_date'])

In [13]:
df = df.sort_values(by = 'timint')

In [14]:
stn_lookup = pd.read_csv('train_arrival_stations_lookup.csv')

In [15]:
df['platformid'] = df['station_char'].str[3]

In [16]:
df

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
115970,738032,34288841325,QUN2,YUS,0.000000,South,196,AtStation,18,1,2019-11-29 20:59:43,10417,2019-11-29 20:59:43.688017-05:00,2019-11-29,20,4,PM,2
42287,687227,34285606344,YIE2,SHEP,0.000000,West,814,Delayed,30,1,2019-11-29 18:28:44,9705,2019-11-29 18:28:43.612801-05:00,2019-11-29,18,4,PM,2
42284,687227,34285606050,SHP1,YUS,0.000000,North,115,AtStation,30,1,2019-11-29 18:28:44,9705,2019-11-29 18:28:43.612801-05:00,2019-11-29,18,4,PM,1
118399,740796,34288146754,OSS1,BD,0.000000,East,222,AtStation,44,2,2019-11-29 20:24:52,10454,2019-11-29 20:24:51.302882-05:00,2019-11-29,20,4,PM,1
131594,750754,34287205166,PAP1,BD,0.000000,East,241,AtStation,55,2,2019-11-29 19:41:49,10592,2019-11-29 19:41:51.291830-05:00,2019-11-29,19,4,PM,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36233,684203,34287938682,KEN1,BD,17.334796,East,206,Arriving,63,2,2019-11-29 20:14:49,9663,2019-11-29 20:14:51.294143-05:00,2019-11-29,20,4,PM,1
15455,668422,34282700263,WIL1,YUS,17.460351,North,158,Arriving,2,1,2019-11-29 16:15:43,9439,2019-11-29 16:15:43.598633-05:00,2019-11-29,16,4,PM,1
115411,737942,34282381405,WIL1,YUS,17.460351,North,152,Arriving,2,1,2019-11-29 16:01:42,10416,2019-11-29 16:01:43.904510-05:00,2019-11-29,16,4,PM,1
38955,685945,34282764416,WIL1,YUS,17.715351,North,159,Arriving,2,1,2019-11-29 16:18:42,9688,2019-11-29 16:18:43.638384-05:00,2019-11-29,16,4,PM,1
36234,684203,34287938683,KEN1,BD,18.301702,East,207,Arriving,63,2,2019-11-29 20:14:49,9663,2019-11-29 20:14:51.294143-05:00,2019-11-29,20,4,PM,1

# Filtering for only the most recent data in a request

Since each request has multiple train arrival times.

We're filtering on `station_char` and `requestid`. This might cause an issue with terminus, but we'll deal with it later.

In [17]:
df_newest = df.drop_duplicates(subset = ['requestid', 'station_char'])

In [23]:
train_list = []
for line in list(df_newest['subwayline'].drop_duplicates()):
    df_line = df_newest[df_newest['subwayline'] == line]
    
    train_ids = df_line['trainid'].drop_duplicates()
    
    for train_id in train_ids:
        
        single_train = df_line[df_line['trainid'] == train_id]
        
        single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

        single_train = single_train.sort_values(by = 'request_date')

        single_train['trip'] = ((single_train['traindirection'] != single_train['traindirection'].shift(1))
                               | ((single_train['request_date'] - single_train['request_date'].shift(1)).dt.seconds > 1800)
                               ).cumsum() - 1        
        trip_num = single_train['trip'].max()
        
        
        arrival_list = []
        arrival_limit = None
        for i in range(trip_num + 1):
            if i == 0:
                current_arrivals = process_trip(single_train[single_train['trip'] == i])
                if isinstance(current_arrivals, int):
                    print('cont')
                    continue

            elif isinstance(current_arrivals, int): # when the previous current arrivals does not return a result
                current_arrivals = process_trip(single_train[single_train['trip'] == i])
                if isinstance(current_arrivals, int): # if the successives trip still does not return a result
                    print('cont')
                    continue
            else:
                
                if i < trip_num:
                    next_arrivals = process_trip(single_train[single_train['trip'] == i + 1])
                try:
                    arrival_limit = next_arrivals.head(1)[['estimated_arrival_d']].iloc[0,0] - datetime.timedelta(seconds = 45)

                except: # if the next trip doesn't return a result, then the arrival limit id not used

                    if len(current_arrivals['station_char_d']) == 0:
                        pass
                    else:
                        arrival_limit = current_arrivals.tail(1)[['estimated_arrival_d']].iloc[0,0] + datetime.timedelta(seconds = 45)

                if len(current_arrivals['station_char_d']) == 1:
                    pass
                elif len(current_arrivals['station_char_d']) == 0:
                    pass

                elif i < trip_num:

                    current_arrivals = current_arrivals[current_arrivals['estimated_arrival_d'] < arrival_limit]
                else:
                    pass
                if i < trip_num:
                    past_arrivals = current_arrivals
                    current_arrivals = next_arrivals
                else:
                    pass
            try:
                arrival_list.append(past_arrivals.copy())
            except:
                arrival_list.append(current_arrivals.copy())





        if len(arrival_list) == 0:
            continue
        else:
            arrival_trip = pd.concat(arrival_list)
        
        if arrival_trip['estimated_arrival_d'].max().hour < 11:
            if arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'BD':
                cutoff = arrival_trip[arrival_trip['stationid_d'] == 55]['estimated_arrival_d'].max()

            elif (arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'YUS') & (arrival_trip.tail(1)['stationid_d'].iloc[0] == 80):
                cutoff = arrival_trip[arrival_trip['stationid_d'] == 80]['estimated_arrival_d'].max()

            elif arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'YUS':
                cutoff = arrival_trip[arrival_trip['stationid_d'] == 1]['estimated_arrival_d'].max()
            else:
                cutoff = arrival_trip['estimated_arrival_d'].max()
        else:
            cutoff = arrival_trip['estimated_arrival_d'].max()

        arrival_trip = arrival_trip[arrival_trip['estimated_arrival_d'] <= cutoff]


        arrival_trip = arrival_trip.reset_index(drop = True)
        
        arrival_trip = arrival_trip.merge(stn_lookup[['station_char', 'sequence']], left_on = ['station_char_o'], 
                   right_on = ['station_char']).drop(columns = ['station_char']).rename(
            columns = {'sequence':'sequence_o'})

        arrival_trip = arrival_trip.merge(stn_lookup[['station_char', 'sequence']], left_on = ['station_char_d'], 
                           right_on = ['station_char']).drop(columns = ['station_char']).rename(
            columns = {'sequence':'sequence_d'})
        
        train_list.append(arrival_trip)

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

cont

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

cont

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')
/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_35523/623153585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

In [24]:
train_df = pd.concat(train_list)

In [25]:
len(train_df)

12380

In [26]:
train_df['cost'] = (train_df['estimated_arrival_d'] - train_df['estimated_arrival_o']).dt.seconds/60
train_df = train_df[train_df['cost']<60]
len(train_df)

12380

In [27]:
abs(train_df['sequence_o'] - train_df['sequence_d'])

0    1
1    1
2    1
3    1
4    1
    ..
3    2
4    1
5    1
6    2
7    1
Length: 12380, dtype: int64

In [30]:
train_df[train_df['trainid'] == 196]

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d,sequence_o,sequence_d,cost
0,0,STC2,YUS,0.387822,25,South,0,196,2019-11-29 20:51:06.956848840-05:00,True,SUM2,2019-11-29 20:52:43.444845-05:00,24.0,31,30,1.600000
1,1,SUM2,YUS,0.000000,24,South,0,196,2019-11-29 20:52:43.444845-05:00,True,ROS2,2019-11-29 20:53:43.988218-05:00,23.0,30,29,1.000000
2,2,ROS2,YUS,0.000000,23,South,0,196,2019-11-29 20:53:43.988218-05:00,True,BLO2,2019-11-29 20:55:43.685313-05:00,22.0,29,28,1.983333
3,3,BLO2,YUS,0.000000,22,South,0,196,2019-11-29 20:55:43.685313-05:00,True,WEL2,2019-11-29 20:56:43.574773-05:00,21.0,28,27,0.983333
4,4,WEL2,YUS,0.000000,21,South,0,196,2019-11-29 20:56:43.574773-05:00,True,COL2,2019-11-29 20:57:43.346175-05:00,20.0,27,26,0.983333
5,5,COL2,YUS,0.000000,20,South,0,196,2019-11-29 20:57:43.346175-05:00,True,DUN2,2019-11-29 20:58:43.276039-05:00,19.0,26,25,0.983333
6,6,DUN2,YUS,0.000000,19,South,0,196,2019-11-29 20:58:43.276039-05:00,True,QUN2,2019-11-29 20:59:43.688017-05:00,18.0,25,24,1.000000

In [28]:
train_df[abs(train_df['sequence_o'] - train_df['sequence_d']) == 0]

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d,sequence_o,sequence_d,cost
96,32,VMC2,YUS,0.964922,80,South,0,115,2019-11-29 17:07:48.690675140-05:00,True,VMC1,2019-11-29 17:09:48.695254140-05:00,80.0,1,1,2.000000
97,32,VMC2,YUS,0.964922,80,South,0,115,2019-11-29 17:07:48.690675140-05:00,True,VMC1,2019-11-29 17:09:48.695254140-05:00,80.0,1,1,2.000000
99,37,VMC2,YUS,0.937352,80,South,3,123,2019-11-29 20:16:39.753829860-05:00,True,VMC1,2019-11-29 20:16:39.753829860-05:00,80.0,1,1,0.000000
92,36,VMC1,YUS,0.937352,80,South,2,171,2019-11-29 19:19:40.165872860-05:00,True,VMC2,2019-11-29 19:22:43.545539-05:00,80.0,1,1,3.050000
2,37,VMC1,YUS,0.937352,80,South,3,133,2019-11-29 20:40:39.843660860-05:00,True,VMC2,2019-11-29 20:40:50.715629-05:00,80.0,1,1,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,KIP2,BD,0.254518,33,East,3,29,2019-11-29 18:12:58.729533419-05:00,True,KIP1,2019-11-29 18:13:43.597100-05:00,33.0,39,39,0.733333
30,0,KIP1,BD,1.265017,33,West,2,231,2019-11-29 18:18:06.673903200-05:00,True,KIP2,2019-11-29 18:18:06.673903200-05:00,33.0,39,39,0.000000
32,0,KIP2,BD,0.254518,33,East,3,231,2019-11-29 18:17:59.154223419-05:00,True,KIP1,2019-11-29 18:18:43.773433-05:00,33.0,39,39,0.733333
0,0,KEN2,BD,0.566031,63,East,0,34,2019-11-29 19:09:25.243803979-05:00,True,KEN1,2019-11-29 19:09:51.283696-05:00,63.0,69,69,0.433333
0,0,KEN2,BD,0.566031,63,East,0,34,2019-11-29 19:09:25.243803979-05:00,True,KEN1,2019-11-29 19:09:51.283696-05:00,63.0,69,69,0.433333

In [36]:
train_df[abs(train_df['sequence_o'] - train_df['sequence_d']) > 1].reset_index(drop = True)

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d,sequence_o,sequence_d,cost
0,0,KEN2,BD,0.000000,63,West,4,225,2019-12-02 11:08:44.520436-05:00,True,VPK2,2019-12-02 11:16:26.695520500-05:00,61.0,69,67,7.700000
1,1,KIP1,BD,0.000000,33,East,2,336,2019-12-02 10:13:37.619817-05:00,True,SHE1,2019-12-02 10:41:37.347513-05:00,51.0,39,57,27.983333
2,0,KIP1,BD,0.000000,33,East,4,202,2019-12-02 11:14:44.532431-05:00,True,OML1,2019-12-02 11:16:53.980977-05:00,36.0,39,42,2.150000
3,1,RYK1,BD,0.000000,35,East,6,241,2019-12-02 11:14:44.531661-05:00,True,KIP1,2019-12-02 11:16:37.502858-05:00,33.0,41,39,1.866667
4,2,VPK2,BD,0.686247,61,West,3,16,2019-12-02 11:11:26.696050500-05:00,True,WDB2,2019-12-02 11:14:44.522808-05:00,59.0,67,65,3.283333
5,4,COX2,BD,0.000000,58,West,3,16,2019-12-02 11:15:45.521792-05:00,True,MST2,2019-12-02 11:18:02.999888540-05:00,60.0,64,66,2.283333
6,5,MST2,BD,0.291297,60,West,3,16,2019-12-02 11:18:02.999888540-05:00,True,GWD2,2019-12-02 11:23:28.944792760-05:00,57.0,66,63,5.416667
7,12,BAT1,BD,1.021368,46,East,4,19,2019-12-02 09:50:46.634486140-05:00,True,SGL1,2019-12-02 09:53:44.633731840-05:00,48.0,52,54,2.950000
8,17,SHE1,BD,1.119917,51,East,4,19,2019-12-02 09:58:52.548972720-05:00,True,BRD1,2019-12-02 10:02:00.758450720-05:00,53.0,57,59,3.133333
9,4,WDB2,BD,1.555969,59,West,1,32,2019-12-02 11:41:18.884871060-05:00,True,PAP2,2019-12-02 11:47:45.529033-05:00,55.0,65,61,6.433333
10,4,BRD1,BD,0.381293,53,East,1,35,2019-12-02 07:47:07.608051620-05:00,True,PAP1,2019-12-02 07:49:44.729687-05:00,55.0,59,61,2.616667
11,22,DNW2,BD,0.000000,41,West,3,245,2019-12-02 10:37:37.988144-05:00,True,HPK2,2019-12-02 10:39:16.408835120-05:00,39.0,47,45,1.633333
12,0,WAR2,BD,0.000000,62,West,1,326,2019-12-02 08:08:44.727770-05:00,True,CHE2,2019-12-02 08:29:45.312551-05:00,54.0,68,60,21.000000
13,10,SHE2,BD,0.999625,51,West,4,244,2019-12-02 11:17:37.495690420-05:00,True,CHE2,2019-12-02 11:20:44.524078-05:00,54.0,57,60,3.116667
14,9,PAP2,BD,0.000000,55,West,4,244,2019-12-02 11:12:45.523310-05:00,True,CFK2,2019-12-02 11:16:37.518529-05:00,52.0,61,58,3.850000
15,0,KEN2,BD,0.000000,63,West,1,34,2019-12-02 11:32:45.523824-05:00,True,BRD2,2019-12-02 11:47:45.529443-05:00,53.0,69,59,15.000000
16,4,BRD1,BD,0.000000,53,East,1,39,2019-12-02 08:05:44.728505-05:00,True,PAP1,2019-12-02 08:08:30.082727280-05:00,55.0,59,61,2.750000
17,0,BRD1,BD,0.717745,53,East,0,26,2019-12-02 07:38:28.793429100-05:00,True,PAP1,2019-12-02 07:41:03.720787620-05:00,55.0,59,61,2.566667
18,0,WAR2,BD,0.273148,62,West,1,238,2019-12-02 07:18:01.117462520-05:00,True,MST2,2019-12-02 07:23:02.926366860-05:00,60.0,68,66,5.016667
19,6,DON1,BD,0.000000,56,East,0,433,2019-12-02 11:12:45.516903-05:00,True,COX1,2019-12-02 11:17:40.184606360-05:00,58.0,62,64,4.900000
20,18,QPK2,YUS,1.419594,12,South,3,113,2019-12-02 11:46:02.756189220-05:00,True,SGU2,2019-12-02 11:49:37.713243-05:00,10.0,18,16,3.566667
21,5,EGL2,YUS,0.518259,27,South,3,122,2019-12-02 11:40:08.678312980-05:00,True,STC2,2019-12-02 11:43:37.744476-05:00,25.0,33,31,3.483333
22,7,DAV2,YUS,0.000000,26,South,3,122,2019-12-02 11:49:37.723860-05:00,True,SUM2,2019-12-02 11:53:37.723714-05:00,24.0,32,30,3.983333
23,25,LAW1,YUS,0.000000,28,North,0,123,2019-12-02 07:57:37.869197-05:00,True,NYC1,2019-12-02 08:02:37.745989-05:00,31.0,34,37,4.983333
24,2,YKM2,YUS,0.000000,29,South,3,123,2019-12-02 11:31:37.579893-05:00,True,EGL2,2019-12-02 11:34:37.619651-05:00,27.0,35,33,3.000000
25,4,DAV2,YUS,0.891763,26,South,3,123,2019-12-02 11:40:31.088200280-05:00,True,SUM2,2019-12-02 11:44:37.585519-05:00,24.0,32,30,4.100000
26,31,SHW2,YUS,0.000000,1,South,1,117,2019-12-02 09:15:37.608032-05:00,True,YUN2,2019-12-02 09:17:37.649417-05:00,77.0,7,4,2.000000
27,30,STC1,YUS,0.000000,25,North,2,101,2019-12-02 09:52:37.401913-05:00,True,NYC1,2019-12-02 10:26:37.731992-05:00,31.0,31,37,34.000000
28,29,YKD2,YUS,0.000000,3,South,3,101,2019-12-02 11:45:37.561280-05:00,True,FIW2,2019-12-02 11:50:37.543201-05:00,76.0,9,5,4.983333
29,31,DNP2,YUS,0.000000,75,South,1,126,2019-12-02 09:50:37.859538-05:00,True,PVL2,2019-12-02 09:53:17.517005380-05:00,78.0,6,3,2.650000
30,29,WIL2,YUS,1.483779,2,South,3,167,2019-12-02 11:45:06.761900120-05:00,True,YUN2,2019-12-02 11:47:37.579155-05:00,77.0,8,4,2.500000
31,34,YKM1,YUS,0.000000,29,North,2,167,2019-12-02 10:00:37.349153-05:00,True,NYC1,2019-12-02 10:23:37.433371-05:00,31.0,35,37,23.000000
32,30,WIL2,YUS,1.483779,2,South,2,162,2019-12-02 11:29:06.589168120-05:00,True,FIW2,2019-12-02 11:29:37.740384-05:00,76.0,8,5,0.516667
33,0,VMC1,YUS,0.000000,80,North,3,162,2019-12-02 11:37:37.725849-05:00,True,PVL1,2019-12-02 11:43:37.748469-05:00,78.0,1,3,6.000000
34,7,QPK1,YUS,0.000000,12,North,2,152,2019-12-02 08:32:37.805047-05:00,True,OSG1,2019-12-02 08:38:00.988917260-05:00,14.0,18,20,5.383333
35,9,STP1,YUS,0.000000,13,North,2,152,2019-12-02 08:39:37.835477-05:00,True,STA1,2019-12-02 08:40:37.366466-05:00,15.0,19,21,0.983333
36,29,YKM1,YUS,1.419412,29,North,0,124,2019-12-02 08:10:02.687694900-05:00,True,NYC1,2019-12-02 08:11:37.498164-05:00,31.0,35,37,1.566667
37,35,SHP1,YUS,1.196489,64,North,1,131,2019-12-02 08:29:57.097610720-05:00,True,FIN2,2019-12-02 08:31:58.060258280-05:00,32.0,36,38,2.000000
38,30,WIL2,YUS,0.010026,2,South,2,131,2019-12-02 09:52:37.994205540-05:00,True,DNP2,2019-12-02 09:58:20.129117840-05:00,75.0,8,6,5.700000
39,2,LAW1,YUS,0.320936,28,North,0,102,2019-12-02 07:06:56.958388260-05:00,True,SHP1,2019-12-02 07:13:37.625741-05:00,30.0,34,36,6.666667
40,26,GCN2,YUS,1.906281,5,South,3,102,2019-12-02 11:47:31.939129180-05:00,True,YKD2,2019-12-02 11:47:37.558609-05:00,3.0,11,9,0.083333
41,29,SHP1,YUS,1.614842,64,North,0,116,2019-12-02 08:09:22.621495180-05:00,True,FIN2,2019-12-02 08:11:18.341787640-05:00,32.0,36,38,1.916667
42,30,STC1,YUS,0.793473,25,North,2,109,2019-12-02 10:09:25.259083040-05:00,True,YKM1,2019-12-02 10:31:37.434956-05:00,29.0,31,35,22.200000
43,11,YKM1,YUS,0.000000,29,North,0,109,2019-12-02 07:24:37.584929-05:00,True,NYC1,2019-12-02 07:31:37.602826-05:00,31.0,35,37,7.000000
44,19,QPK2,YUS,1.419594,12,South,2,160,2019-12-02 10:54:02.629922220-05:00,True,CVL2,2019-12-02 11:07:21.208069080-05:00,6.0,18,12,13.300000
45,29,WIL2,YUS,0.000000,2,South,2,165,2019-12-02 11:25:37.589527-05:00,True,DNP2,2019-12-02 11:26:37.403865-05:00,75.0,8,6,0.983333
46,31,SHW2,YUS,0.000000,1,South,2,165,2019-12-02 11:32:37.520235-05:00,True,FIW2,2019-12-02 11:38:56.628005680-05:00,76.0,7,5,6.316667
47,34,YKM1,YUS,0.000000,29,North,1,165,2019-12-02 09:58:37.385878-05:00,True,NYC1,2019-12-02 10:06:37.771117-05:00,31.0,35,37,8.000000
48,4,FIW1,YUS,0.000000,76,North,1,144,2019-12-02 07:41:52.722640-05:00,True,SHW1,2019-12-02 07:47:37.618900-05:00,1.0,5,7,5.733333
49,29,WIL2,YUS,0.000000,2,South,2,150,2019-12-02 10:44:37.630029-05:00,True,DNP2,2019-12-02 10:51:19.939311840-05:00,75.0,8,6,6.700000
50,1,NYC2,YUS,0.000000,31,South,2,150,2019-12-02 09:42:37.383359-05:00,True,YKM2,2019-12-02 09:48:37.685044-05:00,29.0,37,35,6.000000
51,23,LAW1,YUS,0.000000,28,North,2,164,2019-12-02 10:02:37.789007-05:00,True,SHP1,2019-12-02 10:08:37.652639-05:00,30.0,34,36,5.983333
52,8,DNP2,YUS,0.000000,75,South,0,146,2019-12-02 07:22:37.703796-05:00,True,YUN2,2019-12-02 07:28:16.343986880-05:00,77.0,6,4,5.633333
53,25,SHP1,YUS,0.322870,64,North,2,161,2019-12-02 10:03:04.724390620-05:00,True,FIN1,2019-12-02 10:06:37.771475-05:00,32.0,36,38,3.550000
54,13,LAW1,YUS,0.320936,28,North,0,128,2019-12-02 08:09:56.980098260-05:00,True,SHP1,2019-12-02 08:22:37.504379-05:00,30.0,34,36,12.666667
55,29,WIL2,YUS,1.483779,2,South,1,128,2019-12-02 09:52:06.866152120-05:00,True,FIW2,2019-12-02 09:53:37.648505-05:00,76.0,8,5,1.500000
56,32,YKM1,YUS,1.419412,29,North,0,129,2019-12-02 08:21:02.550400900-05:00,True,NYC1,2019-12-02 08:22:37.504722-05:00,31.0,35,37,1.566667
57,27,YKM1,YUS,0.000000,29,North,0,139,2019-12-02 08:49:37.572479-05:00,True,NYC1,2019-12-02 08:57:37.701732-05:00,31.0,35,37,8.000000
58,3,FIW1,YUS,0.000000,76,North,3,135,2019-12-02 10:37:37.974853-05:00,True,SHW1,2019-12-02 10:42:37.622996-05:00,1.0,5,7,4.983333
59,11,YKM1,YUS,0.370541,29,North,0,104,2019-12-02 07:58:00.102008560-05:00,True,NYC1,2019-12-02 08:09:37.724974-05:00,31.0,35,37,11.616667

In [35]:
train_df.sort_values(by = 'cost', ascending = False).head(50)

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d,sequence_o,sequence_d,cost
11,11,LAW1,YUS,0.000000,28,North,0,198,2019-12-02 07:21:52.730326-05:00,True,YKM1,2019-12-02 08:02:22.190776460-05:00,29.0,34,35,40.483333
60,37,VMC2,YUS,1.565961,80,South,1,112,2019-12-02 09:35:11.776734720-05:00,True,VMC1,2019-12-02 10:15:35.239404120-05:00,80.0,1,1,40.383333
3,30,STC1,YUS,0.000000,25,North,2,101,2019-12-02 09:52:37.401913-05:00,True,NYC1,2019-12-02 10:26:37.731992-05:00,31.0,31,37,34.000000
30,1,KIP1,BD,0.000000,33,East,2,336,2019-12-02 10:13:37.619817-05:00,True,SHE1,2019-12-02 10:41:37.347513-05:00,51.0,39,57,27.983333
6,6,DON2,BD,0.000000,56,West,0,337,2019-12-02 09:26:45.332796-05:00,True,PAP2,2019-12-02 09:53:45.350688-05:00,55.0,62,61,27.000000
5,5,GWD2,BD,0.000000,57,West,1,346,2019-12-02 09:29:45.334005-05:00,True,DON2,2019-12-02 09:54:45.345193-05:00,56.0,63,62,25.000000
5,5,COX2,BD,0.000000,58,West,0,432,2019-12-02 09:32:45.341695-05:00,True,GWD2,2019-12-02 09:56:45.346491-05:00,57.0,64,63,24.000000
11,5,GWD2,BD,0.000000,57,West,3,332,2019-12-02 09:32:45.335164-05:00,True,DON2,2019-12-02 09:55:50.099046580-05:00,56.0,63,62,23.066667
109,34,YKM1,YUS,0.000000,29,North,2,167,2019-12-02 10:00:37.349153-05:00,True,NYC1,2019-12-02 10:23:37.433371-05:00,31.0,35,37,23.000000
15,30,STC1,YUS,0.793473,25,North,2,109,2019-12-02 10:09:25.259083040-05:00,True,YKM1,2019-12-02 10:31:37.434956-05:00,29.0,31,35,22.200000
5,5,GWD2,BD,0.000000,57,West,0,337,2019-12-02 09:04:45.322544-05:00,True,DON2,2019-12-02 09:26:45.332796-05:00,56.0,63,62,22.000000
0,0,WAR2,BD,0.000000,62,West,1,326,2019-12-02 08:08:44.727770-05:00,True,CHE2,2019-12-02 08:29:45.312551-05:00,54.0,68,60,21.000000
18,4,BRD1,BD,0.000000,53,East,1,309,2019-12-02 09:04:45.329659-05:00,True,CHE1,2019-12-02 09:25:03.591642100-05:00,54.0,59,60,20.300000
14,6,DON2,BD,0.000000,56,West,3,235,2019-12-02 09:06:45.323146-05:00,True,PAP2,2019-12-02 09:26:45.338486-05:00,55.0,62,61,20.000000
22,10,PAP1,BD,0.000000,55,East,2,201,2019-12-02 09:29:45.341377-05:00,True,DON1,2019-12-02 09:48:45.343371-05:00,56.0,61,62,19.000000
13,7,CFK1,BD,0.000000,52,East,2,201,2019-12-02 09:06:45.338552-05:00,True,BRD1,2019-12-02 09:25:45.337884-05:00,53.0,58,59,18.983333
32,9,CHE1,BD,0.000000,54,East,2,205,2019-12-02 09:31:46.340028-05:00,True,PAP1,2019-12-02 09:50:45.350000-05:00,55.0,60,61,18.983333
19,16,VPK1,BD,0.000000,61,East,2,245,2019-12-02 09:09:45.328848-05:00,True,WAR1,2019-12-02 09:27:45.336898-05:00,62.0,67,68,18.000000
84,35,SHP1,YUS,0.000000,30,North,1,140,2019-12-02 08:53:37.698947-05:00,True,NYC1,2019-12-02 09:11:37.289311-05:00,31.0,36,37,17.983333
4,4,COX2,BD,0.000000,58,West,1,346,2019-12-02 09:12:45.331366-05:00,True,GWD2,2019-12-02 09:29:45.334005-05:00,57.0,64,63,17.000000
13,13,BAU2,BD,0.000000,49,West,1,336,2019-12-02 09:08:37.744526-05:00,True,SGL2,2019-12-02 09:25:37.767474-05:00,10.0,55,54,17.000000
84,0,FIN2,YUS,0.000000,32,South,2,135,2019-12-02 08:48:37.515629-05:00,True,NYC2,2019-12-02 09:04:59.962417300-05:00,31.0,38,37,16.366667
86,32,DNP2,YUS,0.000000,75,South,3,168,2019-12-02 11:39:37.585256-05:00,True,FIW2,2019-12-02 11:55:37.727219-05:00,76.0,6,5,16.000000
28,14,SGL2,BD,0.000000,10,West,0,328,2019-12-02 09:08:37.717955-05:00,True,BSP2,2019-12-02 09:24:37.676167-05:00,9.0,54,53,15.983333
46,8,BRD1,BD,0.000000,53,East,1,323,2019-12-02 09:35:37.698550-05:00,True,CHE1,2019-12-02 09:51:21.387956860-05:00,54.0,59,60,15.716667
0,0,KEL1,BD,0.000000,40,East,0,207,2019-12-02 07:01:37.649957-05:00,True,DNW1,2019-12-02 07:16:55.465325860-05:00,41.0,46,47,15.283333
68,6,SHE1,BD,0.000000,51,East,2,202,2019-12-02 09:10:37.504154-05:00,True,CFK1,2019-12-02 09:25:45.338384-05:00,52.0,57,58,15.116667
34,17,CHR2,BD,0.000000,45,West,0,328,2019-12-02 09:30:45.345949-05:00,True,OSS2,2019-12-02 09:45:45.351742-05:00,44.0,51,50,15.000000
16,16,BAT2,BD,0.000000,46,West,1,336,2019-12-02 09:30:45.345582-05:00,True,CHR2,2019-12-02 09:45:45.351374-05:00,45.0,52,51,15.000000
18,0,KEN2,BD,0.000000,63,West,1,34,2019-12-02 11:32:45.523824-05:00,True,BRD2,2019-12-02 11:47:45.529443-05:00,53.0,69,59,15.000000
15,15,BAT2,BD,0.000000,46,West,0,231,2019-12-02 07:34:44.733768-05:00,True,CHR2,2019-12-02 07:49:03.141999240-05:00,45.0,52,51,14.300000
86,33,YKM1,YUS,0.000000,29,North,1,142,2019-12-02 08:55:37.898352-05:00,True,SHP1,2019-12-02 09:09:38.026243-05:00,30.0,35,36,14.000000
68,0,KEN2,BD,0.000000,63,West,3,242,2019-12-02 09:18:45.333327-05:00,True,WAR2,2019-12-02 09:32:45.340128-05:00,62.0,69,68,14.000000
71,19,EGL1,YUS,0.000000,27,North,2,149,2019-12-02 08:55:37.897604-05:00,True,LAW1,2019-12-02 09:09:38.025541-05:00,28.0,33,34,14.000000
28,28,NYC1,YUS,0.000000,31,North,0,139,2019-12-02 08:57:37.701732-05:00,True,FIN1,2019-12-02 09:11:37.289655-05:00,32.0,37,38,13.983333
96,23,LAW1,YUS,0.000000,28,North,1,145,2019-12-02 08:57:37.700428-05:00,True,YKM1,2019-12-02 09:11:37.288599-05:00,29.0,34,35,13.983333
84,32,EGL1,YUS,0.126104,27,North,1,148,2019-12-02 08:57:45.266286739-05:00,True,LAW1,2019-12-02 09:11:37.288218-05:00,28.0,33,34,13.866667
31,19,QPK2,YUS,1.419594,12,South,2,160,2019-12-02 10:54:02.629922220-05:00,True,CVL2,2019-12-02 11:07:21.208069080-05:00,6.0,18,12,13.300000
32,7,CFK1,BD,0.000000,52,East,2,326,2019-12-02 09:38:45.344685-05:00,True,BRD1,2019-12-02 09:51:45.353704-05:00,53.0,58,59,13.000000
85,31,EGL1,YUS,0.000000,27,North,1,146,2019-12-02 08:53:37.697537-05:00,True,LAW1,2019-12-02 09:06:37.745971-05:00,28.0,33,34,13.000000
53,29,NYC1,YUS,0.000000,31,North,0,122,2019-12-02 08:52:37.597254-05:00,True,FIN1,2019-12-02 09:05:37.387483-05:00,32.0,37,38,12.983333
94,23,LAW1,YUS,0.000000,28,North,1,143,2019-12-02 08:51:37.896417-05:00,True,YKM1,2019-12-02 09:04:37.443939-05:00,29.0,34,35,12.983333
63,1,SHP2,YUS,0.000000,30,South,1,132,2019-12-02 08:51:37.897127-05:00,True,YKM2,2019-12-02 09:04:37.443939-05:00,29.0,36,35,12.983333
20,11,SHE2,BD,0.000000,51,West,1,331,2019-12-02 09:12:45.333588-05:00,True,YNG2,2019-12-02 09:25:37.772664-05:00,22.0,57,56,12.866667
26,13,LAW1,YUS,0.320936,28,North,0,128,2019-12-02 08:09:56.980098260-05:00,True,SHP1,2019-12-02 08:22:37.504379-05:00,30.0,34,36,12.666667
61,32,LAW1,YUS,0.320936,28,North,1,144,2019-12-02 08:53:56.954388260-05:00,True,YKM1,2019-12-02 09:06:37.746352-05:00,29.0,34,35,12.666667
107,35,SHP1,YUS,0.000000,30,North,1,162,2019-12-02 09:57:37.670344-05:00,True,NYC1,2019-12-02 10:09:52.084212100-05:00,31.0,36,37,12.233333
16,16,BSP2,BD,0.000000,9,West,0,233,2019-12-02 07:37:37.699780-05:00,True,BAT2,2019-12-02 07:49:44.732877-05:00,46.0,53,52,12.116667
19,19,OSS2,BD,0.000000,44,West,0,432,2019-12-02 10:17:45.366417-05:00,True,DUF2,2019-12-02 10:29:45.520291-05:00,43.0,50,49,12.000000
57,17,CHR2,BD,0.000000,45,West,3,246,2019-12-02 10:21:45.517476-05:00,True,OSS2,2019-12-02 10:33:45.522075-05:00,44.0,51,50,12.000000

In [78]:
train_df[(train_df['cost'] > 0.4) & (train_df['cost'] < 15)]

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d,cost
0,0,BYV1,SHEP,0.000000,65,East,0,463,2019-11-28 07:01:51.417028-05:00,True,BSS1,2019-11-28 07:03:45.173927240-05:00,66.0,1.883333
1,1,BSS1,SHEP,0.895973,66,East,0,463,2019-11-28 07:03:45.173927240-05:00,True,LES1,2019-11-28 07:04:51.416831-05:00,67.0,1.100000
2,2,LES1,SHEP,0.000000,67,East,0,463,2019-11-28 07:04:51.416831-05:00,True,DML1,2019-11-28 07:07:31.888566640-05:00,68.0,2.666667
4,0,DML2,SHEP,0.000000,68,West,1,463,2019-11-28 07:07:51.419204-05:00,True,LES2,2019-11-28 07:12:51.427952-05:00,67.0,5.000000
5,1,LES2,SHEP,0.000000,67,West,1,463,2019-11-28 07:12:51.427952-05:00,True,BSS2,2019-11-28 07:14:46.391402980-05:00,66.0,1.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,1,PVL1,YUS,0.227492,78,North,0,52,2019-11-28 10:54:57.147737420-05:00,True,YUN1,2019-11-28 10:56:43.655887-05:00,77.0,1.766667
2,2,YUN1,YUS,0.000000,77,North,0,52,2019-11-28 10:56:43.655887-05:00,True,FIW1,2019-11-28 10:58:43.494615-05:00,76.0,1.983333
3,3,FIW1,YUS,0.000000,76,North,0,52,2019-11-28 10:58:43.494615-05:00,True,DNP1,2019-11-28 11:01:43.995897-05:00,75.0,3.000000
4,4,DNP1,YUS,0.000000,75,North,0,52,2019-11-28 11:01:43.995897-05:00,True,SHW1,2019-11-28 11:04:35.538133500-05:00,1.0,2.850000
0,0,SHW2,YUS,0.158990,1,South,1,199,2019-11-28 11:56:53.243854680-05:00,True,DNP2,2019-11-28 11:59:26.011504840-05:00,75.0,2.533333

In [79]:
train_df[(train_df['cost'] < 0.4)].sort_values(by = 'cost')

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d,cost
3,3,DML1,SHEP,0.674497,68,East,0,463,2019-11-28 07:07:31.888566640-05:00,True,DML2,2019-11-28 07:07:31.888566640-05:00,68.0,0.000000
46,29,KIP2,BD,0.862818,33,West,3,203,2019-11-28 08:29:43.113328720-05:00,True,KIP1,2019-11-28 08:29:43.113328720-05:00,33.0,0.000000
31,30,KIP1,BD,0.862818,33,West,1,236,2019-11-28 07:54:43.099116720-05:00,True,KIP2,2019-11-28 07:54:43.099116720-05:00,33.0,0.000000
0,0,KIP1,BD,0.604911,33,West,0,213,2019-11-28 07:01:20.270808140-05:00,True,KIP2,2019-11-28 07:01:20.270808140-05:00,33.0,0.000000
75,31,KEN1,BD,0.820667,63,East,2,201,2019-11-28 09:17:40.594182240-05:00,True,KEN2,2019-11-28 09:17:40.594182240-05:00,63.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,YIE1,SHEP,0.000000,64,East,16,462,2019-11-28 09:46:51.367945-05:00,True,YIE2,2019-11-28 09:47:13.844385300-05:00,30.0,0.366667
91,0,YIE2,SHEP,0.503356,64,East,23,461,2019-11-28 11:09:20.804812300-05:00,True,YIE1,2019-11-28 11:09:43.666333-05:00,30.0,0.366667
115,0,YIE2,SHEP,0.503356,64,East,26,462,2019-11-28 11:37:20.823004300-05:00,True,YIE1,2019-11-28 11:37:43.725591-05:00,30.0,0.366667
52,0,YIE2,SHEP,0.503356,64,East,12,462,2019-11-28 09:03:21.549763300-05:00,True,YIE1,2019-11-28 09:03:43.842750-05:00,30.0,0.366667
65,30,KIP1,BD,0.604911,33,West,2,219,2019-11-28 09:01:19.885645140-05:00,True,KIP2,2019-11-28 09:01:43.787570-05:00,33.0,0.383333

In [80]:
train_df[(train_df['station_char_o'].str[0:3] == train_df['station_char_d'].str[0:3])]

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d,cost
3,3,DML1,SHEP,0.674497,68,East,0,463,2019-11-28 07:07:31.888566640-05:00,True,DML2,2019-11-28 07:07:31.888566640-05:00,68.0,0.000000
7,0,YIE2,SHEP,0.503356,64,East,2,463,2019-11-28 07:19:21.630879300-05:00,True,YIE1,2019-11-28 07:19:43.566730-05:00,30.0,0.350000
11,0,DML1,SHEP,0.418792,68,West,3,463,2019-11-28 07:29:16.561617760-05:00,True,DML2,2019-11-28 07:29:51.434776-05:00,68.0,0.566667
16,5,YIE2,SHEP,1.006711,30,West,3,463,2019-11-28 07:40:51.850606540-05:00,True,YIE1,2019-11-28 07:40:51.850606540-05:00,30.0,0.000000
21,4,DML2,SHEP,0.551678,68,East,4,463,2019-11-28 07:50:24.412125120-05:00,True,DML1,2019-11-28 07:50:51.310334-05:00,68.0,0.433333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,36,VMC1,YUS,0.961779,80,South,2,135,2019-11-28 10:01:48.822732120-05:00,True,VMC2,2019-11-28 10:04:43.825634-05:00,80.0,2.916667
66,36,VMC1,YUS,0.961779,80,South,1,139,2019-11-28 10:12:41.229193120-05:00,True,VMC2,2019-11-28 10:15:43.817663-05:00,80.0,3.033333
40,9,VMC2,YUS,0.961779,80,South,5,123,2019-11-28 09:43:41.252144120-05:00,True,VMC1,2019-11-28 09:45:05.184776820-05:00,80.0,1.383333
17,17,VMC1,YUS,0.357577,80,South,0,514,2019-11-28 11:05:21.052241820-05:00,True,VMC2,2019-11-28 11:07:43.441701-05:00,80.0,2.366667
5,5,VMC1,YUS,0.961779,80,South,1,45,2019-11-28 10:35:41.300874120-05:00,True,VMC2,2019-11-28 10:35:41.300874120-05:00,80.0,0.000000

In [81]:
train_df[(train_df['station_char_o'].str[0:3] != train_df['station_char_d'].str[0:3]) & (train_df['cost'] < 0.4 )].reset_index(drop = True)

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d,cost
0,1,BSS2,SHEP,0.916107,66,West,11,463,2019-11-28 09:05:46.313604980-05:00,True,BYV2,2019-11-28 09:05:51.348379-05:00,65.0,0.083333
1,2,BYV1,SHEP,1.278523,65,East,11,461,2019-11-28 09:03:08.058430400-05:00,True,BSS1,2019-11-28 09:03:08.984957920-05:00,66.0,0.000000
2,25,RUN2,BD,0.801858,38,West,2,213,2019-11-28 08:38:31.581716720-05:00,True,RYK2,2019-11-28 08:38:43.977257-05:00,35.0,0.200000
3,15,MUS2,YUS,0.000000,11,South,2,151,2019-11-28 09:39:43.558247-05:00,True,KNG2,2019-11-28 09:39:56.879535740-05:00,17.0,0.216667
4,19,STA2,YUS,0.667184,15,South,2,151,2019-11-28 09:44:23.789823900-05:00,True,DUP2,2019-11-28 09:44:43.719085-05:00,8.0,0.316667
5,12,BLO2,YUS,1.943810,50,South,2,158,2019-11-28 09:57:40.222264380-05:00,True,DUP2,2019-11-28 09:57:46.118908740-05:00,8.0,0.083333
6,20,GCN2,YUS,1.119987,5,South,2,158,2019-11-28 10:07:50.962539260-05:00,True,STA2,2019-11-28 10:08:11.148869620-05:00,15.0,0.333333
7,21,OSG2,YUS,1.181165,14,South,2,158,2019-11-28 10:08:54.327205860-05:00,True,LWW2,2019-11-28 10:09:12.044801320-05:00,4.0,0.283333
8,14,BLO2,YUS,0.000000,22,South,1,134,2019-11-28 08:53:43.477477-05:00,True,SPA2,2019-11-28 08:53:49.356477840-05:00,47.0,0.083333
9,15,DUP2,YUS,0.745118,8,South,1,134,2019-11-28 08:55:28.079760820-05:00,True,WEL2,2019-11-28 08:55:43.339253-05:00,21.0,0.250000
10,9,DAV2,YUS,1.684681,26,South,4,145,2019-11-28 09:16:24.634327920-05:00,True,PVL2,2019-11-28 09:16:43.612971-05:00,78.0,0.300000
11,13,HWY2,YUS,0.000000,79,South,4,145,2019-11-28 09:18:43.713032-05:00,True,STC2,2019-11-28 09:18:59.634557579-05:00,25.0,0.250000

In [82]:
train_df[[
    'index', 'subwayline','station_char_o', 'stationid_o', 'traindirection', 'trip', 'trainid', 'estimated_arrival_o',
    'station_char_d',  'stationid_d', 'estimated_arrival_d', 'cost'
]].to_csv('processed_subway/train-arrival_2019-11-28_AM.csv', index = False)

In [92]:
train_df[train_df['subw'[['station_char_o', 'stationid_o']].drop_duplicates().sort_values(by = 'stationid_o').iloc[100:150]

    station_char_o  stationid_o
11            BSP1           47
7             SPA1           47
53            SPA2           47
75            BSP2           47
80            SGU2           48
111           SGU1           48
106           SGL1           48
14            SGL2           48
14            BAU2           49
46            BAU1           49
75            BLO1           50
156           YNG2           50
102           BLO2           50
106           YNG1           50
48            SHE1           51
12            SHE2           51
49            CFK1           52
11            CFK2           52
10            BRD2           53
50            BRD1           53
9             CHE2           54
51            CHE1           54
8             PAP2           55
52            PAP1           55
53            DON1           56
7             DON2           56
6             GWD2           57
54            GWD1           57
5             COX2           58
55            COX1           58
56            WDB1           59
4             WDB2           59
3             MST2           60
57            MST1           60
58            VPK1           61
2             VPK2           61
0             WAR1           62
1             WAR2           62
91            KEN1           63
60            KEN2           63
7             YIE2           64
82            SHP1           64
14            SHP2           64
67            YIE1           64
0             BYV1           65
15            BYV2           65
1             BSS1           66
6             BSS2           66
2             LES1           67
5             LES2           67