In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
new_stations_capture = gpd.read_file('new_stations_capture.geojson')

# Old Stations

In [35]:
gtfs_dir = '/Volumes/Data2/RST/notebook/Real Time/gtfs_2019-11-14/'

In [36]:
station_capture = gpd.read_file('station_capture.geojson')
stops = pd.read_csv('unmatched.csv')

In [37]:
stops

,stop_id,stop_name_19,stop_lon_19,stop_lat_19
0,262.0,DANFORTH RD AT KENNEDY RD,-79.260939,43.714379
1,292.0,DUFFERIN ST AT SPRINGHURST AVE,-79.425646,43.634831
2,294.0,DUFFERIN MALL,-79.434031,43.655795
3,300.0,DUNDAS ST WEST AT DUNDAS WEST OUTER PLATFORM,-79.453253,43.656768
4,307.0,EAST YORK TOWN CENTRE,-79.347132,43.705908
...,...,...,...,...
1377,24237.0,EASTERN AVE AT CARLAW AVE,-79.339120,43.658316
1378,24238.0,JARVIS ST AT KING ST EAST,-79.371965,43.650758
1379,24239.0,CALEDONIA RD AT LAWRENCE AVE WEST NORTH SIDE,-79.466533,43.711795
1380,24240.0,KNOB HILL DR AT WESTON RD,-79.534253,43.711310
1381,24244.0,KING ST WEST AT YORK ST WEST SIDE,-79.383978,43.647926

In [38]:
stations = gpd.read_file('/Volumes/Data2/RST/notebook/GTFS/stop_snapping/GIS Simplify/station_buffer.geojson')
stations

,name,latitude,longitude,geometry
0,SHEPPARD WEST STATION,43.750204,-79.462781,"MULTIPOLYGON (((623980.262 4845296.150, 623980..."
1,WILSON STATION,43.734547,-79.450792,"MULTIPOLYGON (((624978.027 4843575.194, 624978..."
2,YORKDALE STATION,43.724595,-79.447693,"MULTIPOLYGON (((625248.301 4842474.552, 625248..."
3,LAWRENCE WEST STATION,43.716347,-79.444191,"MULTIPOLYGON (((625547.567 4841563.784, 625547..."
4,GLENCAIRN STATION,43.708582,-79.440796,"MULTIPOLYGON (((625837.278 4840706.510, 625837..."
...,...,...,...,...
68,LAWRENCE EAST STATION,43.750475,-79.270436,"MULTIPOLYGON (((639465.560 4845631.618, 639465..."
69,ELLESMERE STATION,43.766714,-79.276507,"MULTIPOLYGON (((638939.244 4847425.020, 638939..."
70,MIDLAND STATION,43.770400,-79.272179,"MULTIPOLYGON (((639279.059 4847841.667, 639279..."
71,SCARBOROUGH CENTRE STATION,43.774648,-79.257285,"MULTIPOLYGON (((640467.861 4848338.597, 640467..."
72,MCCOWAN STATION,43.774882,-79.251654,"MULTIPOLYGON (((640920.487 4848374.140, 640920..."

In [39]:
stops_1 = stops[~stops['stop_id'].isin(list(station_capture['stop_id']))]
stops_1.to_csv('stops_nostations.csv', index = False)

In [40]:
stops_1

,stop_id,stop_name_19,stop_lon_19,stop_lat_19
0,262.0,DANFORTH RD AT KENNEDY RD,-79.260939,43.714379
1,292.0,DUFFERIN ST AT SPRINGHURST AVE,-79.425646,43.634831
2,294.0,DUFFERIN MALL,-79.434031,43.655795
4,307.0,EAST YORK TOWN CENTRE,-79.347132,43.705908
5,318.0,EGLINTON AVE EAST AT EGLINTON SQ,-79.300489,43.725114
...,...,...,...,...
1376,24236.0,BATHURST ST AT KING ST WEST SOUTH SIDE,-79.402662,43.643604
1377,24237.0,EASTERN AVE AT CARLAW AVE,-79.339120,43.658316
1378,24238.0,JARVIS ST AT KING ST EAST,-79.371965,43.650758
1379,24239.0,CALEDONIA RD AT LAWRENCE AVE WEST NORTH SIDE,-79.466533,43.711795
1380,24240.0,KNOB HILL DR AT WESTON RD,-79.534253,43.711310

# New Stations

In [41]:
new_stations_capture = gpd.read_file('new_stations_capture.geojson')
stops_2 = stops_1[~stops_1['stop_id'].isin(list(new_stations_capture['stop_id']))]
stops_2.to_csv('stops_no-tysse.csv', index = False)

In [42]:
stops_2

,stop_id,stop_name_19,stop_lon_19,stop_lat_19
0,262.0,DANFORTH RD AT KENNEDY RD,-79.260939,43.714379
1,292.0,DUFFERIN ST AT SPRINGHURST AVE,-79.425646,43.634831
2,294.0,DUFFERIN MALL,-79.434031,43.655795
4,307.0,EAST YORK TOWN CENTRE,-79.347132,43.705908
5,318.0,EGLINTON AVE EAST AT EGLINTON SQ,-79.300489,43.725114
...,...,...,...,...
1376,24236.0,BATHURST ST AT KING ST WEST SOUTH SIDE,-79.402662,43.643604
1377,24237.0,EASTERN AVE AT CARLAW AVE,-79.339120,43.658316
1378,24238.0,JARVIS ST AT KING ST EAST,-79.371965,43.650758
1379,24239.0,CALEDONIA RD AT LAWRENCE AVE WEST NORTH SIDE,-79.466533,43.711795
1380,24240.0,KNOB HILL DR AT WESTON RD,-79.534253,43.711310

# Major Ints

In [43]:
major_capture = gpd.read_file('major_capture.geojson')
stops_3 = stops_2[~stops_2['stop_id'].isin(list(major_capture['stop_id']))]
stops_3.to_csv('stops_no-maj.csv', index = False)

In [44]:
stops_3

,stop_id,stop_name_19,stop_lon_19,stop_lat_19
0,262.0,DANFORTH RD AT KENNEDY RD,-79.260939,43.714379
1,292.0,DUFFERIN ST AT SPRINGHURST AVE,-79.425646,43.634831
2,294.0,DUFFERIN MALL,-79.434031,43.655795
4,307.0,EAST YORK TOWN CENTRE,-79.347132,43.705908
5,318.0,EGLINTON AVE EAST AT EGLINTON SQ,-79.300489,43.725114
...,...,...,...,...
1366,24226.0,EASTERN AVE AT CARLAW AVE,-79.338834,43.658495
1374,24234.0,BERKELEY ST AT KING ST EAST,-79.364296,43.652039
1377,24237.0,EASTERN AVE AT CARLAW AVE,-79.339120,43.658316
1379,24239.0,CALEDONIA RD AT LAWRENCE AVE WEST NORTH SIDE,-79.466533,43.711795
1380,24240.0,KNOB HILL DR AT WESTON RD,-79.534253,43.711310

# Maj Min

In [45]:
maj_min_capture = gpd.read_file('maj_min_capture.geojson')
stops_4 = stops_3[~stops_3['stop_id'].isin(list(maj_min_capture['stop_id']))]
stops_4.to_csv('stops_no-maj-maj_min.csv', index = False)

In [46]:
stops_4

,stop_id,stop_name_19,stop_lon_19,stop_lat_19
0,262.0,DANFORTH RD AT KENNEDY RD,-79.260939,43.714379
1,292.0,DUFFERIN ST AT SPRINGHURST AVE,-79.425646,43.634831
2,294.0,DUFFERIN MALL,-79.434031,43.655795
4,307.0,EAST YORK TOWN CENTRE,-79.347132,43.705908
5,318.0,EGLINTON AVE EAST AT EGLINTON SQ,-79.300489,43.725114
...,...,...,...,...
1362,24219.0,VILLIERS ST AT CHERRY ST,-79.353181,43.647054
1363,24220.0,VILLIERS ST AT MUNITION ST,-79.351263,43.648013
1365,24222.0,COMMISSIONERS ST AT SAULTER STREET EAST SIDE,-79.341777,43.649812
1374,24234.0,BERKELEY ST AT KING ST EAST,-79.364296,43.652039
1380,24240.0,KNOB HILL DR AT WESTON RD,-79.534253,43.711310

# Min Min

In [47]:
min_min_capture = gpd.read_file('min_min_capture.geojson')
stops_5 = stops_4[~stops_4['stop_id'].isin(list(min_min_capture['stop_id']))]
stops_5.to_csv('stops_no-maj-maj_min-min_min.csv', index = False)

In [48]:
stops_5

,stop_id,stop_name_19,stop_lon_19,stop_lat_19
1,292.0,DUFFERIN ST AT SPRINGHURST AVE,-79.425646,43.634831
2,294.0,DUFFERIN MALL,-79.434031,43.655795
4,307.0,EAST YORK TOWN CENTRE,-79.347132,43.705908
5,318.0,EGLINTON AVE EAST AT EGLINTON SQ,-79.300489,43.725114
6,366.0,AIRPORT RD AT BEVERLEY ST,-79.647762,43.707577
...,...,...,...,...
1362,24219.0,VILLIERS ST AT CHERRY ST,-79.353181,43.647054
1363,24220.0,VILLIERS ST AT MUNITION ST,-79.351263,43.648013
1365,24222.0,COMMISSIONERS ST AT SAULTER STREET EAST SIDE,-79.341777,43.649812
1374,24234.0,BERKELEY ST AT KING ST EAST,-79.364296,43.652039
1380,24240.0,KNOB HILL DR AT WESTON RD,-79.534253,43.711310

# Maj Col

In [49]:
maj_col_capture = gpd.read_file('maj_col_capture.geojson')
stops_6 = stops_5[~stops_5['stop_id'].isin(list(maj_col_capture['stop_id']))]
stops_6.to_csv('stops_no-maj-maj_min-min_min-maj_col.csv', index = False)

In [50]:
stops_6

,stop_id,stop_name_19,stop_lon_19,stop_lat_19
1,292.0,DUFFERIN ST AT SPRINGHURST AVE,-79.425646,43.634831
2,294.0,DUFFERIN MALL,-79.434031,43.655795
4,307.0,EAST YORK TOWN CENTRE,-79.347132,43.705908
5,318.0,EGLINTON AVE EAST AT EGLINTON SQ,-79.300489,43.725114
6,366.0,AIRPORT RD AT BEVERLEY ST,-79.647762,43.707577
...,...,...,...,...
1362,24219.0,VILLIERS ST AT CHERRY ST,-79.353181,43.647054
1363,24220.0,VILLIERS ST AT MUNITION ST,-79.351263,43.648013
1365,24222.0,COMMISSIONERS ST AT SAULTER STREET EAST SIDE,-79.341777,43.649812
1374,24234.0,BERKELEY ST AT KING ST EAST,-79.364296,43.652039
1380,24240.0,KNOB HILL DR AT WESTON RD,-79.534253,43.711310

# Filtering Int Remaining

In [53]:
int_remaining = gpd.read_file('int_remaining_buffer_touches.geojson')

In [56]:
int_remaining = int_remaining[~int_remaining['shape_id'].isna()]
int_remaining.to_file('int_remaining_buffer_cropped.geojson', driver = 'GeoJSON')

# Remaining Intersections

In [57]:
remaining_capture = gpd.read_file('int_remaining_capture.geojson')
stops_7 = stops_6[~stops_6['stop_id'].isin(list(remaining_capture['stop_id']))]

In [58]:
stops_7

,stop_id,stop_name_19,stop_lon_19,stop_lat_19
2,294.0,DUFFERIN MALL,-79.434031,43.655795
4,307.0,EAST YORK TOWN CENTRE,-79.347132,43.705908
6,366.0,AIRPORT RD AT BEVERLEY ST,-79.647762,43.707577
7,367.0,AIRPORT RD AT BRESLER DR WEST SIDE,-79.607576,43.685993
8,368.0,AIRPORT RD AT BRESLER DR,-79.606403,43.686085
...,...,...,...,...
1349,24205.0,1189 HUNTINGWOOD DR,-79.277886,43.798041
1351,24207.0,1965 BRIMLEY RD,-79.266940,43.785142
1352,24208.0,1994 BRIMLEY RD,-79.267363,43.785662
1365,24222.0,COMMISSIONERS ST AT SAULTER STREET EAST SIDE,-79.341777,43.649812
1380,24240.0,KNOB HILL DR AT WESTON RD,-79.534253,43.711310