In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv('cleaned_subway/raw_subway_2019-11-28_AM.csv')

In [3]:
df['request_date'] = pd.to_datetime(df['request_date'])

In [4]:
df = df.sort_values(by = 'timint')

In [5]:
df['platformid'] = df['station_char'].str[3]

In [6]:
df

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
96041,2305871,34246572163,YIE1,SHEP,0.000000,East,463,AtStation,64,4,2019-11-28 08:25:51,32685,2019-11-28 08:25:51.333503-05:00,2019-11-28,8,3,AM,1
70449,2284190,34250776188,DNW1,BD,0.000000,East,238,AtStation,41,2,2019-11-28 11:47:46,32390,2019-11-28 11:47:43.252615-05:00,2019-11-28,11,3,AM,1
108705,2317542,34249245226,DAV1,YUS,0.000000,North,23,AtStation,26,1,2019-11-28 10:33:44,32845,2019-11-28 10:33:43.807289-05:00,2019-11-28,10,3,AM,1
130034,2331258,34250039928,STP1,YUS,0.000000,North,142,AtStation,13,1,2019-11-28 11:11:43,33032,2019-11-28 11:11:43.844225-05:00,2019-11-28,11,3,AM,1
20763,2253499,34248521900,YNG2,BD,0.000000,West,209,AtStation,22,1,2019-11-28 09:58:44,31970,2019-11-28 09:58:43.613983-05:00,2019-11-28,9,3,AM,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131973,2332904,34246290251,PVL2,YUS,23.830480,South,101,Arriving,78,1,2019-11-28 08:11:46,33054,2019-11-28 08:11:43.647875-05:00,2019-11-28,8,3,AM,2
43569,2267264,34246374797,YUN2,YUS,24.054304,South,102,Arriving,77,1,2019-11-28 08:15:46,32158,2019-11-28 08:15:43.330515-05:00,2019-11-28,8,3,AM,2
80650,2293189,34246332696,HWY2,YUS,24.077273,South,101,Arriving,79,1,2019-11-28 08:13:46,32513,2019-11-28 08:13:43.803495-05:00,2019-11-28,8,3,AM,2
27515,2257777,34246271179,PVL2,YUS,25.284794,South,101,Arriving,78,1,2019-11-28 08:10:55,32029,2019-11-28 08:10:51.335830-05:00,2019-11-28,8,3,AM,2
26169,2257206,34246227351,YUN2,YUS,26.226955,South,101,Arriving,77,1,2019-11-28 08:08:43,32021,2019-11-28 08:08:43.525283-05:00,2019-11-28,8,3,AM,2

# Filtering for only the most recent data in a request

Since each request has multiple train arrival times.

We're filtering on `station_char` and `requestid`. This might cause an issue with terminus, but we'll deal with it later.

In [7]:
df_newest = df.drop_duplicates(subset = ['requestid', 'station_char'])

In [8]:
df_newest[df_newest['station_char'] == 'KIP1'].sort_values(by = 'request_date').head(30)

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
48032,2269017,34244782417,KIP1,BD,0.604911,West,213,Arriving,33,2,2019-11-28 07:00:47,32182,2019-11-28 07:00:43.976162-05:00,2019-11-28,7,3,AM,1
60102,2278021,34244803350,KIP1,BD,0.000000,East,213,AtStation,33,2,2019-11-28 07:01:44,32306,2019-11-28 07:01:43.534795-05:00,2019-11-28,7,3,AM,1
16818,2249606,34244827162,KIP1,BD,0.000000,East,213,AtStation,33,2,2019-11-28 07:02:47,31917,2019-11-28 07:02:43.576920-05:00,2019-11-28,7,3,AM,1
120372,2325106,34244846809,KIP1,BD,1.273126,West,215,Arriving,33,2,2019-11-28 07:03:46,32948,2019-11-28 07:03:43.456933-05:00,2019-11-28,7,3,AM,1
117256,2322606,34244867650,KIP1,BD,0.512303,East,215,Arriving,33,2,2019-11-28 07:04:46,32914,2019-11-28 07:04:43.696777-05:00,2019-11-28,7,3,AM,1
99405,2308182,34244889783,KIP1,BD,0.000000,East,215,AtStation,33,2,2019-11-28 07:05:44,32717,2019-11-28 07:05:43.659269-05:00,2019-11-28,7,3,AM,1
34657,2261607,34244912528,KIP1,BD,0.000000,East,215,AtStation,33,2,2019-11-28 07:06:45,32081,2019-11-28 07:06:43.531235-05:00,2019-11-28,7,3,AM,1
45810,2268129,34244932324,KIP1,BD,0.000000,East,215,AtStation,33,2,2019-11-28 07:07:42,32170,2019-11-28 07:07:43.660882-05:00,2019-11-28,7,3,AM,1
101625,2311184,34244953520,KIP1,BD,0.440788,West,217,Arriving,33,2,2019-11-28 07:08:46,32758,2019-11-28 07:08:43.561103-05:00,2019-11-28,7,3,AM,1
72189,2286092,34244977459,KIP1,BD,0.000000,East,217,AtStation,33,2,2019-11-28 07:09:54,32416,2019-11-28 07:09:51.436780-05:00,2019-11-28,7,3,AM,1
82447,2295327,34244994204,KIP1,BD,0.000000,East,217,AtStation,33,2,2019-11-28 07:10:42,32542,2019-11-28 07:10:43.603287-05:00,2019-11-28,7,3,AM,1
23946,2256545,34245017957,KIP1,BD,0.000000,East,217,AtStation,33,2,2019-11-28 07:11:47,32012,2019-11-28 07:11:43.518989-05:00,2019-11-28,7,3,AM,1
132883,2333351,34245040143,KIP1,BD,0.604911,West,219,Arriving,33,2,2019-11-28 07:12:47,33060,2019-11-28 07:12:43.503487-05:00,2019-11-28,7,3,AM,1
52951,2273419,34245060712,KIP1,BD,0.000000,East,219,AtStation,33,2,2019-11-28 07:13:46,32243,2019-11-28 07:13:43.682453-05:00,2019-11-28,7,3,AM,1
59656,2277606,34245081470,KIP1,BD,0.000000,East,219,AtStation,33,2,2019-11-28 07:14:48,32300,2019-11-28 07:14:43.678859-05:00,2019-11-28,7,3,AM,1
7877,2242570,34245103985,KIP1,BD,1.273126,West,221,Arriving,33,2,2019-11-28 07:15:47,31821,2019-11-28 07:15:43.578453-05:00,2019-11-28,7,3,AM,1
95392,2305692,34245124949,KIP1,BD,0.256149,East,221,Arriving,33,2,2019-11-28 07:16:43,32683,2019-11-28 07:16:43.596174-05:00,2019-11-28,7,3,AM,1
132435,2332981,34245148492,KIP1,BD,0.000000,East,221,AtStation,33,2,2019-11-28 07:17:46,33055,2019-11-28 07:17:43.408500-05:00,2019-11-28,7,3,AM,1
53840,2274355,34245171510,KIP1,BD,0.000000,East,221,AtStation,33,2,2019-11-28 07:18:53,32256,2019-11-28 07:18:51.440586-05:00,2019-11-28,7,3,AM,1
74866,2287408,34245192271,KIP1,BD,0.000000,East,221,AtStation,33,2,2019-11-28 07:19:59,32434,2019-11-28 07:19:59.426707-05:00,2019-11-28,7,3,AM,1
44924,2267760,34245212626,KIP1,BD,2.823427,West,226,Arriving,33,2,2019-11-28 07:20:54,32165,2019-11-28 07:20:51.445349-05:00,2019-11-28,7,3,AM,1
48481,2269461,34245231597,KIP1,BD,2.422204,West,226,Arriving,33,2,2019-11-28 07:21:46,32188,2019-11-28 07:21:43.449989-05:00,2019-11-28,7,3,AM,1
117703,2323263,34245252184,KIP1,BD,1.273126,West,25,Arriving,33,2,2019-11-28 07:22:42,32923,2019-11-28 07:22:43.489851-05:00,2019-11-28,7,3,AM,1
93160,2303952,34245274963,KIP1,BD,0.000000,East,25,AtStation,33,2,2019-11-28 07:23:47,32659,2019-11-28 07:23:44.111042-05:00,2019-11-28,7,3,AM,1
73966,2286743,34245296163,KIP1,BD,1.273126,West,224,Arriving,33,2,2019-11-28 07:24:52,32425,2019-11-28 07:24:51.444872-05:00,2019-11-28,7,3,AM,1
111014,2318801,34245317689,KIP1,BD,0.604911,West,224,Arriving,33,2,2019-11-28 07:25:48,32862,2019-11-28 07:25:43.835381-05:00,2019-11-28,7,3,AM,1
52504,2272904,34245337827,KIP1,BD,1.273126,West,227,Arriving,33,2,2019-11-28 07:26:47,32236,2019-11-28 07:26:43.775705-05:00,2019-11-28,7,3,AM,1
102959,2313006,34245361626,KIP1,BD,0.000000,East,227,AtStation,33,2,2019-11-28 07:27:53,32783,2019-11-28 07:27:50.446513-05:00,2019-11-28,7,3,AM,1
1138,2238290,34245379905,KIP1,BD,0.000000,East,227,AtStation,33,2,2019-11-28 07:28:46,31763,2019-11-28 07:28:43.575102-05:00,2019-11-28,7,3,AM,1
40460,2264987,34245402713,KIP1,BD,0.000000,East,227,AtStation,33,2,2019-11-28 07:29:54,32127,2019-11-28 07:29:51.452551-05:00,2019-11-28,7,3,AM,1

In [9]:
df_newest[['trainid']].drop_duplicates()

        trainid
96041       463
70449       238
108705       23
130034      142
20763       209
...         ...
115229       28
117710       22
8810        762
121716       39
14671       563

[173 rows x 1 columns]

In [38]:
single_train = df_newest[df_newest['trainid'] == 413]

In [39]:
single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_1154/1386873350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

In [40]:
single_train = single_train.sort_values(by = 'request_date')
single_train.tail(20)

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival
29063,2258544,34250820077,SHP1,YUS,0.465838,North,413,Delayed,64,4,2019-11-28 11:49:51,32039,2019-11-28 11:49:51.630220-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:50:19.580479300-05:00
84640,2298488,34250839646,SHP1,YUS,0.465838,North,413,Delayed,30,1,2019-11-28 11:50:45,32585,2019-11-28 11:50:43.827689-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:51:11.777948300-05:00
84881,2298528,34250841187,SHP1,YUS,0.465838,North,413,Delayed,64,4,2019-11-28 11:50:49,32585,2019-11-28 11:50:51.628703-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:51:19.578962300-05:00
82850,2296130,34250860844,SHP1,YUS,0.465838,North,413,Delayed,30,1,2019-11-28 11:51:45,32553,2019-11-28 11:51:43.434108-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:52:11.384367300-05:00
83092,2296170,34250862272,SHP1,YUS,0.465838,North,413,Delayed,64,4,2019-11-28 11:51:50,32553,2019-11-28 11:51:50.631219-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:52:18.581478300-05:00
23024,2256241,34250880566,SHP1,YUS,0.465838,North,413,Delayed,30,1,2019-11-28 11:52:46,32008,2019-11-28 11:52:44.244048-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:53:12.194307300-05:00
23261,2256281,34250882339,SHP1,YUS,0.465838,North,413,Delayed,64,4,2019-11-28 11:52:51,32008,2019-11-28 11:52:51.633406-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:53:19.583665300-05:00
89546,2301589,34250898545,SHP1,YUS,0.465838,North,413,Delayed,30,1,2019-11-28 11:53:46,32627,2019-11-28 11:53:43.645584-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:54:11.595843300-05:00
89788,2301629,34250900180,SHP1,YUS,0.465838,North,413,Delayed,64,4,2019-11-28 11:53:51,32627,2019-11-28 11:53:51.632086-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:54:19.582345300-05:00
42650,2266526,34250914684,SHP1,YUS,0.465838,North,413,Delayed,30,1,2019-11-28 11:54:46,32148,2019-11-28 11:54:43.457715-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:55:11.407974300-05:00
42889,2266566,34250915961,SHP1,YUS,0.465838,North,413,Delayed,64,4,2019-11-28 11:54:51,32148,2019-11-28 11:54:50.633522-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:55:18.583781300-05:00
98928,2307655,34250935188,SHP1,YUS,0.465838,North,413,Delayed,30,1,2019-11-28 11:55:47,32710,2019-11-28 11:55:43.488284-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:56:11.438543300-05:00
99161,2307695,34250936325,SHP1,YUS,0.465838,North,413,Delayed,64,4,2019-11-28 11:55:50,32710,2019-11-28 11:55:50.634483-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:56:18.584742300-05:00
97385,2306389,34250957090,SHP1,YUS,0.465838,North,413,Arriving,64,4,2019-11-28 11:56:51,32692,2019-11-28 11:56:51.634762-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:57:19.585021300-05:00
97142,2306349,34250957090,SHP1,YUS,0.465838,North,413,Arriving,30,1,2019-11-28 11:56:51,32692,2019-11-28 11:56:51.637286-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:57:19.587545300-05:00
62553,2279149,34250993510,BYV1,SHEP,3.434899,East,413,Arriving,65,4,2019-11-28 11:58:40,32321,2019-11-28 11:58:50.635962-05:00,2019-11-28,11,3,AM,1,2019-11-28 12:02:16.729921740-05:00
14541,2248492,34251014053,YIE2,SHEP,0.140940,West,413,Arriving,30,1,2019-11-28 11:59:43,31902,2019-11-28 11:59:43.529269-05:00,2019-11-28,11,3,AM,2,2019-11-28 11:59:51.985644820-05:00
14542,2248492,34251014056,YIE1,SHEP,0.140940,West,413,Arriving,30,1,2019-11-28 11:59:43,31902,2019-11-28 11:59:43.529269-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:59:51.985644820-05:00
14782,2248532,34251014056,YIE1,SHEP,0.140940,West,413,Arriving,64,4,2019-11-28 11:59:50,31902,2019-11-28 11:59:50.637193-05:00,2019-11-28,11,3,AM,1,2019-11-28 11:59:59.093568820-05:00
14781,2248532,34251014053,YIE2,SHEP,0.140940,West,413,Arriving,64,4,2019-11-28 11:59:50,31902,2019-11-28 11:59:50.637193-05:00,2019-11-28,11,3,AM,2,2019-11-28 11:59:59.093568820-05:00

## Creating Trip Ids for Each Train

Terminus are not represented in each trip (ie, its not guaranteed Kipling will show up in the trip)

Trip Ids are only used for the purpose of cleaning up the data, not for any analysis/graph building.

Trip Ids will reset when the train changes direction, or there is a gap larger than 30 minutes.

In [41]:
single_train['trip'] = ((single_train['traindirection'] != single_train['traindirection'].shift(1))
                       | ((single_train['request_date'] - single_train['request_date'].shift(1)).dt.seconds > 1800)
                       ).cumsum() - 1

In [42]:
single_train.groupby('trip').count()

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival
trip,,,,,,,,,,,,,,,,,,,
0,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4

In [43]:
trip_num = single_train['trip'].max()

In [44]:
single_train[single_train['trip']==1].iloc[0:20]

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival,trip
62553,2279149,34250993510,BYV1,SHEP,3.434899,East,413,Arriving,65,4,2019-11-28 11:58:40,32321,2019-11-28 11:58:50.635962-05:00,2019-11-28,11,3,AM,1,2019-11-28 12:02:16.729921740-05:00,1

##### Setting Arrival Times

We're taking the most recent record of the train arriving at a station

API runs once per minute, so the error is limited to minute resolution

In [45]:
def process_trip(single_trip):
    
    single_trip = single_trip[single_trip['timint']<2]
    arrivals = single_trip[['station_char']].drop_duplicates()
    
    arrival_max = single_trip.sort_values(by = 'request_date', ascending = False)
    arrival_max = arrival_max.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]


    arrivals_at_station = single_trip[single_trip['timint']==0]
    arrivals_at_station = arrivals_at_station.sort_values(by = 'estimated_arrival')
    arrivals_at_station  = arrivals_at_station.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]

    arrivals = arrivals.merge(arrival_max, how = 'left')

    arrivals_at_station = arrivals_at_station.rename(columns = {'estimated_arrival':'at_station_time'})
    arrivals = arrivals.merge(arrivals_at_station, how = 'left')
    arrivals['arrival'] = True
    
    arrivals['arrival_time'] = np.where(arrivals['at_station_time'].isna(),
                                        arrivals['estimated_arrival'], arrivals['at_station_time'])



    arrivals = arrivals.sort_values(by = 'estimated_arrival').reset_index(drop = True)
    
    arrivals = arrivals[['station_char', 'arrival', 'arrival_time']].rename(columns =
                                                                        {'arrival_time':'estimated_arrival'})
    if len(arrivals) != 0:
        single_trip = single_trip.merge(arrivals)
    else:
        return -1 # no eligible arrivals, continue to next trip

    single_trip = single_trip.sort_values(by = 'estimated_arrival')
    
    single_trip = single_trip[['station_char', 'subwayline', 'timint','stationid', 'traindirection', 'trip','trainid',
                 'estimated_arrival', 'arrival']]
    
    single_trip = single_trip.reset_index().merge(single_trip.shift(-1).reset_index()[['station_char',
                                                                                       'estimated_arrival','stationid',
                                                                                       'index']], 
                                left_on = 'index', right_on = 'index', suffixes = ['_o', '_d'])
    single_trip = single_trip.dropna()
    return single_trip

In [59]:
arrival_list = []
for i in range(trip_num + 1):
    if i == 0:
        current_arrivals = process_trip(single_train[single_train['trip'] == i])
        if isinstance(current_arrivals, int):
            print('cont')
            continue

    elif isinstance(current_arrivals, int): # when the previous current arrivals does not return a result
        current_arrivals = process_trip(single_train[single_train['trip'] == i])
        if isinstance(current_arrivals, int): # if the successives trip still does not return a result
            print('cont')
            continue

    if i < trip_num:
        next_arrivals = process_trip(single_train[single_train['trip'] == i + 1])
    try:
        arrival_limit = next_arrivals.head(1)[['estimated_arrival_d']].iloc[0,0] - datetime.timedelta(seconds = 45)

    except: # if the next trip doesn't return a result, then the arrival limit id not used

        if len(current_arrivals['station_char_d']) == 0:
            pass
        else:
            arrival_limit = current_arrivals.tail(1)[['estimated_arrival_d']].iloc[0,0] + datetime.timedelta(seconds = 45)

    if len(current_arrivals['station_char_d']) == 1:
        pass
    elif len(current_arrivals['station_char_d']) == 0:
        pass

    elif i < trip_num:

        current_arrivals = current_arrivals[current_arrivals['estimated_arrival_d'] < arrival_limit]
    else:
        pass

    arrival_list.append(current_arrivals.copy())

    current_arrivals = next_arrivals

0
cont
2

In [60]:
arrival_trip = pd.concat(arrival_list)

In [61]:
arrival_trip

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d
0,0,EGL1,YUS,0.125693,27,North,0,413,2019-11-28 11:36:50.900151140-05:00,True,LAW1,2019-11-28 11:40:43.421719-05:00,28.0
1,1,LAW1,YUS,0.000000,28,North,0,413,2019-11-28 11:40:43.421719-05:00,True,YKM1,2019-11-28 11:43:48.174235460-05:00,29.0
2,2,YKM1,YUS,1.081196,29,North,0,413,2019-11-28 11:43:48.174235460-05:00,True,SHP1,2019-11-28 11:57:19.587545300-05:00,30.0
0,0,YIE1,SHEP,0.140940,64,West,2,413,2019-11-28 11:59:59.093568820-05:00,True,YIE2,2019-11-28 11:59:59.093568820-05:00,64.0

In [62]:
if arrival_trip['estimated_arrival_d'].max().hour < 11:
    if arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'BD':
        cutoff = arrival_trip[arrival_trip['stationid_d'] == 55]['estimated_arrival'].max()
        
    elif (arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'YUS') & (arrival_trip.tail(1)['stationid'].iloc[0] == 80):
        cutoff = arrival_trip[arrival_trip['stationid_d'] == 80]['estimated_arrival'].max()
    
    elif arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'YUS':
        cutoff = arrival_trip[arrival_trip['stationid_d'] == 1]['estimated_arrival'].max()
    else:
        cutoff = arrival_trip['estimated_arrival_d'].max()
else:
    cutoff = arrival_trip['estimated_arrival_d'].max()

In [63]:
arrival_trip = arrival_trip[arrival_trip['estimated_arrival_d'] <= cutoff]

In [85]:
arrival_trip = arrival_trip.reset_index(drop = True)

In [86]:
arrival_trip

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d
0,0,VMC1,YUS,0.000000,80,North,0,131,2019-11-28 07:00:43.975824-05:00,True,HWY1,2019-11-28 07:03:43.456263-05:00,79.0
1,1,HWY1,YUS,0.000000,79,North,0,131,2019-11-28 07:03:43.456263-05:00,True,PVL1,2019-11-28 07:05:43.658072-05:00,78.0
2,2,PVL1,YUS,0.000000,78,North,0,131,2019-11-28 07:05:43.658072-05:00,True,YUN1,2019-11-28 07:07:43.659439-05:00,77.0
3,3,YUN1,YUS,0.000000,77,North,0,131,2019-11-28 07:07:43.659439-05:00,True,FIW1,2019-11-28 07:09:43.578619-05:00,76.0
4,4,FIW1,YUS,0.000000,76,North,0,131,2019-11-28 07:09:43.578619-05:00,True,DNP1,2019-11-28 07:12:25.743941840-05:00,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,15,SHW2,YUS,0.000000,1,South,2,131,2019-11-28 11:46:43.429210-05:00,True,DNP2,2019-11-28 11:49:26.564943840-05:00,75.0
89,16,DNP2,YUS,0.707629,75,South,2,131,2019-11-28 11:49:26.564943840-05:00,True,FIW2,2019-11-28 11:51:43.435548-05:00,76.0
90,17,FIW2,YUS,0.000000,76,South,2,131,2019-11-28 11:51:43.435548-05:00,True,YUN2,2019-11-28 11:53:43.647321-05:00,77.0
91,18,YUN2,YUS,0.000000,77,South,2,131,2019-11-28 11:53:43.647321-05:00,True,PVL2,2019-11-28 11:55:50.651075-05:00,78.0
92,19,PVL2,YUS,0.000000,78,South,2,131,2019-11-28 11:55:50.651075-05:00,True,HWY2,2019-11-28 11:57:43.734031-05:00,79.0

In [87]:
arrival_trip = arrival_trip.rename(columns = {'station_char':'arr_stn_char', 'estimated_arrival':'arr_time'})

In [88]:
arrival_trip.iloc[70:100]

,index,station_char_o,subwayline,timint,stationid_o,traindirection,trip,trainid,estimated_arrival_o,arrival,station_char_d,estimated_arrival_d,stationid_d
70,33,YUN2,YUS,0.000000,77,South,1,131,2019-11-28 09:35:43.600635-05:00,True,PVL2,2019-11-28 09:37:43.464222-05:00,78.0
71,34,PVL2,YUS,0.000000,78,South,1,131,2019-11-28 09:37:43.464222-05:00,True,HWY2,2019-11-28 09:40:43.426573-05:00,79.0
72,35,HWY2,YUS,0.000000,79,South,1,131,2019-11-28 09:40:43.426573-05:00,True,VMC2,2019-11-28 09:48:43.614963-05:00,80.0
73,0,UNI2,YUS,0.000000,16,South,2,131,2019-11-28 11:16:43.301351-05:00,True,STA2,2019-11-28 11:19:43.358378-05:00,15.0
74,1,STA2,YUS,0.000000,15,South,2,131,2019-11-28 11:19:43.358378-05:00,True,OSG2,2019-11-28 11:20:43.523823-05:00,14.0
75,2,OSG2,YUS,0.000000,14,South,2,131,2019-11-28 11:20:43.523823-05:00,True,STP2,2019-11-28 11:21:43.734374-05:00,13.0
76,3,STP2,YUS,0.000000,13,South,2,131,2019-11-28 11:21:43.734374-05:00,True,QPK2,2019-11-28 11:22:43.340769-05:00,12.0
77,4,QPK2,YUS,0.000000,12,South,2,131,2019-11-28 11:22:43.340769-05:00,True,MUS2,2019-11-28 11:24:43.859019-05:00,11.0
78,5,MUS2,YUS,0.000000,11,South,2,131,2019-11-28 11:24:43.859019-05:00,True,SGU2,2019-11-28 11:26:43.381374-05:00,10.0
79,6,SGU2,YUS,0.000000,10,South,2,131,2019-11-28 11:26:43.381374-05:00,True,SPA2,2019-11-28 11:28:43.526821-05:00,9.0
80,7,SPA2,YUS,0.000000,9,South,2,131,2019-11-28 11:28:43.526821-05:00,True,DUP2,2019-11-28 11:29:43.792907-05:00,8.0
81,8,DUP2,YUS,0.000000,8,South,2,131,2019-11-28 11:29:43.792907-05:00,True,SCW2,2019-11-28 11:32:43.510061-05:00,7.0
82,9,SCW2,YUS,0.000000,7,South,2,131,2019-11-28 11:32:43.510061-05:00,True,CVL2,2019-11-28 11:36:43.344083-05:00,6.0
83,10,CVL2,YUS,0.000000,6,South,2,131,2019-11-28 11:36:43.344083-05:00,True,GCN2,2019-11-28 11:38:43.539272-05:00,5.0
84,11,GCN2,YUS,0.000000,5,South,2,131,2019-11-28 11:38:43.539272-05:00,True,LWW2,2019-11-28 11:40:43.400459-05:00,4.0
85,12,LWW2,YUS,0.000000,4,South,2,131,2019-11-28 11:40:43.400459-05:00,True,YKD2,2019-11-28 11:42:21.039400900-05:00,3.0
86,13,YKD2,YUS,0.628007,3,South,2,131,2019-11-28 11:42:21.039400900-05:00,True,WIL2,2019-11-28 11:43:43.897222-05:00,2.0
87,14,WIL2,YUS,0.000000,2,South,2,131,2019-11-28 11:43:43.897222-05:00,True,SHW2,2019-11-28 11:46:43.429210-05:00,1.0
88,15,SHW2,YUS,0.000000,1,South,2,131,2019-11-28 11:46:43.429210-05:00,True,DNP2,2019-11-28 11:49:26.564943840-05:00,75.0
89,16,DNP2,YUS,0.707629,75,South,2,131,2019-11-28 11:49:26.564943840-05:00,True,FIW2,2019-11-28 11:51:43.435548-05:00,76.0
90,17,FIW2,YUS,0.000000,76,South,2,131,2019-11-28 11:51:43.435548-05:00,True,YUN2,2019-11-28 11:53:43.647321-05:00,77.0
91,18,YUN2,YUS,0.000000,77,South,2,131,2019-11-28 11:53:43.647321-05:00,True,PVL2,2019-11-28 11:55:50.651075-05:00,78.0
92,19,PVL2,YUS,0.000000,78,South,2,131,2019-11-28 11:55:50.651075-05:00,True,HWY2,2019-11-28 11:57:43.734031-05:00,79.0