In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv('cleaned_subway/raw_subway_2019-12-02_AM.csv')

In [3]:
df['request_date'] = pd.to_datetime(df['request_date'])

In [4]:
df = df.sort_values(by = 'timint')

In [5]:
df['platformid'] = df['station_char'].str[3]

In [6]:
df

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
101304,713150,34353816578,PAP1,BD,0.000000,East,225,AtStation,55,2,2019-12-02 10:52:44,10264,2019-12-02 10:52:44.519723-05:00,2019-12-02,10,0,AM,1
19350,653171,34353340655,EGL1,YUS,0.000000,North,113,AtStation,27,1,2019-12-02 10:32:40,9431,2019-12-02 10:32:37.309955-05:00,2019-12-02,10,0,AM,1
111745,719939,34350533251,SPA1,YUS,0.000000,North,155,AtStation,9,1,2019-12-02 08:36:42,10359,2019-12-02 08:36:37.646941-05:00,2019-12-02,8,0,AM,1
69092,687075,34350435874,GWD1,BD,0.000000,East,237,AtStation,57,2,2019-12-02 08:32:42,9901,2019-12-02 08:32:45.307863-05:00,2019-12-02,8,0,AM,1
19332,653168,34353340462,SUM1,YUS,0.000000,North,119,AtStation,24,1,2019-12-02 10:32:39,9431,2019-12-02 10:32:37.308882-05:00,2019-12-02,10,0,AM,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46298,669839,34352171727,SPA1,YUS,32.599441,North,123,Arriving,47,2,2019-12-02 09:43:46,9661,2019-12-02 09:43:45.348904-05:00,2019-12-02,9,0,AM,1
46035,669795,34352168218,SPA1,YUS,32.599441,North,123,Arriving,9,1,2019-12-02 09:43:38,9661,2019-12-02 09:43:37.816021-05:00,2019-12-02,9,0,AM,1
46310,669840,34352171730,SGU1,YUS,33.777479,North,123,Arriving,48,2,2019-12-02 09:43:46,9661,2019-12-02 09:43:45.348516-05:00,2019-12-02,9,0,AM,1
46047,669796,34352168221,SGU1,YUS,33.777479,North,123,Arriving,10,1,2019-12-02 09:43:38,9661,2019-12-02 09:43:37.816409-05:00,2019-12-02,9,0,AM,1
46053,669797,34352168490,MUS1,YUS,35.031915,North,123,Arriving,11,1,2019-12-02 09:43:38,9661,2019-12-02 09:43:37.816779-05:00,2019-12-02,9,0,AM,1

# Filtering for only the most recent data in a request

Since each request has multiple train arrival times.

We're filtering on `station_char` and `requestid`. This might cause an issue with terminus, but we'll deal with it later.

In [7]:
df_newest = df.drop_duplicates(subset = ['requestid', 'station_char'])

In [30]:
df_newest[df_newest['station_char'] == 'FIN1'].sort_values(by = 'request_date').head(30)

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid
91308,704435,34348251392,FIN1,YUS,2.745395,North,147,Arriving,32,1,2019-12-02 07:00:39,10143,2019-12-02 07:00:37.549700-05:00,2019-12-02,7,0,AM,1
29199,659182,34348275007,FIN1,YUS,1.343511,North,147,Arriving,32,1,2019-12-02 07:01:40,9514,2019-12-02 07:01:37.644926-05:00,2019-12-02,7,0,AM,1
101573,713195,34348299005,FIN1,YUS,0.559995,North,147,Arriving,32,1,2019-12-02 07:02:40,10265,2019-12-02 07:02:37.613505-05:00,2019-12-02,7,0,AM,1
48871,671140,34348321820,FIN1,YUS,0.000000,North,147,AtStation,32,1,2019-12-02 07:03:49,9679,2019-12-02 07:03:44.746057-05:00,2019-12-02,7,0,AM,1
93542,706846,34348343223,FIN1,YUS,0.000000,North,147,AtStation,32,1,2019-12-02 07:04:46,10177,2019-12-02 07:04:44.733301-05:00,2019-12-02,7,0,AM,1
131489,733205,34348368625,FIN1,YUS,0.000000,North,147,Delayed,32,1,2019-12-02 07:05:48,10542,2019-12-02 07:05:44.746218-05:00,2019-12-02,7,0,AM,1
124786,728649,34348390340,FIN1,YUS,0.000000,North,147,Delayed,32,1,2019-12-02 07:06:40,10480,2019-12-02 07:06:37.703654-05:00,2019-12-02,7,0,AM,1
39924,663931,34348415694,FIN1,YUS,0.000000,North,147,Delayed,32,1,2019-12-02 07:07:41,9580,2019-12-02 07:07:37.586290-05:00,2019-12-02,7,0,AM,1
75639,693406,34348437369,FIN1,YUS,0.559995,North,149,Arriving,32,1,2019-12-02 07:08:40,9990,2019-12-02 07:08:37.341080-05:00,2019-12-02,7,0,AM,1
72945,690960,34348461288,FIN1,YUS,0.000000,North,149,AtStation,32,1,2019-12-02 07:09:39,9955,2019-12-02 07:09:37.446996-05:00,2019-12-02,7,0,AM,1
37699,662646,34348484717,FIN1,YUS,0.000000,North,149,AtStation,32,1,2019-12-02 07:10:39,9562,2019-12-02 07:10:37.726206-05:00,2019-12-02,7,0,AM,1
33674,660845,34348508218,FIN1,YUS,0.000000,North,149,AtStation,32,1,2019-12-02 07:11:39,9537,2019-12-02 07:11:37.426760-05:00,2019-12-02,7,0,AM,1
83691,699249,34348533422,FIN1,YUS,0.739289,North,152,Arriving,32,1,2019-12-02 07:12:40,10071,2019-12-02 07:12:37.644531-05:00,2019-12-02,7,0,AM,1
90413,703991,34348555604,FIN1,YUS,0.559995,North,152,Arriving,32,1,2019-12-02 07:13:41,10137,2019-12-02 07:13:37.626429-05:00,2019-12-02,7,0,AM,1
73836,691657,34348579260,FIN1,YUS,0.000000,North,152,AtStation,32,1,2019-12-02 07:14:40,9965,2019-12-02 07:14:37.409522-05:00,2019-12-02,7,0,AM,1
56005,677028,34348603555,FIN1,YUS,0.000000,North,152,AtStation,32,1,2019-12-02 07:15:42,9761,2019-12-02 07:15:37.905780-05:00,2019-12-02,7,0,AM,1
65333,684781,34348624929,FIN1,YUS,0.000000,North,152,Delayed,32,1,2019-12-02 07:16:39,9870,2019-12-02 07:16:37.804729-05:00,2019-12-02,7,0,AM,1
129246,731456,34348648792,FIN1,YUS,0.559995,North,153,Arriving,32,1,2019-12-02 07:17:39,10518,2019-12-02 07:17:37.649813-05:00,2019-12-02,7,0,AM,1
25175,656774,34348672752,FIN1,YUS,0.000000,North,153,AtStation,32,1,2019-12-02 07:18:49,9481,2019-12-02 07:18:44.744971-05:00,2019-12-02,7,0,AM,1
15371,648875,34348694338,FIN1,YUS,0.000000,North,153,AtStation,32,1,2019-12-02 07:19:45,9371,2019-12-02 07:19:44.727750-05:00,2019-12-02,7,0,AM,1
57355,679031,34348717242,FIN1,YUS,0.000000,North,153,AtStation,32,1,2019-12-02 07:20:40,9790,2019-12-02 07:20:37.346070-05:00,2019-12-02,7,0,AM,1
23816,656055,34348747183,FIN1,YUS,0.963407,North,155,Arriving,32,1,2019-12-02 07:21:54,9471,2019-12-02 07:21:52.731176-05:00,2019-12-02,7,0,AM,1
45728,669670,34348766348,FIN1,YUS,0.559995,North,155,Arriving,32,1,2019-12-02 07:22:40,9659,2019-12-02 07:22:37.703456-05:00,2019-12-02,7,0,AM,1
38591,663043,34348788793,FIN1,YUS,0.000000,North,155,AtStation,32,1,2019-12-02 07:23:40,9568,2019-12-02 07:23:37.443893-05:00,2019-12-02,7,0,AM,1
62236,682523,34348810848,FIN1,YUS,0.000000,North,155,AtStation,32,1,2019-12-02 07:24:38,9838,2019-12-02 07:24:37.585958-05:00,2019-12-02,7,0,AM,1
100236,712207,34348834824,FIN1,YUS,0.000000,North,155,AtStation,32,1,2019-12-02 07:25:41,10251,2019-12-02 07:25:37.622295-05:00,2019-12-02,7,0,AM,1
30546,659957,34348862337,FIN1,YUS,0.000000,North,155,Delayed,32,1,2019-12-02 07:26:48,9525,2019-12-02 07:26:44.741486-05:00,2019-12-02,7,0,AM,1
28747,659108,34348884341,FIN1,YUS,0.559995,North,157,Arriving,32,1,2019-12-02 07:27:41,9513,2019-12-02 07:27:37.469715-05:00,2019-12-02,7,0,AM,1
2444,641059,34348909962,FIN1,YUS,0.000000,North,157,AtStation,32,1,2019-12-02 07:28:53,9262,2019-12-02 07:28:53.720920-05:00,2019-12-02,7,0,AM,1
105152,715218,34348927798,FIN1,YUS,0.000000,North,157,AtStation,32,1,2019-12-02 07:29:39,10293,2019-12-02 07:29:37.380495-05:00,2019-12-02,7,0,AM,1

In [31]:
df_newest[['trainid']].drop_duplicates()

        trainid
101304      225
19350       113
111745      155
69092       237
19332       119
...         ...
132175       49
94317       502
133163      800
45270        15
52852        64

[198 rows x 1 columns]

In [87]:
single_train = df_newest[df_newest['trainid'] == 141]

In [88]:
single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_68322/1386873350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single_train['estimated_arrival'] = single_train['request_date'] + pd.to_timedelta(single_train['timint'], 'm')

In [89]:
single_train = single_train.sort_values(by = 'request_date')
single_train.tail(20)

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival
65604,684827,34353045560,LWW2,YUS,0.000000,South,141,AtStation,4,1,2019-12-02 10:20:36,9871,2019-12-02 10:20:37.675168-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:20:37.675168-05:00
91565,704701,34353093667,YKD2,YUS,0.000000,South,141,AtStation,3,1,2019-12-02 10:22:38,10147,2019-12-02 10:22:38.084879-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:22:38.084879-05:00
47784,670592,34353141714,WIL2,YUS,0.000000,South,141,AtStation,2,1,2019-12-02 10:24:37,9672,2019-12-02 10:24:37.671551-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:24:37.671551-05:00
9834,645992,34353239224,SHW2,YUS,1.599459,South,141,Arriving,1,1,2019-12-02 10:28:36,9332,2019-12-02 10:28:37.516413-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:30:13.483969980-05:00
60707,682081,34353263711,SHW2,YUS,0.000000,South,141,AtStation,1,1,2019-12-02 10:29:37,9832,2019-12-02 10:29:37.566813-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:29:37.566813-05:00
86826,701712,34353289274,DNP2,YUS,2.830456,South,141,Arriving,75,1,2019-12-02 10:30:40,10106,2019-12-02 10:30:37.815341-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:33:27.642702560-05:00
75199,692936,34353314508,DNP2,YUS,0.707629,South,141,Arriving,75,1,2019-12-02 10:31:40,9983,2019-12-02 10:31:37.436351-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:32:19.894070840-05:00
96709,709965,34353366118,FIW2,YUS,1.553902,South,141,Arriving,76,1,2019-12-02 10:33:48,10220,2019-12-02 10:33:45.528302-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:35:18.762438800-05:00
128368,730941,34353386849,FIW2,YUS,0.000000,South,141,AtStation,76,1,2019-12-02 10:34:41,10511,2019-12-02 10:34:37.807826-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:34:37.807826-05:00
3797,642575,34353411299,FIW2,YUS,0.000000,South,141,AtStation,76,1,2019-12-02 10:35:40,9284,2019-12-02 10:35:37.496465-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:35:37.496465-05:00
59159,679700,34353436965,YUN2,YUS,2.412801,South,141,Arriving,77,1,2019-12-02 10:36:41,9799,2019-12-02 10:36:37.352016-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:39:02.120094180-05:00
43534,667842,34353461826,YUN2,YUS,2.412801,South,141,Arriving,77,1,2019-12-02 10:37:39,9634,2019-12-02 10:37:37.975203-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:40:02.743281180-05:00
99815,711914,34353534464,YUN2,YUS,2.412801,South,141,Delayed,77,1,2019-12-02 10:40:40,10247,2019-12-02 10:40:37.575661-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:43:02.343739180-05:00
3359,641923,34353558956,YUN2,YUS,2.412801,South,141,Delayed,77,1,2019-12-02 10:41:39,9275,2019-12-02 10:41:37.329334-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:44:02.097412180-05:00
22067,655246,34353583676,YUN2,YUS,2.412801,South,141,Delayed,77,1,2019-12-02 10:42:38,9460,2019-12-02 10:42:37.636069-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:45:02.404147180-05:00
22072,655247,34353583679,PVL2,YUS,4.364902,South,141,Delayed,78,1,2019-12-02 10:42:38,9460,2019-12-02 10:42:37.636413-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:46:59.530549800-05:00
116379,723242,34353607259,YUN2,YUS,2.412801,South,141,Arriving,77,1,2019-12-02 10:43:39,10405,2019-12-02 10:43:37.273531-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:46:02.041609180-05:00
116384,723243,34353607262,PVL2,YUS,4.364902,South,141,Arriving,78,1,2019-12-02 10:43:39,10405,2019-12-02 10:43:37.273873-05:00,2019-12-02,10,0,AM,2,2019-12-02 10:47:59.168009800-05:00
52452,673323,34353678359,DNP1,YUS,0.000000,North,141,AtStation,75,1,2019-12-02 10:46:49,9710,2019-12-02 10:46:45.533341-05:00,2019-12-02,10,0,AM,1,2019-12-02 10:46:45.533341-05:00
62927,683060,34353717917,SHW1,YUS,0.232319,North,141,Arriving,1,1,2019-12-02 10:48:37,9846,2019-12-02 10:48:37.471173-05:00,2019-12-02,10,0,AM,1,2019-12-02 10:48:51.410326080-05:00

## Creating Trip Ids for Each Train

Terminus are not represented in each trip (ie, its not guaranteed Kipling will show up in the trip)

Trip Ids are only used for the purpose of cleaning up the data, not for any analysis/graph building.

In [90]:
single_train['trip'] = (single_train['traindirection'] != single_train['traindirection'].shift(1)).cumsum() - 1

In [91]:
single_train.groupby('trip').count()

,requestid,id,station_char,subwayline,timint,traindirection,trainid,train_message,stationid,lineid,create_date,pollid,request_date,date,hour,dow,period,platformid,estimated_arrival
trip,,,,,,,,,,,,,,,,,,,
0,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80
1,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86
2,89,89,89,89,89,89,89,89,89,89,89,89,89,89,89,89,89,89,89
3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [38]:
trip_num = single_train['trip'].max()

## Setting Arrival Times

Must select latest possible request that the train isn't arrived at the station, for a "best guess" of when a train arrives at a station. If a station doesn't have that time, then we need to take the earliest time a station is waiting at a station.

If earlier requests show an earlier arrival time, ignore as that means the train was delayed, and the latest request will show an updated/delayed arrival time.

API runs once per minute, so the error is limited to minute resolution

In [92]:
def process_trip(single_trip):

    arrivals = single_trip[['station_char']].drop_duplicates()
    arrival_max = single_trip[single_trip['timint']!=0]
    arrival_max = arrival_max.sort_values(by = 'request_date', ascending = False)
    arrival_max = arrival_max.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]

    arrivals_at_station = single_trip[single_trip['timint']==0]
    arrivals_at_station = arrivals_at_station.sort_values(by = 'estimated_arrival')
    arrivals_at_station  = arrivals_at_station.drop_duplicates(subset = ['station_char'])[['station_char',
                                                                                           'estimated_arrival']]
    arrivals = arrivals.merge(arrival_max, how = 'left')

    arrivals_at_station = arrivals_at_station.rename(columns = {'estimated_arrival':'at_station_time'})
    arrivals = arrivals.merge(arrivals_at_station, how = 'left')
    arrivals['arrival'] = True

    arrivals['estimated_arrival'] = np.where(arrivals['estimated_arrival'].isna(), 
                                             arrivals['at_station_time'], arrivals['estimated_arrival'])

    arrivals['estimated_arrival'] = np.where(arrivals['estimated_arrival']>arrivals['at_station_time'], 
                                             arrivals['at_station_time'], arrivals['estimated_arrival'])

    arrivals = arrivals[['station_char', 'estimated_arrival', 'arrival']]

    departures = single_trip[['station_char']].drop_duplicates()
    departures_max = single_trip[single_trip['timint'] == 0]
    departures_max = departures_max.sort_values(by = 'estimated_arrival', ascending = False)
    departures_max = departures_max.drop_duplicates(subset = ['station_char'])[['station_char', 'estimated_arrival']]

    departures = departures.merge(departures_max, how = 'left')
    departures['departure'] = True

    departures = departures.merge(arrivals.rename(columns = {'estimated_arrival':'before_station_time'}))

    departures['estimated_arrival'] = np.where(departures['estimated_arrival'].isna(), departures['before_station_time'], departures['estimated_arrival'])
    departures = departures[['station_char', 'estimated_arrival', 'departure']]

    single_trip = single_trip.merge(arrivals, how = 'left')
    single_trip = single_trip.merge(departures, how = 'left')

    single_trip = single_trip.sort_values(by = 'estimated_arrival')
    
    single_trip = single_trip[['station_char', 'subwayline', 'timint', 'traindirection', 'trip','trainid',
                 'stationid', 'estimated_arrival', 'arrival', 'departure']]
    
    return single_trip[~single_trip['departure'].isna()].reset_index(drop = True), single_trip[~single_trip['arrival'].isna()].reset_index(drop = True)

In [112]:
arrival_list = []
departure_list = []
for i in range(trip_num + 1):
    if i == 0:
        current_departures, current_arrivals = process_trip(single_train[single_train['trip'] == i])
    
    if i < trip_num:
        next_departures, next_arrivals = process_trip(single_train[single_train['trip'] == i + 1])

    arrival_limit = next_arrivals.head(1)[['estimated_arrival']].iloc[0,0] - datetime.timedelta(seconds = 45)
    
    if len(current_arrivals['station_char']) == 1:
        pass

    elif i < trip_num:
    
        current_departures = current_departures[current_departures['estimated_arrival'] < arrival_limit]
        current_arrivals = current_arrivals[current_arrivals['estimated_arrival'] < arrival_limit]
    else:
        pass

    arrival_list.append(current_arrivals.copy())
    departure_list.append(current_departures.copy())

    current_arrivals = next_arrivals
    current_departures = next_departures

In [113]:
arrival_trip = pd.concat(arrival_list)
departure_trip = pd.concat(departure_list)

In [114]:
if arrival_trip['estimated_arrival'].max().hour < 11:
    if arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'BD':
        cutoff = arrival_trip[arrival_trip['stationid'] == 55]['estimated_arrival'].max()
        
    elif (arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'YUS') & (arrival_trip.tail(1)['stationid'].iloc[0] == 80):
        cutoff = arrival_trip[arrival_trip['stationid'] == 80]['estimated_arrival'].max()
    
    elif arrival_trip['subwayline'].drop_duplicates().iloc[0] == 'YUS':
        cutoff = arrival_trip[arrival_trip['stationid'] == 1]['estimated_arrival'].max()
    else:
        cutoff = arrival_trip['estimated_arrival'].max()

In [115]:
arrival_trip = arrival_trip[arrival_trip['estimated_arrival'] <= cutoff]
departure_trip = departure_trip[departure_trip['estimated_arrival'] <= cutoff]

In [122]:
arrival_trip = arrival_trip.reset_index(drop = True).reset_index()

In [123]:
departure_trip = departure_trip.reset_index(drop = True).reset_index()
departure_trip['index'] = departure_trip['index'] + 1

In [129]:
departure_trip = departure_trip.rename(columns = {'station_char':'dep_stn_char', 'estimated_arrival':'dep_time'})
arrival_trip = arrival_trip.rename(columns = {'station_char':'arr_stn_char', 'estimated_arrival':'arr_time'})

In [132]:
arrival_trip

,index,arr_stn_char,subwayline,timint,traindirection,trip,trainid,stationid,arr_time,arrival,departure
0,0,DAV2,YUS,0.256391,South,0,141,26,2019-12-02 07:01:53.026268279-05:00,True,True
1,1,STC2,YUS,0.399228,South,0,141,25,2019-12-02 07:04:16.676465100-05:00,True,NaN
2,2,SUM2,YUS,0.000000,South,0,141,24,2019-12-02 07:05:37.566366-05:00,True,True
3,3,ROS2,YUS,0.000000,South,0,141,23,2019-12-02 07:06:37.700458-05:00,True,True
4,4,BLO2,YUS,0.818776,South,0,141,50,2019-12-02 07:08:33.858617260-05:00,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...
81,81,SHW2,YUS,0.000000,South,2,141,1,2019-12-02 10:29:37.566813-05:00,True,True
82,82,DNP2,YUS,0.707629,South,2,141,75,2019-12-02 10:32:19.894070840-05:00,True,True
83,83,FIW2,YUS,0.000000,South,2,141,76,2019-12-02 10:34:37.807826-05:00,True,NaN
84,84,DNP1,YUS,0.000000,North,3,141,75,2019-12-02 10:46:45.533341-05:00,True,True
85,85,SHW1,YUS,0.232319,North,3,141,1,2019-12-02 10:48:51.410326080-05:00,True,True

In [140]:
train = departure_trip.merge(arrival_trip[['index', 'arr_stn_char', 'arr_time']]).rename(
    columns = {'index':'sequence'})[['sequence','dep_stn_char', 'arr_stn_char', 'subwayline', 'trainid',
                                         'trip', 'dep_time', 'arr_time']]

In [141]:
train

,sequence,dep_stn_char,arr_stn_char,subwayline,trainid,trip,dep_time,arr_time
0,1,DAV2,STC2,YUS,141,0,2019-12-02 07:01:53.026268279-05:00,2019-12-02 07:04:16.676465100-05:00
1,2,STC2,SUM2,YUS,141,0,2019-12-02 07:04:37.701206-05:00,2019-12-02 07:05:37.566366-05:00
2,3,SUM2,ROS2,YUS,141,0,2019-12-02 07:05:37.566366-05:00,2019-12-02 07:06:37.700458-05:00
3,4,ROS2,BLO2,YUS,141,0,2019-12-02 07:06:37.700458-05:00,2019-12-02 07:08:33.858617260-05:00
4,5,BLO2,WEL2,YUS,141,0,2019-12-02 07:08:44.732033-05:00,2019-12-02 07:09:37.057624360-05:00
...,...,...,...,...,...,...,...,...
80,81,WIL2,SHW2,YUS,141,2,2019-12-02 10:24:37.671551-05:00,2019-12-02 10:29:37.566813-05:00
81,82,SHW2,DNP2,YUS,141,2,2019-12-02 10:29:37.566813-05:00,2019-12-02 10:32:19.894070840-05:00
82,83,DNP2,FIW2,YUS,141,2,2019-12-02 10:32:19.894070840-05:00,2019-12-02 10:34:37.807826-05:00
83,84,FIW2,DNP1,YUS,141,2,2019-12-02 10:35:37.496465-05:00,2019-12-02 10:46:45.533341-05:00
84,85,DNP1,SHW1,YUS,141,3,2019-12-02 10:46:45.533341-05:00,2019-12-02 10:48:51.410326080-05:00